{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://eem8awwavp.us-east-1.awsapprunner.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/compress-extreme-image": {
      "post": {
        "description": "Compresses an image to an extreme degree, reducing file size significantly and returns the compressed image for download.",
        "requestBody": {
          "description": "Image file to be compressed.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file to compress."
                  }
                },
                "required": ["image"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Compressed image returned for download.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Possible issues: invalid image file or compression service failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Image compression failed: Invalid image file."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred during compression.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Image compression failed."
                    },
                    "details": {
                      "type": "string",
                      "example": "An unexpected error occurred: Memory allocation issue."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document-identification": {
      "post": {
        "summary": "Identifies the card, its side, and if it's blurry or grayscale",
        "description": "This API is designed to detect and classify identity cards, such as PAN and Aadhar cards, from input images. The service returns information about the detected card, whether the image is grayscale, and whether the image is blurry.",
        "requestBody": {
          "description": "Image file to be analyzed for card identification.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file to analyze."
                  }
                },
                "required": ["image"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The card identification result, including card type, side, and image quality status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "card": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The type of card identified (e.g., 'pan', 'adr_front', 'adr_back')."
                      },
                      "description": "The type of card detected."
                    },
                    "is_grayscale": {
                      "type": "boolean",
                      "description": "Indicates if the image is grayscale."
                    },
                    "is_blur": {
                      "type": "boolean",
                      "description": "Indicates if the image is blurry."
                    }
                  },
                  "example": {
                    "card": ["pan"],
                    "is_grayscale": false,
                    "is_blur": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Possible issues: invalid image file or detection failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Card detection failed: Invalid image file."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred during card detection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Card detection failed."
                    },
                    "details": {
                      "type": "string",
                      "example": "An unexpected error occurred: Memory allocation issue."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pan-signature-extraction": {
      "post": {
        "summary": "Extract the signature of the person from a PAN card",
        "description": "This endpoint processes the image of a PAN card and extracts the person's signature, returning it as a PNG image. The image must clearly show the signature section of the PAN card to ensure accurate extraction.",
        "requestBody": {
          "description": "Image file of the PAN card from which the signature is to be extracted.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file of the PAN card to extract the signature from."
                  }
                },
                "required": ["image"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The extracted signature as a PNG image.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "example": "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAqoAAADoCAYAAAAnisYkAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAP+lSURBVHhe7P3Xk2RJlt+PndCpZcmuqtZqelrP7MxgMYNdLAT3R4BPgNGwMGDHsDDA9p1v5MuY8YX8D2hGI4y/J4o3LsgfFruDBXZH9Ojpaa2qu7TOrNQZERmC5+M3v5WenjeyIipFZ3fXN+vUjbjX/fhR7n6uxxWFv/qrv+oWCgWD+kGn07Fms2nlctkqlUogPoNutxu2At/r9frmty1Uq1UrFou2sbFxj+A7PDy8WSID9SlLGynW1tY2P90f6+vroT3JC0mPFENDQ6GsgF1oa25uzsbGxoI8yBvzRH/2s6V8ns5HAa1WyxqNRt++Pkxgx3a7HWyHb/DDSNltutq0wvawCnpQNkWtVtv8dH/gvzReDwqKkxSK+/sBfy0vLwc+4+PjQU/0xw47dPayTfdxy3nz+X6ABwQUF2wnJiaCfdQ/6SuFkZpVZsatk9htcXFxhx7IimylUulen6N/EH/96Awom/oZvsRGDORdXV0NcqotiLL9tjUoBhlTvkjQmAsdVv9Qn/+iQHNfCmIiBTGSN95i37z9e0Ven6Ed5EiBzfvxMWXoy5rnjxrSORugW948rDFpP4F96fdhjEx8OjIysvnp4IHfkUHxCQ065uYB22rO0XygsfawYqJIEkYH67fTIDTGF42OjgZismOygJ8or+N+EYGDCHq2OIaEdXp6OneweoiDR5z8xHRUESd8MR1WItAL9HkGsaWlpRDbDPjHjh2zRx55JNi4X/nyfEE/OUz9vmgx8RBfXNB343lOxGROzNGv6E9KGklK07jsd77dL6TtQ3nJ60M8xFFEkQGegB1kUqHzpUTHg1dKXwYw0Bw/ftxmZmZsamoqrGpBg9rtIfYHxJVWfWI6qtBKW0pHZRWJOCaxxIYkq+kvG/cDk17qi8M60wb0QckfE3I9xEPsN+gv6TwHkagSdxxnTtRKVhqX0GEmqsiTto+sD+evh/iioMhPfCRd/YIOyM+QIlZj+OmPSQFeMbHS2i/oMHkE9tqpY16DgnoahACrxFwGcPXq1TAQHfaZ8ZcV2FG2TH0f72fgjycF0UEmJTS/KUJALF8/oGy6mgqhyyC8KCd7QIPUBbJjDJJSTr7YahUU2WJ0O2rH2/f/U6qQJJKsRlR2HwmxzEL6PdaD/Uyi8fEYqhsfpzwxgA5KnHvFhOyW0oNA9STPg/IRUr32ItuDQjKkdJQhO8W0H0h50meJK+ZMflkT6ZIcjjE+UY5f4filUbEY00FBcgr6nCcDPlX5mGLE+/NiID4eUx7iWIrpy4A8G0CHjcNsk7b69d9e5Art/OhHP/JtN6zw3A8IxSRGckqgE/x0TiYHLgOgg5LI0jm10qrr32JQDl50ZpUDg6zkpJPpbtDAgZ7Iisx8z7vkgRWldB86MOjoDJTP1EVndXj4clzlDwJ5OqOb2o2RV1b2ThH7TbqwD1BHlFd3N8AntWUvUE4DO4M+fujUm7Zxx0+CSlurZdgb3fJs3E8MBxQ8GWut+of+9Gk2NzK7uE1KrlO5XArJ20YrtbHr2mFld/svCdiNk5oYxJEuH0EXiHKKUX1XAobOfJdvkIdjxCB1OCY/qW4MyiCD6vNdPPlO38Pm8nvMj89Qt+z6VT2ZDSV2h6fh1ui4/M4POeELiZ/8hzzoJzvgQ+TkM+XzYlu6i6++A7UDAX6STdGL7yB9hn3ITEzCS7bCrikoS5voynF0o6xkjIEMlKGsSL76vEGMYOsYvewzCLBHnt36ReibbqcUyIV8/QAfyjeyf16ccEwLMfBXG6qrhRv20zdJYplvUv32qnMvSA4IKIaI0xT0NZUTqM9+9JYNIGycJy99IAWxCo80VvJAO3n9YBAgZ9qW7JACX+y1vUH6Yp59Dgrqi7IpxOe9xpr6l/hrK/4psI9kYAtRB+oHKks97Me28Nd//ddBg36CCiAgSRoMcDokZ3BMEw2EceioKdiftocwaaJKGfFKy/crL2DFCB5KNhlAMCYroykfkoc0kNGL+gJ1IPRIAyBPt/0AfNNrftmnBC6Vgwk63QfyZKM+fpN9SFjwK8BOBDpbKI9nL8SJz/1AOQ3wp0+fDjLdvXnb6jfnbWRo+N6qBav08/Pzdvfu3SDrA6HQtkLJE9XCzoEsD1x7XShkF5QPOVVr1dCRsPF2e7o87VF3zPZJgbJx/ADseOrUqcBTsaky7MPX2JsBQqud+Ig24YdtlVzKPxznMzKltqE97CvfSn7qsG9ycjL0CwAvQfp5xIfEvN6o58ZQig13e90T264XjWOGtuGvWKZtfEvb7NMvNchGv+V4XB+5sRXxQoww9kCxTHH5VFaOqV4K2kwhu6Z8aD/Eg8snW7KFdwrq0x5lAXrip15lAf4WAe0/DCAb/TAG+hMjsR34jFzEbWqfQbCXuqDX3KET336Af/AfvmEr38r+AvGj1VR0V3woBuhjjBeMU1zrTX3iOdVxrzr3Ql7/Is6wRQpkjvsK4Dv+RG54idiX+pnPeXZH/2zM3K5jakuA7/L2D4JUByHPxujS75yUB9pKxwn2yU559vwyAD3y7JmCcsQePtXYDNEP6Sf348FxylGeeswL8Cp9//vf/0E/AgiUhXA2QcZnBjWCXoEPKQDzgqJXe3kBK95qVzQIkEEDCrLxnc8rKyuBN21AGIcBJpWZOunAzb48DCpbvxBfZEspr00N0LKXKA/wkP6UwQ/yhfwq34KUZy+CR5ow5QG+DP6UpR0ClGBfurtgI8Xsp2T2Kd4YdPFn2l7/5HoUPClMHyfQA9QplbIzQ8mIvXbGgNs3JKn5A6Hqi7A7NkcX8cvayvbTDuXQnf2UURyyj3IMmtgDe4lUJwX8mLSUIPGdiYxrr1khYlBQPDEpcVzU7myuTmG6Pv46xYK1cL2bJLN5RvAP/FwPviMncYLu2AG9Zde8SYVj1GW/bCiZhbi9FNoPn1g/UQrKxu2IqK9+wmf1N46lkLzqU/JtXlnGH/xDu9gD3ypxOCzQPgmIJl8Rdkghf8iuD0J7BTxS+8gnbPuBfKo68m2efPgOvyghg+iHJKTw0UkfvJhnsFusbx7P/QLtI5/iER1on31x++xDZggZRcQcYwJ8JDd18XEvW3JcRDm2AB4xaXU5Jvar/IMi1iumPMgeewG2TdtBj73yPcroZc88EAPYIva9YqMfPool6mnuG9iyVCLANBES2AQ4gylbCRlPiJ83JKOIQYaAPXHiRLhJSsR3jNPv4HbYkE1j+rJ0DvxBTKGPJgyIQVOxRmwRZ2wPE7GtaZsYIqb6BX0m9hlEHyKpZHJjq4llEH9iJ+SBZC+oV/ymMkAkJEwgmpxk+7i/iCTjfoNBCb+KP7EQy7Pf6KVfHuKxLKZBBu5+ga7oDsFfvoAOor080CY66wQipofIQN9XcgrpMzEUz4/ql0cV6bgBsU/yowv7dhtz0z4EAXikfSaNJ9o4yvPtQxwdDJzlMIjFyQOBTOKnM3++E3wKzqOAvM5EJ9RPODENkigcJpA37vQibP1lAPHDYE/8hBjzBIrVpdpmrGnQpBxbvh8WNOgiF20T54MkqtRL/QZPdGFVn60mgkH0oix9ESLhFOUlFZTFjrEMmijQiT6B/bnGbmFhIeiY9plek9VeQaKKDWRT5Eeng+qL6JHqBuUhHstiOgjgI3ygeKBt7MDq3GFN5siAH5AjXqWHHiIDNkoTLraMV/iJPoT9iBP641EF8mn8SClvzM1D2ocYN0BeogqfOJ6wEXVo5yEeYjcMPBOok2oS0ZIugcxnOiplGGQpdxQgGUVawWFA0TVxIo4dVWDTmOSHL/oZKfHCoIX9mSTRbXR0JPwcHW5gcgLy42H7SPZGTmytOOp3gFV/SAlddXInnQZJzijLyVZ8wsVnJpm8mEjbJ35olwkE+5M0c40diSoySU/RQdkdWdUekGz92ncQyId5+qWgHDZGltR2ByEbYHUOPyAf7eJTEqDDBMmDftIWER95MfVVBP2LBDRN7rimmj7CNfTMLSRrSl6PGpAJ+fIWaxTjKkffQK805nUsJRD3FRHJaRpXxNpDPMT9UPjhD3/YsxcRyPHESaAyuZJQMIiKCEIFcbzVJNgPKJ+efbKPQN7rWRdyIDeDP2d2JEDoRqfS2SKDD4MN++KBhXZJJqQz5SB0Rq6DmrzzkGeDXoNg3n70xA4p4Et51eG72or58JnVHYDu2I4t+7GH4kH2IXawD+1STgMZZbA1W/kAuTQYUo9tqd21oaYnC5EqsTwxKI9P5Wv5GzmQZxsKPpgWl7NtBCUlkkFxzSQNX7WtLce2w/tKzs1U8CHu0FWywY+kcNjtcOz48SC7VhqQgTaguA3ikOPUxX74golQfpXOHM8DnMqb8UsbkFY20FdtUp/vKSiPHv2gUy1ZZ7RqqSToo3b0HaS60v6tW7eCLFzzh76UkZ5xWT4jF3buB2o7RcwzRt5+5GK/jkmnvLLaf7+yfOckgThBH0ixSx9h3CKRwDa0T0Lb79gon8dAhrzxmf15yIsJxR681Yb6Tb8grnvFbIp0TgLUxQ4p8vRALmIpBfXpB3H/gnrFlPRTG2zRAyAfvlP9PN2we5582FD1sC3l+Jxn+zxonBVv5KQudusXsW4xnzzk6UDZvPK9fNyLdwrsgH3icVR9JbVPL52xTyoH7efFRC/00vmLBOxGrGNP7KTxhngj7vYC7BPbg895NgPIkEJ+Fg+2u0Y/BVICODoOYIJCFJc7KlBH12AK8Vmyxjr0kj019OehIzKk1AuxbjHl1dE+lQF5/FVf+7FXOoiKR54tVVf107b0nfiiIynOYtoNee2BdH8vUC6WiQ4bUyzTg0A6QPAKtnPiuwZP7Cb+qdwci4njMc9Am3ykS0xwpZ1YBx3TZ/jSP9K2IJXrF+Idk/bHPPVdnyGAfeinafKjrSDd+0XcTky9cM+2Eam8voNePAYpK6is/CVoH5M02/vxAdShXB7lIa8cJJliimMJ5NW7Hw2KPB6pXLFMKfLqQ4rJODbz+ELyi74D+YNYhVQuD3G7MYkXn4G+94tYHpB+7wdxHcnVCzoeExCPmPLKQoMgLQ/fXkjbUd1UrkHRi+8XCcisGAfYIe3LD4rUHvfjKT+IALIJ7OvvNO0LDiZerU4oSWUgeYjBwRmpzkoJJtn1ywB1XnTTCgs/4bFSojN46b/Xs06glQDOYiHaZ18edJLFcVGe3enmxHZcrldZ0Ktsug9ChsMEv7Cwgshqh9rWQPZVguIS3YlBViH4hWc/YvAhMhBfcayrDxwU8vrYYfevh/jqgjGFlVTFHAsng/yycdj4SiWqothBDzEYlKhpRVA2/aInEMivM0E6K52Wa6hICPgsvSG+kySo/IMCu5GAwE+Jat5PUMhGvMY/0UDEdZ7d88pCKaiLD/PK5tFhntwhG5c2cA2dfgpl31EdSA8acaKqEyg+7zUGHyJDesJGn6B/HRQezkkP8XmC8YRxVTHOWMIcxLx+FPGVSFQZAHCIBod0EGICgB7i/iBRI6ixV5zkMGGKhHhfTDpGZ9H3g4KSG/lYlAfJxHGtXHEdYJqoQvFqlvTaTZe8MrIb/CE+a18M5MHWxKxiWds8qGxKeUgn6Lx6Isr2BczrKqT6DgJ0ZiDViirtw+urmqhKd2JPcbkfk4r6Q0x7xYP6/PNE3L9EfGc8iJHaKLZbemy3+Bf/mNgX13+I7ZA9+4mvvHIPbbuFOFHFTowljC1HZXyN+xLylf7sz/4sPPA/z4naj/Ca7JmgUYiOLUJplcmjfkBbGC0PHKONByWSKWTHGcivJITkgP2U0UTNPsrF8uu7dEUesB8TxSBA9lguCEieGBxDVgY/jvMdefP8nAfZK24LQgaOqU0+Ew+sPoLYV/pJm+PQBnWd55CVrOyiF1puvw1P+JzK3cLmPpe73TGfIqxacD4dbytwvj9oExljHYkp/B/Ha6m8eYND1xOvbjlQoesdtujkLTcbnhA0vOM23Aatgo2OTlq1PGzl0tAmeXJeGbGK7+t0SsabVDeabgevUyrW3AY7EzpsSdzFPtQggbzIrvgnCQHsQ1728xkeijn2A/jJT4ISTgB/+Yr24QNpH3WViMMLcFx2TClupyectZvNGl2Xt7M95pBbOgO1I3kEyc1x5JKM0j8G9Ylz2SRGbG8RSNvrBcrLvjFho/0GMuEjtvgPQi9IPqNt+Tw8vs1jWz5VGXik8opPDMpCoU9EBGKfCXm2ZB8kXhB1obQs+/LsRv20PfhI75hAHm+oH8BXfSNGzJvPaptfVNhHPWwT1+W4fMRW9SiLPOgFZNMY+C0up7FB7QDpBV/29wvKUiemPBny4lrtpWA/gA/HsYnqCzpG+6k/e0Gyipf0h6Rz6m9sFcuu8T0tq/rSHx+pro4BPqd9A8Cjl40A9cSbffgvLcfxowrkwx6KPb7LLrEO2PSg9BDvmNSf2CJbWMT56U9/6rnDzneR9wKCU1bMxLDXJNIvMNBBPXMOmZFNAwKEQWgvNgqku26PGnBoeocc+5Rg8zkGPqIDc9aE/vxciI/6BbbKK69AjtujLLIhB+3RLjbFlvBQHbbVbsEmClVPDGN5WUnM7uZcX68HeYeHs1f/NRv9yxzLpDYZRPBriizet9tMddQ5IHQ7duzYvYFQUFn0U1k+z84e2+EP9CJhF1QXO8WyUYey+Ar7yX98pj5yqa7463sMxXMMSteT+KEuctMevNGRn9pJgPge6zAIkGjNWrbY9hPaSnbtX9zHAD4WgdS+AJ2xP5CeGsxSwDflgfy9+gzy9APsEMewwNiRZ/u9Ap3hiz7IGeuFLCLsgq+IkdhPxA+vF47BcVamkTn1qewfA955YyC2TOtTFnmwpwh582wjnVKgcyoHPNAtBfGaJ1u/QK5+5xlkunPnzj1Z6IvITzxIZ8USZdiPPZBRCyG0xVMrUrvRx+BPGRE8DvOZuZI3Ri/7oK/mTLbIi9/wBX6N/Q/PvD6TB3SGH2MQvLAndoYn3+N47+V3HgsGD8pJJ2yo/qM5ie/MSepjAnUpkyLPPoC6yB3rjPxQqrOeknPUQOzFY+NuvuJYv31mv6CxgkucWLgp/ft//+9/gFP77fwqi3NxlgKNfXvpYBgDh+8FGJ/AYhsTZ8UEMW2gPEbnUS8MFshOGToegcbno4q8TiMfxMAP6INu6Ixv6HRsdwvIFJQVfxE8Y9/HpIGBz9TVICEKg325asUNl2Pbn+tRLFm3wwqm6+jyi0+/cQnyfM+gxGovnTImYi2zxRZht1aLM+itlUN0RfbUbpTJ2stWj6hfdB3yyqrPsD8+ho5pWX2P7Uh95MnayZDyihHXEfE0AOmUB+pgE/oGOtBfHhRI5VOFNawTnmqg+FBfk0/jOIp1E1ROukKU1ePlYpLOMdgH1EZMOnY/SN60/Fb87C+IKfjKNmyh1J/IJD34HB+DYl1FIC5DPV3aEhNt0WYeUp6yAfYQEbt5/pROKdA5LU9Z+KRA5jze/QJ5kbFfIFusK21LBvbJPxxjrKE8xwH7GBOhFBzDB/CBZBu2hwXFTYxe9qGcjrGlrvwm2UWKLcrdD7Id441sit/Zz3d4xfw0LoooR/8HKidZGctUhu/wI75T2cQ3hXiloHyqM/Irx4gxSKwdJrCF7BDLjC6pjSH0PQwgi+Zs2sWH+PfwesUBAwUxPIFIUhYT+9QRMDgDB8qzxRjsp9NpkP4yILUBhH36hezUD5HYsLrD2aMGMjo4tuV7THSCgzAxfkv1xecKep3xilIRkJkYoLwGHOnG5xTYUmUBuvUqOwioDx/4AekwiO/QI7UFlAd8FPuSdtnuVY9eUP8kPuIY6wf4WH5RPEleeOX1XfGP6bAG3YMEdtCYFfuYeMnTOa9/qHxM7NMEliKPr+yf0pcFmidie7PNs498ga0Z59SP8+Iy7gf0QbXzEL2hvh8Tdkt9gb3p43njqJLYh9gJ7JbXn2XDwwLjj8Yh2v5SJaqAIEwHXkirRAQvgwwralpl4ziBizFItL4MkxhIbbDbBJQH7ECQ9EPYVivUBDZtaGJkcIip0eSmoc1G9hl5OiMHEwH6xJQnQtxB0IHJJm8g5DuxxmRDWaCy8N4LqA8f+AH4x+30g179IA9KVOXLgxyYsBv2hTRBazDMm8xTyO702zim+C6fxeC79IqJdr8MQOfUx+xL9ZV9sXtclrGQvhsTY2V2MrnTHylf8WZLnXh/6osvItCBvih91BexWx6IRewax7b6cQr4pGVp5yF6g7FRdoopL9bScVQnGYOMo19FpPMB1CuGDwq0qUUvfEau9qVLVAnIlLhGiCQKJzA4cCmAXnOHIQh0Bujp6elQpp9J86gjzw7Yp1/Q0QnQ+xH2IqCwnwZm7IkNWbnExtgbWnJaW13bbGH/kaczeiBbSikkM/HBYMZndEG3vIFQsaaBT3bIKzso4AM/eMFfE1pfvDfrtLxObIdeAzQ8Y3+K9kOPPEge7Itv0FXtpZQH7KB4igkb5SHVi/Zo98vQx4OfIx9D7Et1htA3ryzXrvJrSEz04zwQkynfvH3QlwXogo6A2NutL8qu2Jrjcd0UcVn1A8p+GeLyoCCbppTni9T+Gq8f2nd3fN79Gf9wwkzOxokGOQTXFRd+9atfdel8XKuU5/AUMIIoKwJ0NKAOqKCgsRQMhHkduJ/2BXgr+JRc8BnEBqYdjlEWsKUukPwMFPpMWR0XqMNqRMwX0srQYQCZOGOPJ3cIeaEUTN7IxjHsg6wk6yTjqX4k6+k+2aMfqCw8Yvvm2bLi5hptu723777nQ5WPecbgO4GMX9FJRF32p6AcccHrStlypsbqLx2BMzVuPGFFDr5skf/06dPBVtS5fft2mLzTeKU88pH04g/ax46KwRiU5Tj+oj/ojFXHYuBfjiMLevEdvSjXb6xRNuUrWZEDGUVl1wtZOl6eMuoL2CbmwWdkxy4pb76ju076gry1sq0WPS6dH3pjP3gTl8jAZ+3ju04ag0ybdsr7hQP+eWMK+6EUaX2AvKkOIC9+1HdS3nl80YPyKZA3T7Y8SC6Vj/WS3CqTpwNyYbcY1GfsSPWg7IkTJ4Lc2F59Cb5xOSFPZ/xFXBJb+A394cX3tDzlKJ8iL65jvWPE+t8PGlNiwDPvRJU+kPZxQHm1iZxs1X/Vh2QDJlV400ewhfTNk1c6wx87xe0cFnq1l+dnyiEjpO8gjm0d79Vn7oe4DSiWT9s8H+EPZFZ5iHL4QbJAebEHqJvX9/PqIJd0FgHazIvjPFsqZlKcPHkybJFZZaTPXoAeqWzIrTkoBnaTTjHydBsEmgOkF0TfzLN7bFfKQEUmDibFPOHyQDl1LCAHESx0UhrGkfFknAJH6Gc7EYPbIKB9tQ2hDN/ZLxkxDMRxOVzHYh1UH7kok0J1dUxtfB5Q29KPbZ7MrJTQUeUTtvhFuseUB3jKtvcj2U4+EJCPAE1pNxli2+bpxTE6HjFLsFMX/Zic5W8RxxSX2ELEd8mqtsWL4/CCJ3Uh6RgT+ygPIRO8tJ/PKcV6Ae1Pwb64I8NvUNCOZIsploF24E2CKinYR5v4Mg+78b2HTWbsr2yOAXxWe6oDaAtfqt+pbXTne6/28mibDBGCjgnBu1/AV7EUUx6k417bi3WJeYqPyqQyQeyP24awK8jTI441tnE7KVK+KgsfeEtu7UsJ5PHIQ6x3TL1kGwQpT3TvxVf70Q0dNX6xXzJiN+JYPqEcBHrxlU2oIz69yh4UJG9KeYh9G8up/SDWI97fL+I2UntwDGJ/SgLHkV9xzjHxUP39ALzFC/5qQ/aLKQ+UJ+ZSPWJ94/17RcxLRFt58rI/r/xeAE/5JrUblCKWgfJhDlGH2ivowEpQRb0SVZJSVmxi4mz088Z+BfJRAMmWEjOSVgif5AXGfuCwbEc7JKn8AkBSQ/CTeLLqmQeOk3TyCJPZ2dlgB2JVPxcTs9SnH1COFWfsxHdsSJ1B+ggxn5L6A+0CJjb6QN4AgH+QS0RZtgfltzxgY2RN9ejbDi4rd/vXqrXwzFrplKczbeGj2E5Q2rZINjwIxHYX7XWQPmyk8bObHpSlHzH2atUlnkz6gXyXxsthjQe7gXiNZYL2I350QiWij0KH2UePCmI7iL5ofeaoQGM9pM86yfwqg35V5KcfJuq9djKMqpVRbRn8eoGBLKWH2D/gzzz6Mtg51UG6paAcMQgxSZGIsk/XvRCzJKok80xqEBMZscsEzmBB0jSIzWin6glaTEqGOQbUVxjQ83QJfafB0yoyqte5CeBwB/+a6x3TkOuAbfLsnIISJU4Qhrfe0Y8tdWlFCmyAjXSiq20vOig0PE642S8m5P4iQfGTUt6Ehy/0nELiUb4l+ewX9Jk8fx0FEHupXPshG7ZM7bvbXPdlRmoH6IvWZ44KiCHsp61sOcj882VFkcGKQWovxqAugx3X+4m4WYlr/Bj8NABSDiJhSFf7+CyoXEwPMRhYpcYnEKuHEIG/X3gQv8T+DLS5fzfEiZHaY6VTF1sTvyRATLgpKK+klM5Pp8cuik2+w4N4ZHJmAqIvEL935ubuXTfZC+nEzncmx1qVZDWmbIJU0tZus6Kaf30zLJFro6Vrq7g7WGVpBxvEtBOyU4y4H/YDZNUqlKjXiqokibmHBMaT9HJJOmc/8+fpjP1kH9phq8+ynYh9ewVy5lFYydho3aON5tFe0cjzJ74nfkToBOXZHTA+0EdUBl/kxU8eaB8/y09KWPneL4+DBDEUx45kGwTokRJ6x7YVDdK/vgxA39QG0FHoM7G/vihI++xRseVRQOlP/uRPfsDk3WsS6gcEAxM8JANjcAY9VmxB7AASDX6qZSChXepTFmKwlMPoCDgKohzlNZBynLIaHNiKj3iK9sPZ8Iev2ofi9g8DtJfKgG6yVUwkBdiaRIst+xikIcktGsQ+ahO+bJEF6oW4jUAuK9tW1/3sY0jHq3aLBWt2fJ+nC3wXWalgFfc5b7Fqu8w605T+6M133mbVbNZtaNgZFv1svpBRoYicq9ZorlqhxLVodVurc022fy9w08loSFKRTzbENrSDjHxXO3wW+IwdiWPVAZWKx2fZyxbr1i0075EF8kSgW7d2oIZr2vT6w1b2Oq6t83EfhFeOkqB6fSPmucGnZsMjNefr8tiaE3W3qFhC142Isn7h4ju2+gN9h1Vdjql/oqOV3dDVsrU3fSEq1arWLXl/dB/cI/dTXEa03naZO87PJYJfwZPz4lDVis5XPtPYgDyymUh25jPHsW2cVHBcJPnjfRD1oRguvZW7TaeWlSKqFjpWLXas4tt75LJ3mm03n+vgSWqh7T52Dh59Xsd5+XdRoeM73DYpkAOgQ0zYPpVtP6DxUzbANvgUm6d2wZ6UT8sSB4oPjS2Q6sk/2gpxWQiIH/5R+ZTY3w8oG+LTgRy0QZv6HBP7KJ+CYyBuX+XyeIC0LLogRx6JF6A+Ywl2Rk5AmTx5objuQYO28vyBbNL7QUBd+IqPSDruN+Cdxh2kuEiBjrH/kDWtK5LPYlAf9FP2QZDyBbGsEG0RU/0AefP8DGK/QPDdLz36AeMLJN2kJ7Kk8uZR4Yc//OG+9BglLgCjwJyO+/jjj4cVLF5Fx2RFmUceeSQkqprAIMD1gFoFpBwOgg8G5U5tTbQMxJT5qgM7Ywso7ajYDvtC2A/bUYaOuxcQbKzOhkdGOD+u6SRhY4JKwXH8yDFk1KBR9P3wqYbEOZtAOa74AQRlzZPJ2cqINTwRpU18zkkVCQyrNyGAN/UmKZ09XvMP0UToh1rNrVfBesj7LgZTt0fteHi/f8cTZgAfySmegDawIVuBz8Qvuiuu+UVgZmbS7i5dsObG0jYegNphz73/CjYyfMxcEi/vtmn6SVxL9vGBpLz5jFHsUyl5gj3nsm3ny+dht30MEvD1lZLrnU2a9EFspeQPG7JSTHvh+tHhqrWqPlhs1hcUL/1g/u580Iibp/Ap/iw6AXyuOFRStMM2bk8IGUXwyGuf/q/xIga6USdGubthQ51VK276GNAOZWljG7olW1nq2vpaJi8DKCcS2DPtMx0XqzAxbG1P3j8voAcxh42IWX5VYKtEETtLT+xCH2UfumE/ttgyvrZbfpAt4SNS/2Y/pDLEK7xSX/UbO3mgLm2iE/ITwxCfNRHH6BUTeYA3sZ1CtotBO8gQQ/bR+BMjj69slQK+af2DwiB95iiD+MXuKfLsmOqseKQ+fI4i4piQvOrH/UB9MQV9h/Hs84L6DLGWN6b0g9Kf/umf/mDz856AkdKA4TsCkVwgFAZjcieImDBxDMHEIEF9Bk0+U4e6OIk6DLIoCQ8SFn625dheBsMvA9Afu0GpLbBPfAz7scX2ewE+gCf+gWfMl30xsZ8tx1RH+7nZZouK1u74mZYf28zhAhX9a8VzV1ZheS6oeBD0kM4OoZInDWFFNXruFe3wMzvkHwMF3l1PVrvczZ/FaCpjCiYg4pBBDuKz4lGxyutTaXujveJJH6ucPjCoUSdk2RLAyWUo2pB12jyyo+18IDpuwcYnJv3/ouvMZQ0k6c6z2/Tkj8ObfALPbPUx8IupW/Nklyc8ZGfNtI2s9Bv6InqiE32xOFSxtTYrvvDcYlGGb7KvF4UJwcvKn4XNQZE2ZdvMRtlTFWg7tiUy0u/ZiigbbJYAPvBNoToxWFGtYLdwgrIprv8X2Hry2vWYu0dt57vhcdjK4oCTqUq5ErbIf6++U/ivVgm/BHxekG2QTfYF2IDPSlDZYpusL2TxTXkgW6eQLcVbBNgPxfaGL/xj2g/ARzLyOW4nRq+YyAN1sz6zHfCWjgJl4S2dRdSHOB7vz7OlZE1tmbZ1GIhllbypLY8ykJmYTiF74quY2Id+sY7Uh89RReyfmPoBOhPHKTRHf16gbcZ35gl8Qtwx7jMP5CXWeThQj2E0JkeugcKICMfd1+xnVYdEVRN9L0Mq0FAQpUhwSVYf4vMBASdfkmjgF51spMSxvYB26u5zVv9IYulwSnCYKJSwZrRz8tkNTY+7VN68Tg7Stmgf2YhFtsjV8WRnxRPKNtczeBJsXZdnF+p2+Sl+0k/OZmx8zGl8OmwnJ4/Z8WOnbWbmpE34seGhcatWeJ5oLZdPHpXL2U1cmVxbl0woUWUfOnCdL35Eh/2E+ivt0r8BNqTN2I4ijh0m8HPwf0JfNGBbxS2TGbaUjRWzsrv8QUKnstBRBTIit2JDuu51TBkUslM/lIcQay53Svvd53YD/TFP3n4ToKMOxUZMGne+SFCfjYkx/IsO4o9xhzyBreKRuYfP/eBAIxUh6AxsITonAw1bvuMYsmpWUvlpPwVlUI6kVhf8sy/vzPUhDgckPPiPIIPwZ16iqnL460FBfXjzkzjQmVhewsMlBB4xoVw/SOWFeiWqHEOfmIjHOFHlrnxWPrcS1fuRJw/tipf3uk6dViV832gUbWVpw9ZXO9baKFmxMGK1yoRvh3N45FCnYhVPVLFRmqjiC01OyC06CGDL4LvNCYO+ju/YH9tRsXOYyE0eNlyGw8sd9gXIjQ3RR8lnXt+A5I84UaXsUQUyEi9xoor8xPNexpRBkdpxN8pDbqw5HVS/ywP2ypNXY8EXGej2MFE92iDWleux5Tvj1iCXvxxopNIR+KlPAyIBxATPfn7O5xgJ6szMTKAUlGMFaG5u7t6qLLyo9xCHDw0K+IFOpKDDr0yAKfUbhL1Afb0KFJCo0nFpl236vX/4CZNPIEwiItpgGwN9IWKQVXxOmCBdL0tnQ0bkYMtE2m75iVl3yJtgBbRm3Q5EEpl9Nz9WtGErF0ftzq0lu3zxtl25PGeXL90OdOHTG/b2W5/YRx9eDt9v3VyyhXnnu1H2NNz5Or97dI/nFnWdSkUf5NwmmojQDb/Rb5j8kZd9OvlzJUO5GNI9pRh5+wQlyGwBbRIztMnKrmypk9BefPYbtINM6I0NRO1W+16eqrg9LJl2Qy8bs09xiz74Ou4LIr6rn1KWLXU5hj+OIpARfZCPuAHoSjzJN3tBL5umkJ36pTyeyJvGGnSY6KWHxocvOoiNHf05Gcu/CPiy+og+QJLKL3j0acYrxnzuc+m3P4ebqRgMGMxSxBPN/UCDaaPwZXKEj87mCSB40h7JKlu+Q0yiSggoi6PYL0Upj6J0PLLxfkFymw4iCu4vCrABiVGKPLsDAlx2BRrw88qm9uGzznioF3ccboyDh+IFG/I9b3VGvpMMfJbd4Ysv4SPZKKfjbAsbbavW2+FaVWSSjPAhHiQPso6PD1mhwksjtg9Qijfq0k7Gp2y3rnuS1sxkUywSf9hNcaot8ctxVv4pT6LFlo6HLJQjvtfW1u3pp5/2fRbK0BZ14E9coy+8eC3rzRu37M7t9ZCELnnZDedBG5lOc8GeXCZz6uRpO3HymM0e944+XQv8kFEJnr6LMv3QPIsL5GcLyVdQKO/2aJQ8wXYqRT7mmFaLBT5jc/VnCH7ojn5qG/BZvmRfaGvzuGRIkcm9nbAX9WLAF1unUJ0Y3Ew13FnZdjMVkA22o2zD1WPhmuHuZnnJnJblZqpGzePkAOYQ2Q47yca0r3GP44pjjgHsz3GVod+yVXm2xAr9ZKsPZMeom0LHZSdRfCwt0w+IB8kcI2985jvywRt7QHwmPtOygOP9AB7ELHaAl7Y6lgIZUkj3FHkywLNfvoMAW+JPZJfv8SXjAsfQi+9saSvP7r1kywM2gw/tsFVs5sXPQaGX3TXGpRjEd3sFflAc3Q/YEkrB+JrKRjlsnSKvzxxUrMEzL/dQfMXoVRYZkJfj8hf9pV/ZQqLay3n9dv5eQAj93IexUYDgZj9OpU0cEVaivAx3/Wv1iu+UYfLGKXGHpD7l8pyShzxjULff+kcByDpIcj4I0qDnMz7Bxtgb2xOUEGdB+Ey2oyzH4ZFCfo1BPWIh5slnoA5MjIQ48UR1pO1JTuIm/EkSR70bN24Eu0xOjdpG25PoJFGNfYysmZ4lW77LNc9ZMkWMKqFEtlgG6UqCxvN+6RNMBgAZiGnqQPz8X62Meefl2rrscVDEL21cvnzZFhcW7eq1q3bp4kVPVG97gtq2pdWmrTa4AatrI+URG6mNWBOenQ0rlAs2OjJqE07nzh2302enw+Pezpw5Y8ePHw9yh5hwFakf4ElWueI+qWw3Wl78BF+46Zu1rZVpiMGHxCa2HZ+JBfyMXaQzn9Exr4/tFbSVDoTYPy9RzUOvRDUfJRup8ii9bFyKdU9Borru8/NBJKq0TbzENkYWfJ3F7vbxjM+x7yiD72KkfoyhvncYkF4p0vHnIKH4iW3G54OI34MEtsxLVDlBZsySbhC27bfP9AJ+w0aMaWxpG6Ldrzo0NmLrfqC+ncZ8XqJ6FPoM+uXNHciQjh95ZUE87jyI3OGuf4wBcw2MIiaJvRoDARkcIHgR5HqVJQ6gXQKe44BBlk5FPdrXywAwCN+pzzE6Y7+AZ6qb+H+RMIjOg0I+EtEWcSGbs4WUfOJLxQbbPFtSLg5QAX7xQArFcSLiBv7RUtVKm3evSxYmbZJEtorT8YlRqzdIILcnJcSNOtM9vVodq1U9MfWEkueYkmhxCQp84BfLgFzIxzE+o1OQzXXmuyizQTlcZzo6PGVTk8dc7pot3F3yxPSqvf/eR/a7N9+13/z6Lfvss0t+Mrbusd+1jZb3CatYtThkFag0bKNjk95x+Hne47zpZZxu3Lhm58+fD7xWV+o2PDTmyfW0lbnJqsBlATwj033gxAMIijz8M0EaP8jMI5ag2Md81uQnYlBiv+yj+tiW/Xzeb4h3DGzdbz/QXf/uqc09u8G9UOKSovsnLF1XteU2JmHdbzAmqt9A+IP408TEPo7LBvKXfAcYU+MYhrAlfNQfRPA7LCB/LKuI/QcRP72A/WI5Dip+DxKypQigVzy3xfbtt8/0AjEEH2KILW1B8H+IrB/2awtsie3SmJNtY/A9jlWRfH5YyIsfxo88OfLKoofoQRASVQ1+KRDkQRkD+DLw4hgZG56sBnH2wIodHYtBWIkrStImSQgJKgkJq12SBZ7i2y/yDCd5vkjY62DTC/DVwBOTBry4o5CoatASOI5/UohHDMrSISElQXyGJ3KwFbGSOlEdtvJm2xDtsCU+4MVP1NSrDVV2JKq0rSSLz5TjTU/N5oZVyqO+L7teEZ6UAXmJKoksW06o0Al5aVsnWJlOPvGXKvbouedsZuqUJ5cdu3jhsr355tv229+8Ze+9+6Fdv3rTk8x1j+tJO336nDXrbtv2kM1MHLeZyeM2Pjbteo3aUG3Uk6YhG6mN+/4T9sipsx7vDVtaXvA+w82Fq54AL9vcnQUbG52wRt3jousyhJuouHzADcdLBhKgf4q2jzN5iWra7/lOn0NnbMF3+fGggF+QJYb82A++aIkqNiXJxM7oif4QMcx4CdCd4/RD9YfYd9SjT8T9GAIcS/en9j1I0BbySlbRYQMbxjbjcxrvRx3ITFwgv/qEfIousX5877fP9ALjnPo8W7UF/4c4uES1V5/B54eJvPjR2JNir7GWh5CoKuiZrNmKAAZJjdcvqMvEBjAujqANFOE6PX4O5XWVHGMg5jifSUJ0k5VWziSDEohBjJHqBdHOFw37HQAKdpIzOo5sK+J4POBBe01UqYc/KC+/4HedpMTtl7oFmxwa2baiSr0smWTSbYVrVFdXuUHPY6PLT57b2yN2aAdZlGg1eDXmhuuyll2OEusjO2iL/JxEIZtWqhSPnGixzfqPJ4lDw9bxxPPaldueoL5lb7zxc3v77Xft4sXLnlyuuPwVP+nyePZkstMuuF4jdmz2tJ0795g98sg5m56e9WSVF1tw+QDJOxLxCwJJYt3KlaIfn3QbVG1pccWuXr1ud27Ph8sI1tbcL56P8Ct3qdz2spnsyCfd0D9Fr0Q171cIbMUWfvgBwnd5ft4PwB9ZPGoCSY9++8EXMVElptBPsa4xE8LGHMMP9EOO0X/kO8pTRtdQx0Qd4jcm9nESdjDYaRxk1BgfE/FzmMCGabwrtr4oQG5iAmA/dNIJDvrEMYFuHN8LiCH44D+2tAnRxlcN6VjHd+wM3Q+yXZ4/ZNsY2Peo9JkU6EucpdhrrOWh9K//9b/+AQ2yeokBFOQYTEbhcywQQaty+g5SI+NAOg/8MTZb+F25csU++eST8FYfJj4mfgZMEgLK8Z3PEHXkWBHf1WY/YDBX27FOg/A4ChgkAGJ/4QcR4Bg2wCaQBiFAGdlFdoPk77xEVfERtwPhJ7YxKCd+1NNx4kADLfzZWy50baLmZQt+9ln0Np2KTo3mmpdpWKvDG8oWrNnipi8/VkauTB6ROv+9JNWJB+l7umxtT3axKe1ByEtZxQjHKM9NUxxDd+QmLinHtdT0G612NRtNe+u3H9mvf/2202/sg48+tNtLc9Zsb1i1XLOxUZ6JWrMlr3fp7iV79umn7fXXXrQXX37WvvbCU/bo4yfszLkT9sxzj9r07EhINkm+G80la2yshX4xMzPr7Y24LA2b95O885c/tWvXrtv8wl23xWq4rGH2+JhNz4y5rJl90QP95TcR4NWo3cpWv4cAiSo6x0R9jism1KfltwdGAd9t+VjkrMO203XZzU8u3N/dtieeTj5U35d4dWq16BN3EhP58D5RGHY9MpvtSv4XItTjpxgRV1twcpVtt4gLM7L9W+RquR6ud1Sfl6qt19et7W0Qf7IvNm+5D4k//BJi2L8Tezppkl6KU6CYjv0XE7oQyzsQXkHsJzXe7x6UOn6C4COA+8+/u7L0W+KxGN5asR3IEfsn6BJe3MGLKJBlJ//tRFnidrtv4YPtUt7YAvsq3uNje4FsGhNQG0D7aJ99+q66QHIB9ufJSX1ig+P0P42fHIvLSg7K7QXwiOVSPCHHlwGpfaFe0EKXCD+w3a1ODMrRXsxDlELlUtD/FTMi0K8McUxIHkj7Y74Q/o6hOmzjcoD67I+pF8TjvvQXf/EXXQY7JmOCnUGOgZDPp0+fDk6JOwIGQmgmZx3j7DzPoAhMPcpy9kdZ+JOk8vPUsWPHws0hrJxShnYFKa02BYT+KgJ7YOd+gT3xE7bDB2zxEX6gY+E7JaL4JPYxWyZJ3dUuYHtWwCmzVz/EfEEev4pPdLM1D3reg5+A2GptbN70tPnq0eHhoc2jGeCJLuiH/hDl2x5Ox2efsG4nWyFWzMODE6ZTp04F/W/evGmXLl2yJ598MtQlZrEfcQtvVq643pq6H3zwgb37jtPbV21thc7O9WKZbLx5a2xkzNvLJpW15rotdxft91583l5/5Wv27HPPhjaRFV68MYobtm7eumW3ne7eXbTmeiXcfIVMc3N3PGHxPud8R4dH7er8VVvtrthMddZe/dor9vv/4Ov2/AvnXM7ZoAerzhCX3NA+q3YNT3R5dmhtetyGjk15YrHdH3lQ3KQgLlN/DoJiuWVDI9RPJ9NsgMTPPJAf2Uvtrs2UPTnrozl8NBJOIrYKKyagbTHH9b0dT9q6918VyW3ad3K9c3WIR5Ft7tuEJoQYHU9SkSFG18VZbNet6ScPlU1b4z/qc1KPnbEB+4hTxmfiET7sh7AX4zDxSiwpvvE9v06lsuz0m38veqJb7H+sycM68enjTaXK5SGZHt12xRrrJDpZsiMw/1B2C55MhhO0ef+Ya+3t4PnBbVaGt/PFNumclDeOsk/j4l6Q9gPxRT/sDuEf9nOCwFZ+gziOnRi7kYV98KRssF/Em7Lyu/zMd05eiBvKqrzG/YfIB/bBRymwJ/0oBmXTR2n2HFNygE8098b+BIOMo/g77cvEer9+Jg51szS6Uw/iZmnkuJ8evUA94jfGbvahbD9tlf78z//8B+oE6kx8xiFqAMF1kxMdg/J0JAxDeZxJnZiH9rPqxGfqUR/j8BkDMdhiJLVPWTodJMViWfpR6MuMtNPshtinBCWErbWCAi/8ij/kE4BfCR78E/tShG/gu1fIn7v51aPLRlglTWZ+dGmF5JTEMxtM+Kx4zKM4Nvl5vFoe9TrZgA8hA3GmQYR9inmOKRaxK4QduXaay1d+/vOf209+8mN76+137IYnhGtNn+g9EeFd8dNTEzY2OmJr66u2uHbXlltLVitV7fTMcXvtteftqWfO2smTx8LNYPy0XyiwIrbunws2PTNpjz52xl544WuevJ6w1ZWGXb162RPYGzZUq9pxT0SHPDGqFPxsnFvQvc2FhTl7691f2UcfvRPsxCU0ELKiB32MpJUEetR1GJrwCbO884x9N8hmMe0FYfW0Ag8IX4sY2J0/5Ik/VHQfjBRZo/R69yP/j2uHY2AD9Yftcef2I+FJkp08bGtD5P+VPH7KxdKOY6t+ghNODBo+pm0SMUv5uBz/1bsey8VCOEY8E5P0SSYRtvRhxk38qUE+zw/qoxyHB2U1JtwXYTW1/3sA8kD/LKCHn0yJOBngOcOb2t4Dem33BT2ey5E8oewnUb3nu5180T1F3jjaq+wgSPmik/TC7nzGp1A8Pov4rmPIwr4QJ74vLUv8Mibpu/izuEB8MIYp+YAfZR4iH9gN/6fAxqndKCt7poQP7gfqQ6k/Rf2CuEjb01gxCBSP1IUf8/vOsbF/yD4x2Jc/5uZf7pCHkKgiIEmLDIXgKAxjEhgljShBGQ2alOM7RqOchBGxj1UoCQIP2qE+k6eSVAAPkoK4PvsexPhfVmCPfoFd1RmwJVudHOAXfKkTECVh+BPf4Bd8pphIfZJ2kINClqj6AJwkqsiAzNoq9uIOIUJW2UHU7cCPN0NlE4hiDJup48hGlGfwZ6WC5EArFtiGXwZ+8YtfhET1s88+s/Xmmo3Xpm20ShLhCW+tHJLPVqthtxZvWMPWbKI2Zq+89JL943/0R/bSK8/ayVPHnP9UsHs2YGQ/IYWJhutenfjsU6knxxN29uxpO3PmEZuc8sSz2LW7npiOjg7blCfEtVrFGs11W2nM2+1b1+3ixYvhWnCSFFaBsQc60Q4rbM8884xVve7i+lYf3Q3YKrUvtFdkiSo+2RlXqe+4wW54M1G9H9BJ44sQx8h2nZXsPHiyQhxh2xi0wRhInKY2S2VDqbxElXL0W/FXokrMxrYRYTPapXycsPC9L4Sf2/sfa/JA30QG5BUNlqjSp0lUN3ftCngfvUQVyCexPyC+7xiX/Dt2wt+UZZ948jmOn3h8AtRDB06gNZbwXXpR/iHygS+wUwrsLPvGwJ6xLyB81y8om9aHBgFxkbaJXHl65EE6h37pUKwRJ4PokgK+/Y+5AySq3//+93+goI87CsRnmGAAwBbimJSUgkocYsNDlCfxoXPymfJM/BA84E/7lFWbIrXRjyJfBWjQ6gfYEn9ib2zLlu+xr9gHGNhke0A5ymggjP2pOoeBvESVWEA2ndQQOxD6cCyWFVId5BaxospjpLihiWOKZ9lA/YH6HCepIzEghmmbyx/ef/99++EPf2gfffRRSAZZMZqemLGNZtvqG+uetK7Y6vqi3V2+YxutdTtz8qTTaXv5pRftu9/9e/b7f//37MSJ6ZDMAulBeySWgLZYAV1YWAzX1T5y+rS98upL9uxzT9nIKDeI8SrXZZuYGrPxiREbHvGTjOGKTYwNh+s6r965alevXA0rePB94YUXgh4kOvh4bn7eltZXPVi2J1e9gO2QMbUx/Rr+D4ovc6IKiE0di4l92+Di5CWqItmez8Qr29Q++s4xdKdvM/7yvW88TFQfCHl88Rd+kz/wBT7BRxxLfYedKEd59sFT5diK2J/O2ejA57QsxL6HyAexh+1S9LIbNk/tC/qNH8rLrzFRf3s/6A3qI0cM6ufpkQfKxjmZxpa9xgny9z/mDpCo/ot/8S9+QMCjuBRFARgwYSqJYT9bdQTt47M6DcpqoJTCnOGxCsXkKKG4Vir+CZoJGSW49oP2NLhqZa+X8Tgm+ioAW/ULbC1fYFvAKqAeXYPNZGeSF5XHh5TTIChfimLEHSXPB72Osz/+3st/aaJKOQjZSFSxB/Kqkyk2RewjpncM3h3Xs0mb2THiXTEP4C/9FefUI2lklfK9d9+z3/7mt/bhhx+GcrTBdXilcvYT3VCt4rE8YWfPnLYnHn/UXnzxeU9Ov2Pf+Oar9tprL9m5c6edpydcnlgWPfNiVRu/oBNyIgt60jY+ou8MDQ+FywE8Ctwa3EhTtRMnZ+3YcfrSkK3Xl211bdF1q9v84m3nt2zT49M2OTEZeJNQX7hwIbRF4s11sEVvo9nxAbOUb/8U2IC+io6xnZGzlw/7wZchUUVOYimdKBRDGtdEiqltcHHyElXkVL8kRuAJ4KuJBl5sZS/2E0e0xTjOfvqLdGa7Xf8IPRJV1elZL4LaQgfRVy1RRSf8Rp+Bv3zBVmOW4lq+w06xX+GZV476xALlVIexXDGiMQyiLO0/RD7wU559ZPcUsS8gyuED8YDf9njOwD78Rfm9jqPEBfVjwLtfP1OWeNG4ABEnoF8Z8kBd9IjBPnSGUt796lz4m7/5G5c1C3yETwnEBpUgNEqH4PpGOkdcXsB5JJ8MmHymvC4F0D54Uh9DMYHCF1lwJFsN7HlO0fWV8OFSAnhS/7CAHVKd0UcOf1BocEpBELJfRDl0h1KwD5tB4oVNGbg4htzaagVPfNFBn/OgusijtvN0VhCqI0DUlZ/kY/YrHmJUPCGbqboMbU9GvQxyUZY6klM6QhyLwT74Igdlt8oXrdsatW6Hx/ls7ZcM3CRFrCrWOaliyw1O77zzTvip/9K1S1bquP1KWSIBD2SanZ2xx594zJ5//mv26KOPBhsRv9wsxXHaYfWVn/jHx8b9u4UY1iUY8OLEgS2EvTL+7g8o+AQe2eS+tLToCaf3Ba9/7erVcM3sW++8bZcuXA5+JSHF59dvXLeqJ9Mvvvii/eEf/qG99NJLob8td5p2a3Ux3KyEDuiJHbAlssbgO2VSpH7bDfBHpxhdq1u7u+Sj0fb2QOavrF22ZVd/rOM22Vk0F3myidd2lKxWmvXtg0/o+AbC54o7xU3mty3Q/o59Pl6vetK+4SLHvqcs/oAv+5Cf74pXvksnEeViymIoKycCnARth9u42rRieecvZBo7IPV9+OZB/KUHd/y3NirWXMcfW/5HVi5LYUv8Ax71RvvNjbs7YoK+L94ZOJEdsmp52j9ujytkhm+KHXb3MrqkJ9aZdtjXL1K+AB7yB7EgH9KOjkHSKfYX++FJPY5LLupSBt9pnwj+qU/EXz6T/6RrDMriB5WhHbbifxSBj5BbNmULsFsK9qFTDNk5hfxzP2Dv+IRAxH7lLrI1W47l5TTYPIXqpMjre730oBx6K5bxL+VIVNExppQngK/6Zj/I06OXLfPK5qH0H//jf/wBhWMhYch3GRdSIzgZhXEKCSaEk2LniOBLZ2I/oA4JAHXgL2PDn+8YkzbhB1GWursNFnKA2jhMKOhjnUFesAwC2R2biwDtAWzFccrRZp7ucb1YNqDPHIcPOsRlFTzin0KDF/LQ4RQ/7I9J9gEch2iHOtJBBA+1KzhXGy5RL7MHnQWiLnKpHWShLmXYL+IY+9nqO2V5MD+Pp6IF6hCXGmjgj97IqfIkjhwnCfz444/t4qWLtra+5pOjJ9yePFLm2OyxcO3oK6+9YK+//qK9+vpL9tTTj3miOGYjo560VFld8WTUiRumqkPc1euxXs9+hUBO7AUvZGUfJPt0reHO8US26Dp6MuPeCaunzY11m54d90R41ianxmxouGynTpwMD/+/du1aSLrhB39ubmm3srfQoU+wSdVjp5atpgPZChunkA1TGgQ7+wz1/eSjteYybE3cMQGVLztx39XOqMxHL347UXQzjLts2eT8ICT7BFv7Z9rCjoxj+JDPolw5XClWt7tO1AfiATGx0HcAsRrzivnFdWlX8RyToDFF4AgvjGCFm3LwVwyiB/ukp3TOA/tFgHrtlierPt/RvOSAP/2Lz+jEFplKLkOn6zHqMRvzCn0BBhGKBZ8jKmO+zfq6KG8chSR3TNiWdjkufaHUPrshbltELGh8Em/k0o3DGtMgoKQLApKN+kA+hyeLM7RBWXhCmgtjGeDBMbbwkUzilQI/UJa6lINoI6/sUQA+Ql7ZARvLRinYh/6Uj0mxF1O/oD6+hPRdJDsjl+YX9uFTjsd+yoPqprKFPuJ6xPXZ30sP2pSdZCM+63gqS0yq0y/S9tVGHvLK5lHpz/7sz3q+mQoBRTHU2SAFLx0kNRzf405GeRxFHYyG8WQEeFJH/NhPvbwkVPJynSuPt+JsGL44CR6HBeRAXmSJif17ATxkBwF7YAe1KZKd+wHlsXXsTz4rgGOIfx7UJsTnXvHDftrDLyJ40lZsJ/FLZVCi2vVkUPLcz7bwSinly9JV08eUjQ3ssfXINU0YGkiIPeqyMnn16lV78803w8/9rIBWip5whbuZS+ERVS++9KJ9+9vfst//7jfs+a896UnrSRsfI/ZdXk9MN1p1a7Ubnlw2fRKmv5RsdZlHB2WTAj6IfxYUOBbEL/q+Ismq23mT3LrOk9eplm14pBpofHzY237MRoYnwq8X2Azd6g0/6fOGWd27detWOMad/6XhmlVGs/d3q59RfofN9gmKX9q4R10fXAtbj6bbDZhzkES1f/iJVZ8P/M8DeuE7xiJsSUwxcXFS0DdcKX4Z7yQi4At8QzwSJwAbgvv5KYufrTLEK7yQFX55KJV9XAkniNsJndSn1PcHiZOOK5b30z+/WGisANl45CdUjSWvE8WJU17/L3iiWi6xMrydb1555IW/9BBpH3pSjy11Ze/9gvxBH09lw6Z57cXjvmQDyKvv8KQ+lPqEupSjvPzGlnriFUN+Fr/dyh4FaNxCvtg+2h8jtqOI76kvBgH2hgdb5SvaYke1KdLxfkB5ZEwBj15+TkE5ykMA/8IXv/YL9c3PCyFR5UOegnnAGEo2IYDCDHx0MhlExD4ZBGWpS1s6jhHZL+PBn33UEb/UIYByTOz62ZoJAb4ExmGB9lKS/HsBfGRbQcEGf9ke0oDSDygP71Q+7JzuU9k8pIMYyCvLPiWoOpFQwMNfOvWcMHMSVQgb5CEv/vJ9UbD6GrJll2lINuRFHyZOElX2sfLBMyy5eertt98OP6GjP3GH3CdPngw3KX3rW9+y115/1U6dnrRqDd2btrK67LRojWbdW2Qi5gYtTw7dZDw2qV53fdpZghjHOu3uAIlcSOaIiy1iQufJApUKfbBiY+Oj3pb706qesJ6xc+fOhcT60vXLNjs9a4163RbXFm1teS30mfWWJ+fdLCbow+ivGMm33d4A75S6nqgWSv0NhEc1UQXYDj9KL2Kdbd+29CK9ElV8Q0yy5bvGgUFAPeSDT7ju2bdaBYpxFBLVbqFlq2t3vc72WAFpm4Mkquq78Rghgi96Uo8tdZHlIMAiC3rHhG9lgxjIBiSbfK8tclOm1zhKOerFfmNLXSiF/EwZUa+yRwGpfSSn9sfgeB6h714BD3wgUuzIdqLdfJWC8siXAh5pP5CfUyg+ZA/8C1/82i/y4vIwMXCiioIMbmwxAMrK8Gzj4I6DHaAsdWlLhoMH+yFN0JTHyVBeAFGH/fBihYjVIZy0H8E2CJTcYAsRckjfB4V4xlCwaXASycb9gPLwhlcM7Jzuo6z8kR6L/aq28+KH+pB8y1blgp1cHz3YnGdlZo+N2sIgiSoywieWK5Mtb0Ln+mZiLtNRhH1ZHWUSgR9391+/ft1++9vfhp/8b966GX7qHx0ZDTZjoudaz+985zuerH7djh2fsVZn2dbqd8N7+VdWuPaz7sIx8RP/rKhuJaplT4yYYLEnMpIwQ6m90SF7CHvGS1RwKpeZXJE/W7Flf7vllmtnCffM9HTgvba06t/HwwPwa+VspZjrWq/evmm3l+6Gm7X4KZHJkub4yTWFp1ubnx4c2HlHn7GWlXrcTJXiqCaq2BNd4rGRGMGe6JsXszvgSuUlqsQHfCBNcLRBf+qLr4PygPokaqz8Er+ciKXIS1SJe1bgw7NRN/u/HqWWj51ydTqbN1N1vU5UjThFDfQB3JjIycvK6vxm+1vxwg2LaZt5iSpl4EeduDyf0T0dJzR3BF034xPb4sODgJJlta+xPa//cwzEsukzoD5yQpI7Bt8pq3FbW/FJgd1URtSr7FFAnn2A9sfIHX/cPnllBwE+g4f8APE9bQtiv/rx/UB5+TkGPNI4kZ9TSDYIqF/g136hvvl5oYhyaWALKMMxFCVw2fIdZ3MMsB8DoDSfU4qNyXcciJP4DOCjduK21EHi+gL7OEaCynV4/JSJIQcx/H4AuQmMlA4KshGQndhqXz/I81MeKMdEJl/RBjamvdgn2KDgx3xuCwlETCVPBDOKjruolQ7rfT75drlS1LeeklZ9H28dopyIpITkNVYvbf8eKMNbhbo+sUQUWigMJcQ11lur+PCTvkyabAGJKtelvvvuu+GNUPi2Unaem9fNUfaJJ56w5557LtxEtb5Wt/p62zYaPkk6dTs+YJVHw/Vz3TayudbePtrzVqyhGr8IZJfGwJtrAKHUPyQEbkXbcP1iarFyWh21drFma35OsbTesvklrz/kyejEmC3V12y11bRzTz5uf/BP/8iOnzlljzzxmD36zFM2feqEeS5rd+bu2ifvfmofv/2JzV2Zt2q7ZpO1KRvqOg+oM3SPyt6m7B8TMrIVFKfxfr6rv2B3iM8dTk4Cj4yXyqo8xOfQ1iY/7QN8px2gfSDevxfEcsSUgvYYF1m9JlmlHuMiCQnH9grZUrZIbX4/UFaTFWNwr7ESjkXPlEsbnjy1vLxTpe0Jd6fmMTEUqOZUaVfD/qLHeNrnoGKBfpcSY49HcqUdkuFC0Se/QjNca80NdXyGws11bU/CQ5/Jfh1gy8lXe4PrrP3Ezj/Th+hjbDs+dsj/2AZSsgA4pn154LgIW8nGeaBMPzGxG5i7WGQRcS05v3Dk+RTeqWyQ9gl5dYHKx0jrxojLU0btH1Xk2aeX73Q8JcqzBeK1F52pq5gQf0jzr9p9UIh/TLvJyzHGW+h+5VK+0OeNwg9/+MOeUnMnMh1bZ6Cc7TEQ08nYL2IwyDM6+zTpx8BYDOrwY2LWKisrBkz+cXtMaCnkeDo3KwK0z93NWr04LCBb6nRk0+D4oOil92EBnfhpkMeIxQMq8cAduiSvsd4+71jNKb0TO6wuJf7Ab3kxoRjYhvCGnGW36XbGufYJr8AcybYRSPLSSRnZz5//7F58QujEd4jYZCX1V7/6lb333nshRrHH8sqyza/dtdHyiD379LP2+uuvh5/8n3322SD/5cuXPDGphWej8s74+yLcpby9XK59XKbb6wu23ORGrK3yfB4bHw/l6Ye8ljO7JpL+4YmsT/a8fhRbMdiQbNNfbty4ERLwq1ev2Uhn1Fbn6nb15lX79mvftn/1J//Knnn6GatvJlusnknE5faS3W3NpSJvuxlGhD2JH+wCYUP2ox/yQJSh7vCo+6e46vuySzAglaE85Uj46N+czKxdv2PVko87lSzp4jhxSjt81rhE3f6vES3ZSPWEb7f3XWQh3mK7g7wEFHkp+6DoOrt1b567/mMM1GdygG+oz7gquXVSlE5CaFT1E8uqx5L3hq2defBu2XRZG+STm7uEPPu0O2vW7mavbUQmfEafYszn+ukYHU9GWy1eUJL9eoFdkXdlmV/PuMch+3mVGKCPYzzGXWJE/qffM2YxT6AnsYYNmMNSpLL2AuWQpd+YeIijhTCGJPMBIB415mgMIob6mct7xQSfeepRGhN8p0/Td5UI0j7tpdjrmNILex1TDhulP/3TPw0//ecBgXEqSmFMDW4YlX0c0/HUGYBylJcTRXKQtkDOY/CB+BwfT0F5HaM8AUgd2jwskLzoWi8RshBce8Fueh8GsC0yMMmrk6AXuuZ13FLHE5qGBzcyR0Ti5A4J85yIZ3fyc3+8D+JudFZP432+1+VYt053q0OLdvrZE6ouHY9BiASQmCx5x2OVa823THQZ8Rm9FLuKG7Z01PPnz9tbb70VtmGlo5HZYbWxaqVC0Z56/Cn7/d//fXv11VfDZQKK1eyRUbS/JcPulGmZQrF9j1y2tdaGNdDZ+Xddhoz4Sc4Hl2bL1usNW3Pdmm7HJU9GlzwBcCtZ1WNyfHLCJpx4ZerxkydsbGLcVnwC/+zCBZu7Pm+jxTGbHJkMdrpx7aYtzC/YyLAn/c6bJxuUPOklEVhuLNvd1Tlrbmzvz0z+qcx8J1YUy9iXfUzmxBKDMp/HxyfCkwpardVw+UfMA7vGY4wz8JHbx421usvk+zZvZoOQI/NB9h2ivf77Yv5P/8gBX3jFQP50n8o+MFDPm8+7RjWv39FW2g9UFnuJZAt9pw72YjJOdQD84lFxIUhUw5/7Ppf8r1N0G4fLRLYT/QDR3CT3iBdUtDxZ5cSz3eEyMOaTdR83PXkoozTxnRGPkOvwi0SJxII44lIHxgN+siSBIBnlcrNsSyyhGz6gDzN28apgtko4+Ex/5js2iAnk2SIFZbB7vzHxEEcL6ht50Lgjot/0KpsHfK8+BlGfvCSOCT4TnywYqA+2NhNkxsU0fpBjT2NKD9BOv2PKUcB9E1UZHeNyBkxnlwPZ6nNqYIDClJcjRPBVMFBPvPiOsyD2qVwe4E0dJYeUP2wDI1uebnuVYze9DwP4hE5EZ0IOBmCSVFYk0DHVr9DuWseTJMq2I8qzQ/8dhHhqe1LEnes7E9Wd8AGly6N7tg8sxAXXg6bEAMExxQ3toxuXkbCS+tvf/dZuzN0IyXaz42fKTN4+KZ46dsq+/e1vh2eR8pM/shDjgIRtP/yf6grVOxvGj6JxL8OWEO2zSoTPeEYrgyPEKhXHW66rBkXO8HlSRs37DKvd16/fsKU7yzY1MWXX7lyzazevuQWzZzRim9Gx7PmS6OVpqRWGC1bzxEJtiEAsLzagbT4DeOF3EgpNFvTd0dExq9aK4Q5vPdNWRNxB8lHgu+GJp58UsdL7MFHNT1TxR2wHKNjOy8qW2CuLl52rS7r0ph+0XVZkTpH5kn67RS0/6YQwG7KziEHsEmupHF03QqfjfZUTJT9GefkSW2B/4lIxAqGjklT6A5fusI8VW3gwni0sLIR+yv6YsAt0P2BfZIH6iYmHOFrQ2JOHNCaImX5iAuB3ysdEXWI0BvvIo4hD9V/qQvTbNH6Qg3L7Ddrpd0w5CtjVCxgVhRggws8ubmB+SkmN2QuUiwcSEcZgQGErZ2qy6xc4kDrcAMJABB/2HSawBYNfTHk/K32p4T7uut2bze3PBIT2GvDxhBpTv36mPrFFjJBkx6QTHMU3SRyvQuXxU1euXLHF1aWwIlnefK7m8WPH7eUXX7bf+73fCw/NJ9mLB5n9Qr7O9BV+it0O5Ao/m/qAg/yARJAbwiASAHRjFYmf/XnEFjpS78knn7B/8k/+iX3rtW+Fn9G5tCM8rqpQChM9b7Eiaad99KOv0nePHzt2j7+IQTkFPmLMkFzUxebq++yH98ZGMyTSqW7ynZIu+FGeujsKP8Q94CvsFhM2zIsr+eYgIP/2Q8jWDyhHrKf6Ec+am+Cn8YH4J+b4DlGWJDVtn5ji+H7244f4aiEvLqE8EMfEG3FLGS0CPYy/3tg1UZXhMCodmoFAq0cAg4soC2F8CLAlSYD4iRTiujX2M5CpHpNYL6fmQW1Sj4kaR8OHfYcJkgLajwlZ9guyKTQo4nqy1272iduiHB0PXfAL3xnMScKJhRi0wE+2vNkIn8aUls0D7REPkjUG7aY8++UL4EnckoRxEsFkJiJ20JG2ZRsSM141SoyPVUdtamgyDCC1ci3cNMXP/aym8sgn+HKdJ3bBRvAiMetX5zx9QZ7OzSZ9ZTtfyiE7iSKTLzIQj1xDjAxzc3Ohv1KGfsdbqEhY0I1j3Ex24uQJ++P/1R/bH/yDP7RGu+GDQdFGaiPhGlZuUsRm8IIHIKHkp1r01GoYlOqMbuzDRjpGsomMlCdxjimc3OWYQ+OCfMTbybDHQUFxEBPo5SuB41zSwlZ1+gHl78d7UMAPu6WEXPiDExfRQdoyjl8objcmjuXZjD3BB9nXAL4TR/Q16UV8AE7EiCX4cZw+cfbs2RD3ikX6AX03lkuUxvBDPMQgYIwi7lJKQQxTlrGY+ZXciF+5iFONsw+xE6V/9a/+1Q/i5V6MpUGA/QwmdHImZLbsp8NrkMDgbJkUWc6G+MxxJk4GTvHQxMZPMkx0ODJeLaEs3zV4y3HpQMZxlWGQoS5tAO0/DCArMsZE+6m8g4D6WnXCVmw1QPerG+VJMrAJMmU/sWY3qGGvlA/2V3vYElA2bhOelKM+8sVUaHXCdW3lzToxpW3xHb9TT3FBLCCnOjbtcNcvj12qVF338pZtOQZfvm9H0RMp2uTnwM2fvDdjgvLIT5uamDjGd9rGVsQtSeoHH3wQ2kAWrebNTM/Ya6+9FohXoXKyxc/mTI7SAdsR9/myZUh1ll/pK2xpl+PqFzFZ1amy9V1lpCef6Yd8Rxf4c+JEHwToDChHu5SDnjj9pFULtXBNbrPeDNemrqyu2O2l2+FGl1MnTtljjz0W9Lu9eMs6VX5C5peQTG7aVP+DL5D+0i8m+ZqYDCd23h730dTDw923LhmgjGwl/lxOwpMgxipD2U//m+1QjzJpe7JNP/CRx/vITPipGdtC6AcP+KY+oW32S0ZuPuMz5fsBZYkXtvAJQN4S131mXwV40n4K9scySS58LbtBinkBe0GAGE/R66d/7CG9FastV7cTri/dDvgiM+VlE15O0Wythb5NXXhwjJNBZI9RKlZsqDbhPGgziwfaF5BB/Qnd4MVxKPaVylCe77THdx0XEcd5Ns5Dnt1Fh4XYHrJFL8I2hynbUYZiMgb2o59gJz4DysSxK/CdWEn9Dql8TPBN/UFZklTGQMUc+zUexGVBHM8iZN0r8uJmP/gOAvoucmAr9EJXPssPQuk//If/8AOEY5UpdhTAcCQwGI/KDD5MfHKUBgWIyZ5JiHIc1ySvQVKJEMR+kl3OJDijwGE4We1AfIevjMm+GHxnv/hr32EC2bBZTKmBB0Wsl2yvQB1EP1YRAb7AvvgN2eCZ8pGdaQu7qwPl6YJcCmhRsdP1ZKd4L3kQ5cnLPnSBB+3RkZFJExv8smOcPLVsaITrEDM+sjf14R+Du+zXVnhGafbsSsnPFhtkZbJYggdtwoPPPND/0/OfBrq7cPdeGWSFnn/+efv6178eHqAPP/ZRBhtT7l4y4PpgO+RLobZjnWkf2SB4cowy9CvZUNStOG0m7CLq0OcAcgF4Q/Dk5IRylKF/Ux7ZKCs9xnhtqCf4N6/fzFZh19fCtZ931+7a6vKqTY9Ph+Q82Kxbt5GZ4ezaUG5mimTgOOC7iH20J3+xD6AfA7UGa09hbHV90bdZvFGO8tSH9B2ZhzxxGSo4v01eignsxme1B1EPm/YDbyE8Sow4go/4sqXtlOBNm5BsTnklD7tBcjG+8hkKNnK78siwdtJtOC7/xmB/nlyMsfAXxeOjdAO0mSdvr0SVfgWoD9+gv3fDrp8YpmC8kQ9ky3K1YBOTw+53aCScqOgXthSusRW6W69aZgskP8R+5OAYsqELbQrozXHZifLsC7aObAapz/WDPLv3W3e/QHvILNvGtkgJ5MXPVxHYIfUVNiQu2AL5l20K9hFr8rkoryxgnI99gZ/COLaZ89Cm+qjGkJgoo9iMCT6S90GRtgUdNtBZ9sYuEN/Vb4XSn//5n/+AwkzWHIQU9ExubGXY8DOoO0kJqYDB2Mfgc/r06fCoKPYxELPFAGypwyDBcX6iZMtghSM4xk+ACEwZEXWRJ25PYJ/oywbZDHtgcxIPvvcLbIZdIewI8CUdIrUXfsXHlKMtfMJ3BVEMeKRysMrFxNaPF+AHb3UMEe3K3yISmFKFz9sTY8phlxj8Mr60UPdjWaKKvdQOMkt3fWY/ZbBTeD3q7960G7dvhBuQmq1swBiqZat+3/zmN+3pp58On4lR4prj1EUWESvKSjrzQJ175DaUf5ATSC54pQgJTM5cmLbFd0g81J7sDmE7vrO/vd6xEU/Q6N9cynDp1qXw8/9Q0RPurvvDDQuvkFScnLLaRJY8EBvYgTFC/GIQI9gn7s8qp61k4EUFzY1V/75ZeRPIRMKDP++R+9cdtCPWaIs21RYEf2zaF7oF22g668bWKi4knnmQbUXS9b5wueALKQZCvHKTnyvWTh7Hhh6KkRjoDMUyyA6yrygP7KftFLutqMJb7YQ2/SQyL1FFXsqqHFue7nDs+GTwqU5UICZzysbotPzEczW77CX2Rxxr/egXH9utrPrFFwWKNfldlAd0zoufryLy/Ezs9TtOYMu8PtMLzDkpND4p5hWXeTL0GlMom/aZLyLQAx2lJ1uNG3FfLfIzPJPNvYHHic8QlXAsjmGSYOLgczxwiGiEAYgy1KE+ySskZ4kPgrCfdmmfGzxIlL8Mht8PYEvsxOQlGqRz4GD5is/4gskgL0kFtKcgiT9/oeB6lV1fYg8diWM6ATrnxSs2IenkulQS1es3b1iznT0JAJCksoLKjVPPPPNMOLHiGKtV/MwL/9RHUJ59DxvIgQ/RE3npV8SDYgI9ZJelxaWQ9PEEA96ydXLyZEjW6cus8JG88hQEbjDjprm22xS7Upc+rKS9X8hOyIcP5I88qyHnTjo4+2r8EyEfttt3nzpPdJEtIPzClrb6GQUpJz/ElDcxHgUgL7IRb/wSIeK60rz48TR+hz+gh3PEQzzEVw+lP/mTP/kBnZ+JQ5NZShpAlfDwM38MTYSAYySfJAGUhwADsxJVBhz2s2UiZbCiHscop2QJUtl9nyyOMHTWh+7YAPtjG2zfL+BBXflN9s6zI/5T0qEzNcpCKXQ8xkGuqJYrTE5bJ1EQ5bBPjIIVbWxkxkZHs+vdiCvikMkbMEmKFE+cHHGXPz/5E4Ph5+yC83V9eIc/d/h/97vfDZeosPJDPWzEa0hZhUYW2VmUyhUj1gHiebL0CXgAbMt++KRol9yP955X2Rv4BluiHzZAX9oYHs6egVtw/XiCANcJbjTdFnVPCRoFq1Z4+P5EeEEALwJYW1sN5YkL+PAT7fSpKWsWGtZo1rPrRd1e4TW4zn97XLFimPXbuD/zeWiIn4S3LjXhpq52m9fD7kywsuNbfoM6Xp43nKVWoC14qi0ImeDRF9wuo0PT3tey8U4En15I/Ul7u5VPwaUyIUHdfHh9pVqxNV56YB6fkYbwVYwI7MM3PBOYtjOfIgeXu/QnAzxoP8V+rKjGZbeoYc0Wj1Hb/oQQ+SpGseB24a1u1e0ng7v1r70A+x4U74OA+tV2++Y4zZEXP19V5PlZY1E/6NVneoExKwV+yxsn8mSQn1NQFrm/6EAPdJSebNFLc7RQ5FpRJt34pxhWUyDthwEVmbAgEA9CHCMAcAqro9xkQqJKQ5SD+CyBmEjVjhIUjudRL8TH1QZ0VJHqE8ucEqCsHAfFdfuB6gF44ifxTkHyBSkp0edYJlE+yBy8Q/ZJXZ+KvQv751Z4jWL2KkX286RQET8HZp0xbraXHUjAJiYmbdgTIeqgB8mn4lWxKh2IWVZTz3963m7fuR0mwSFPUthPXD7yyCP2ta99LawychKmOFf8VjeTwZTQKdU3I/ajq3dAp1KJbbYPewSbbNbdbgengicj3XpG2OVe2fy2Mpt6ItFteELJqyk3rOjtQdkrKtmvY+u2sn7T6bY99sQJe/GVZ2xkrGwrG4sh4anWqrbiSevNm7ftzo15W51ft/ZaN1zX6lawqeGxcH1y2RPTsvur3N3wE5eGFZ1SuaCCJ6SQoVe3GWTgprlguwj4iRMzjTn3yOOSSyDyiKRJn1s8VN41zYvYe77aRCjl/ypRQoSPNTYpbhQ7McQr7qOUu1fHv3NzlOQLiR03H1W8b7ttPRsLN8qxj4fnh5eV5QmdA59enYiH7aQ+FVMpvHB3J5U6nii6z/Bb9lJeyuYnPDv0J9yD/pvfNyH9ZQPZh0e9DZerO6jc9URqMznOqOtylMKNdpqLRPgjRrDxJsWQL/YD0kftZDpv55/uV1mg2NA+7d8L4DFoXD7E9njpZbsUsqXsmcejF+0VeTxF/SKW/37UC4qj3coIg8iax4/y6f7CX/zFX/TkwkShziAgsFZP74deZZnwmQwYeJTc8jMQjxMh4eWMRaQkKhacz9woAh9kJKnizJzytLebYT4vMOkht1aGIOQ/CsB2IVHbTMiylRqf9Pq0Y9Unu6G2+8inyb0Ae3CGJftwfSTvwvfQzQpsIleurk/4nTFre+6m+ujFzXrEWXyzH3HCq1HfeOMNe++j9wL7tv+xQjhWHbOXXn7J/uW//JfhZ39epUr92HfImO+7jg2NdLKE8AEh+2+Dt313w5O0gvcbj6OhzSSqSBKVJwddJTWR72PFre7JHr6lblgZ9u04q1eVYW+3bdeu3na6Y//z//z/tPHhWVtd27CbC/N2evqsfftb37bv/P637elnHreV1UVbXpm3U6enrVxt20Zr1TY8BjY21sLd3XX3UbPs6UbUn+nbjSav1d2eCHGJQc2TtlZrq29gY2IyTUzQi1yuH5D0DJHLR7YgdoLtfGyKY6214el/g6cJbH+IPMewV7xPJ9YxFB9czoT/gvwVT3hH/ORnqGwdT0xVHzsEvdzXLfdfeLSbxyqffbTd4brccdSVajQXPNHnuc3bx0biNQZHq26H6nazB1sgK7LE+rUbrnfDJ6aIbx6Qszvkqe1wtkghUj+GL7ZG9uBL3j62NncfrhlaharVi6PexnZvww/An/7NlvbQO547+MzxfsZYxQR1UlBf4yH6oAtzD22kOrMf0IeB9rEow5M4iA3aoi722AvgjUwpaJt4oQ3igHawDQtHDzE4ZEsRtuSNZw8K/I9PID7H4EQ83bcfIGbRox8QU2mfIe65nygeL6E8WdmHHjF207lf7Co9ykEI+iDUyzgIy2rXxYsX7bPPPgtJBIMEQdAPqI/RNCDQDvXZPqghHmIPIBMouC/2m8LKznZ/EiN0JmKGgV+0urqyWWILlKVDUZ644DudkI7Ec0K5NID9QxWffCqjNuzJ2szszL2H2FOOOBsIeXrsmTyJ9jm0VOaMllTG0+oOk2Mzp6wTdsvZ5yoFHqKyU6u17knnnNUbi96RGjYxOeInjKfslZde9CR1xZPUm+a92drNtt24fsvmby1Ya71j0+Nup6lZnzHdP554Fv2koshjqwK1fGAhQ/QBL0eO3H070rMe8CGiMwD1xzWLjanJ7DnPIgZnBvm9jil5crHa2+h4kuq0wdbtxpab7PpGasddqAgFH92fCsEfewPjMX0Iu2I/+h0nKEVXrx9K7ic78kBH5jQSQuYlkhrdfKxEFmhuPCho3tVciCwDj2EP8RB7gGJctB+52a6JKg0oE34QorPmgcGfY5ypctbLHcU8LWAQkHxQl46IMXqdET/Elw8MvMROTHmrC0pqWZEHxAl1Wb2/eOGizd2d83She2/lYWx0LDzY/8knnwzxRDli7PMG3Zv+gkysUBLzyJWncy9gC3ikfZT93BzGT+rdTtdmPDl7wvX/B3/wBzY+MW5u3XBzFWUuXblkH3/8sX362afWarfCcRLHvSZynz9cCQervVzzqbGFLfGCjfYT8JMPRVwvzPaLb8sMxCrxxQTFo+awJW8hk62/jNAlU0pUWU1lTmKf4oj9zH/7HVMCNg/jhI91WnUlrh7iIQ4DxHU8v4iIx71g10Q1b2IbhKjfC3QmViy4aYU7qrlWdhBogGdgV0L9MFH9aoDJj4QtpiJLjjlgktClI0pUww1/C3etsdEIP/dzjAG9OlwNSepRS1TJVNUXeQRWnOQMgrhvQlyTSZIeVg09SeXSAG7ooS8+++yz9s1vfNPOTZ2zsv/VW+u2tL4UXojw05/+NNyExs/V+OLLAMaR7C70hbAyBunFCQcB2pMPY/qyJKqKMeKDG/fQjRv1Dig/OxKgjzIHMZ7QRxlrGFcgkkb2H2SiSuxonGCse9Bx4iEeYi9Q349pr/NEkeCOB0d9hwh2Ol5MdIQ8SstB1I95AwTWKxr5zFknHYnrVOm8ot0ATzo/AwGf4UNiQZtpeweJWN5BKAbypgTyysWIy+4Vg/Bi8INUR/VSHVP574deddJ22DLQT05M2PjYWKCJcd7fP7ajbbbEia6ZIR61ysAx3mtfLmSPUltqrVi5VgmPpOJGKmKaSwoGHeRjGWLKQ6/9O6GTsa03JSEXegwC9UkRSS/X8M7OzIRjXCNKn/IGgk3/8T/+R/YPv/cPrVQt2bp5wuamOH/5vP2PH/+t/exnPw/XalEvYFNP9xTiZgjbLR13s0N6TP7Og8rHNCg0cCq2+OPJCCMj2TWFJPCMTQyyedirDLSJraH4ui/6Vsor/n5P3l0ohXbFsoryynvJze39wCUTbsuEJ4Td6EN8VsK04fGVhzwZAp9EDsrhN2JX7bAP/il0fBDAW/Xi+rQhAuzPK0tfImY4hr6c+DCGxD/9YxPmKsWfEPPvF7Fcomyc2HzMmX+n7UHHsEFAOylo96AgWx8GBtVDPojpKEO2FKUxmSLVJ9VVx5UTipSopnmDyveD0ve///0fICQdCWYwJRFgoGY/iJURaDQm6sbl4vJsEYo2KEvHYbChHeoxWLOPLccpq/oazMULiJ8mXB3TgIBx2B+3STt0YsrG+/YC5IJXTMhAYoQ+IhIKZKG8ZKR9ZMHeyCVCdtXjuPZB1ENmdJOfAPtlg90g28Iztg8DJ/wlI0TZFBznUU1cqkH79+zfblqnsRpu7IGfSDHRDygft0s9eBOHyAexT2U4hv7IAbpebX2VOKLtzC9xOZIPynJCxKrgZ5c+s1opO7mpN+pWsqKdO3PWXnzhxZCsUp/VNPRFBnSHn4jvO+H7uEM/XD+6ZQfK58VarG8cn/h+BzxJ5c5wjlNWMQH1A+pw3SXlaSfEAG264UouQ4GkvUQsekx1uRGl636echnNTyxv2cL8sp8cTNnE1IQtLs5btVyyM2dP2eTkqNtowpaW79rq2pLbigvmW7bWbFiZSZv42IwBbIYcskVqHz5ThvKqI6ie7KO6otw67o70UVaUoQ/SJ2mX+MAmPDZreuqkn/hkyQbxAuEjVuQpF8uQ9nHJBM84RnmIf4v7popZPGN32uM4PCS3jhFrfAbSDZsQw+ynbq02ZEPDtfBUB652Db70Y1vHtx4BCDjBKW543DaQMdsvWVUPvQBh3ckeUeDfdu+7Lnl4ukKjm90QJjtg31QGdKy6Q2rFneMKMtO++hh1vBtb0+OQXsYxZERPfg0hAZTtdFJBPfGhPj5jn/TaDfABajsm6kPyG0TssOLO+KDxHPC+do7Dh2Ncr4o9gMYLttSRfLQNb42n4nU/UA+S/0Twog34sKWM7HcQQBcQy0J70nc/Qb/C72wF2eEgIJ+jD22gEyS/AT4jD3rHc6KI4yl0LEWs134CPVIboYdiNybkTX1HXXgopoBiKo/gERP1xCOvbD8o/bt/9+9+wAeYwQhjMyhCGC4VGkipmGgU4WMgnIIWohwdl0SHs0+VV7tSPuaDDNRLDZ0GkHgDeMETI7CP42qD8jiIY7S1F8Bb8sXEPjkJknwivgPZJwUDITzkTHRFfuTWdyVv8Gd/ap88qO3YPtRloAe0KZ04lvLkO3U5howMGmsMHPVVK7U9Gff9HBMhaz9yUUbt6rtiQYlqPAFQljKKAXSo133w90SV6+GkJ6SJDH0hVvLffPNNu37zuo2PjAc+6DE+Om5PP/m0Pfvcs+GSFMUIcSpbxSQfbof7ubu+eaPTlr8BPFKgB7ykK2X4rEl4Cx7jFT8jLWXxTjnFgBJwEfuQjXa387CQgAGOY+uG27Lo2yzV9X7acVusbXgisGblIte5Ofm27UnrwtyitVt+ojI5Yx3iZKNu1VrJTpyY8cT+pM3P37b1+opNjI+6Thu26vFRG5/AmYG7ZKpU6OdbfRZCFvSWTZEbewh8F1EG+6iu6lO+5PaJ0StRxe7EL21iy9CXqsNWLHDit/XqVnizpQwxJGJs1DN6aVuEbPDkM/WCT6NEVe2x5XgsQ+xT6Sn9JAP7Mj0p70lNZ90jLtMdPiLK0U+gdsfHdZ5b29jwfprFW8wXXagDqMe+Ttv7rfV3Vzrv+Q+P3VJdJ9mBLUAf5K96klriUWRh7xaIW8psyeax6bHW5DWqzifYcdNG8KWMbA7UFnzQR+MFkAz3w1bbW8Q+eMo3ah+/QZJL8yU3T4FsPMoe9YdexEzmt2xxgONAfqOMdKDNfkAd8YxJsquM7HYQQF7sIFlkJ/YjA/v3C/DC3yT4+k6b2O2gIJ9LD+mlNhUz+JOy+JljsT/k6xg6lkLxvN+IdRDkO8WLqBcUnwBeqZ4i9odxJ+KJXshAX0rr9atz6U//9E9DoqrGISAn5IGyKSGI6qaAV0yUo04M9nG9qjo1bePkXjLkQYYkaOAnIwHkgyjDPra0sxeId2wHeJI8hMkvIo7RZqw33+l4THgiggfInpIRXWQ79rGFkAE7xXx7gfogtY8+w0f8APtT8HMv1+6xqsGKAfKzojo54meTXh7ZRNTvRy5A+/JfDNVHduzD4C994U8dbtLYaPoJQ8s7pCcacZuyI/vgwRuWPvroI1tbWQvPCA0x5sktq408M5V3+iM7flBSzCQEqC/Kk9U96hMrsmVJvoj2kSMFOoPYZoB2Yx0CNp+1GYMyGhxF8JBfUx7ogr+ypyS475y6xJvbYH2NEw+IkxVP0MdZSR63yYkZH2CGbdmT18vXLtvq+qpNefJ+4841W1ycs8ceO2vTM+O20fbEtcrJgw/OLU/gvL2i2y22EvJUNh8Ojw2Rky3Isw/7ZBPZHb3YwismyqF/jLxEFcTlszo+JrQ7trTo+q9lCQYUYtvL6mRASRCfsSE/eYdrpJ2XiLiQjHwnUW2737qeqMJLx0Pcbfo/huxAfdmHLb6j3hb5eLGx6ololnyKKIvs+Df0ldZGOIEMzyftbrcZxFiQwve6Se6/Uo8ulZEhG54cD2+F08Su8SWFnrOb+iPWOSNPCLwft0pMbFu2RV5+4cAP6Ek/oZ9iG45jF/ZTDh/JHny/H2SPlPLsA5BZCapiQr6VHHynf3Kyy/F4PiCm4E0Z9Utiold7/UJyHxbQU+OOaBC79wt4wTfEnNsoJvYdBNAljWPpRJtb8Zqd0OT5TnNpDNkpBXFzECBWU18gv3wUUx7Yn6dbL6BHynOvOgcvwIAOJ2EwLoPAQQVAL0gpHI8CdGCM+UWDnCLSQJxCwRITelOewYwt+xiMlcAeBPA3to5JwZYCmeiUrM5x0w2Pcpqamg434bA/przJalCkcu1GbtDNWltABoiYIqZJMPQ4NOyP7viIRPXUqVOhH/CzHvZGB+x/2P2gXyAbLy2IiZdtKMFKoeRLiRj2oA6PibvrJx9genoqXPrARMrNUtiAV8i+8srLNn1s2hob9TBO+CmNXZ27Zp+ePx+eNcv1rpMT3BCJrXgupU/c29LUwYDNaYd+gH/w3371g7h/wZfYwRayS2wf4oUTM91cpW3oB84jjnfFVAqSLUCfgi/xhx8GgcaHLcp+DUnf8gTtLHtwMUycxWOd6CBAW7xNjhjnRBm9iBH67lNPPRV+CcGf2Bbf8TmvH+wF8CMGiQERMaFLAbA/7WIDYoy4SG0DESuMS/DDN/LTQ+QDG2GvuL+J9tvHD3H0EDIJAkADN2AApDPS4Q4LtMVqF5Meq3YMNgzsBzXAHhQ0UMbE6kbeIITdSQhEnH1DOktnQEN/+eOgbAH/lHoNmkwMyMjlG0wMx44fD88erZS3n+VCex1A0JeBP0++HeSxkgdkUKIKL3yx2lwNK10APXngPJMdxGTDRAhP9GM15KgOhNiHSy9iWt3sN3ky07/xC1uI1cCR0RGbdL25GY2bibj+kQfV86iuO3NzdvXqVRvyfc8++7w9/ejTVisOhTa4vne0PGIXLlywy5cvBRuGx1WRnrpcTCB7yFMDuLYSPvQD/IdPmuERRzFohHGKbR5tB7Khe9y/mjwaqtH0/VkCERPAnrTNXeth6985lsY7/PIQfOHEA/3X1z353Vzt7DeuiN97182yDTQS1EP2EP+bRDzfG1O8TPY5e0zSvsPFp9+trm6NcxrzsOt+A3uRGN68dTPQ7du3Num2Xbl6JcTipUuXbP7ufPDRjqXbfQI2VhwoNiDGaLZxjCFzbBcRJ0DEALyIHfzLuHoQdvuygH6Q9jmI/Q/x5UbwMJ0JZ7Olo2hSOMxOQ4dlUmSFRyta92uf4zEdNvImGvRgINKqDJ97JarUvzepOJH86SHRqT/S+vupN7xTos08kOxpQKYcPytal/hhwNhOBa4x20GDrbZI9/tR7huaHLIfW8qFFQ8ePM7g5qbjGr5CMfsJnaQIX7HiRR1dS10oev3wYzaT330oJznaDfg4pl7gHpSSyJuAKoWiTY+Nb6OZ8Qkb5jrQTvdeOQjLj3rCOVodsrGan2gMDdtItWaPnn3UXn31NXv00Uez1eSFeZ/0L1ipwgPMPQG4dt7WGvOezFbssccf8WR01JZXFm1yZMJOnzjjScGizc8tW7ddtVplwtUf8UHFE6PSmH92X/dDxET0vdstelwVrVhwPQqV8LnT9kRvw33Y9FjztoqtjEpt7yutISt3hq3SHfbvQxn591J3yAq8sSziDcETIh757iHgSaRZzWOgNrqdRia8T05P2cSMJ/PTkzbhxLbIq0+5FGOTCvy8z7Wa/pXrUQN5c52C+4FX5nabLnfDG1oPNx52N9Z9H6+b3YWMbdNPCjo2NTZkk2O1cInN5EjFJkdrVnb/d5vuXH5ddOJzsV304y7n8IRNDG3S8LhVSvv/E6lHbHj+68pK9vKNcBK4SXltdTy+OwW3d0L8zJ8Rn7N93ukMD4nKHhMlN+646zPmcdatl+zWlQX7+N2L9jd/+SP73//v/g/2f/o//p/tP/1f/pP95V/8V/vVG7+2lXk/Ie26r9vuc5Hz4FFsAn1OY20eUj34Tj/hJFYntxC/LjG+kLhq7CRZZZ9sEyeqjDHMD5Sl3EEnquLbz1hDWdFesF98BGTGVpwQxgT2q439xFGU6YuKwg9/+MOuJnBBwUVnpBOTlHCcTsh+Omo/oC5JV3rmyVlQ3hm+Org60f06E+XFE0IuOvx+Bwj2ITlLQXIJsI1+9gHYjYQTHRmkSL7RmUQolo3PEOW0ikqZvJ8GKRfbg88QbUKpreC3m/1iMGBKLm0lk74L8XfxL/F8xJV1n062g59/Q0J4Dz5Rdevh1Y/pq2ewL3ZOQXvsl4/jiSBG1xOO+upmUhKB8sTEiRMnwmrM3/3d34VXp6Iz1++tddZtanTS/vkf/3P77ne/G3wAf3RjEPTWbXiEa0899mG4KXavmAhvAuozWcXXWkGnPWJIlKLrxmXVMlwLWPb+s7mSUK9vf11dQK/mg7+2DpJoNLx+wW08OTkVfL68tOoJ6pLVPJGtVTwmfcuzZjfcx9evrtnf/rc37Sc/ecNZde3YsVlPWpfsueeesW9/51v28ssvhZVZ2vBTNLtZv7V5KhxDUbIpx73N5vV9m6uW+IbJH19kd3nXQ5nR8pidGj5tjXU/WfLyVbeDTvJ4Liw39XT9RKTDW546rMYvuqxbcYWdSRrqdV6LqhVmt2XZk5iJcU+S0ijO6mQfsg2gf6Z9I8B3IWcGT4I8frxHe/rFiffm7s3j9/hGQN+4HG3wRIJz5856P89W7SBuGlxaaFmzTpK1WdxBzE7PzGwbb7mEY3q65v2gHE7o2t6G+hDxFyPYZ7lj9bXtq1fwJS636eztrnZattTxfhAJQRl8kurnvd9481UK9JE8cOfkd9h9ctzH0Gq55vvKtr7S8rF0wxbm11wHZOnYJx9ftN/8+i376JN3bGntSngSxZCfhNE2/eMb3/hGeA0yl/RMTU2G2FrdWLXCZNcqQyWPmfEQN5Tn5jgWSOLxCj2wo8Zl+jw2YItuSpToN6qHLpThu+YH9lFfYzx1iB+NM0Db3JjaI5CXOYI5CaJ92maeSecO9jNOUib2/fZxfHegA3EnW6E7emOn/UIsM7xj+ThG++gRlwPIgj79gLKpzOjG3NEvFAuyJfywCfL1A8ojRz+AL7F2GMAOeT4d1D79ItxMhSExhozJZ32nYYIXI2gw6TfgCBLKUi+mXoFP+Zh6gWMMAsgnXrTD9zy+ewU2QP8UtK1j6MVn2mfw1zECleDhOxQDPSgvHSD2UZ5Ajm2QZw/5BnA8pn59BBiMBdXPkxfEbQjFtidyTR90Q1ayRa0NTiTa24hndRZKO1cesSH65EF6QpSTrWJipbbd4oaL7KaLWEbFMwkPr+xl5R77dnzSbHVb4e5/Hkv1+OOP34uhwDPw8ORo3AeaKoMNgzePIcG2XDNZD8ezV8hu0gBgsiI+sD+dm4mDJIq20TkmlyQkjKWCx7pvoZLL1+YkIREBrXMpKYfVuJFsbY22V8JE3Wy6TkWehLBqlRqXRIzZ1PS4Jz9jNjo8aStL7XCJDhM7N72UimW7fXvOioWyzUyfCDdhbTS7tlxfs1aJPrM9JnpSl8sziAP6U0alEmtpHoOsphV9bCr7ZF8csVGbsAaJy5Knw0t1W1uueyLjieBGwYbKI1YrD1ur4QPmGu+xp3+gfdYO/IjLjvPncVwVT4TgW/TEqFPzSQRRvHhM91596hxETfcZ27RsRoVN8gJu6IqfnLFC6l7dJHa7XxlTUDqiNnHZ9v7hxPGubwsep9RbX/MEe23Fk/Q1J08aN3zStSGPg/I9KrudhqrDXs/laHkbTp1Wx8bGuSs9e/oFfYFJhlhXvxMB/Ndubb9BhphsReOE0C56UuJ6qs+IqBOPERmwiWuSUNPla7uxMi3Z5z73ttreF1oNT3jWGra8sGaL86uul59MLTTss4+v2PvvfGpXLtwMK/wNWwr2IwZ43e9GfcMuX7lsG2sb9tjZx+zcI48G3697XI6f8JOa2talGujFmMs2lRn7UA67YR/K0G/pr+iJLZmLII1PbKnDMcpQj+8Q32kjz5b7AY2TsU/1HXk0pzP+6fIDPsfEcelM+UHmEoE24cVWfND9IAD/2G98pl2ScNlbhF5xWUAZ/Id9YhIf2RHiOz7uF5SXLWUH+OTFWh6Qjfr9AL6DyLZXoE+eTw8itkOiiiGU+MWEIWPnsAUI2A+oT1nqxUR7ewla+LLaAm94ifbCczf0CgB0YT/HATLIdnRSBgEGQMrkyYceOsOObU1d6rDvfqCMgjmmfuoKeYElnv0gS1Rd3s3vArozWGgADHp1mp70Ya/MZkJsxxSyiwi/7/Q9q0W+z7fxfsox6MCfGzHOnz8fHlHFd0Ro+9/sxKy98sor4fWpO21ZsOER35aZgGkn2099ksxB7JxCgxUy6rvsEOsLSa5YPuruZVCgHfo9J1ZrngThL1afeR4kK030MS59yOK55QnQlA3Xjtn169kLO5iwqTu/OO+279ipUyezt3pVa7baXPZEdcMDdLOxPhDrq1hAX+zDI62In7u379qP//on9uZv3rSf/+rn9svf/NJ+/dtf2ycffxKSZ1adkZ3Vq3KF60LXXIatuMJm8GdLXCg+ityd7+W7fcrbr91hV+l4khpEoD9Bnrx45rvhfYbLDkQ8/mt0dNxGhsd8XOB64RHXY8R1L9v8/KKtrdatvs71tC2v6/2gxLWnnBRvj1l0SmOo1V73JG05nFyxMkuchf2uR1wu7HO3sWoZ88QPeTqHR1NV0j6zc6zbDfCVv4WSJ+dll4X+zKUf6NtotD1Bb9mFTy/bL37xa3v7/Xdsfp1Vs45NDHHpiScYHqtcf84juebX5u32zdue/Pv4Wy6F2J6cnbTh6SE/MckSSNrWwkAesAf2lE2xm37xIm7oP/QRYo6xjvKUo7xWnIg1bCJ+6uMHgTDGbvpWRFvIoDkdOXVirBPle+Oz19VJDISObAG8+gVl5VfZb5CYGASycQzahdK4pFxcVmUY66Sz9MZOxEZsS4g6/ULjV8wbHtg6lTkP1Ee+foBc+O+w0MuneePEXnFvRRWjybkiwBbDKvgBAvYDeFJWDhZh+L0ELXzpTPDCKCJk7cf5gwK+eQFAILOf4wpGAhwZGAg4YyUg0ZVjqWzsZ/BkCw/KoscgwYYtaZttTNimX+QFFjLBpx/0SlSRAZ3hJSqVfGDgmUF7SFSxpRL8e1TkWkZWSbKVEpEGXSYWbtRjRfXmnZvhOjVWKcHxY8ft9ddfDyuqyBvXJ0HleZU8DiiONSXge4k3+JNQ6SQRXujK5IE9RLSHjyH5BaJ8nu8GAfGnZJTJlstWGLR5mgPHAK8VDavQDVZNz3pcr4XLWVihRv7RkdEwoFP/uWefs9ljs9bo1G0tJImBRV+IfQwB6UlbV65ctvMffmq/+/lb4aaZi3cu2u3l2za/PG/Xb1+3m1dv2trymhUL9CtWuYZso73qXHbGFXzRWRNxuVq2pie03T7l7dfusKu4LsXAOEtUC7wNzavzOLCQoIo8UZ2ePu6yT3jCxTXTwx6/Ix4TRbtz208GfEt9Yr1UrvmJw7hVytmLAGIiRuI+g/5zc9ft1u1rxo1P+pUHomwca+GFAC2XtUusbeeZp3PXE8BCbe/jT9r3q+7z8aGaDQ+5HSq1IA/Pdv3s00v23rsf2kcfnbfbzXkvWbCJ2qg99uhJj7/sOk98yqPnquWqra2v2flL5+361es2OjxqJ04ft/K4y8eS8yZie6Vgn/oeZbAR9uMzsU97GouA9KA8x9WvZWd01Zywl7EjD/DDp0qY5VM+YxNkRD7k11MTkCMldEJ+9Q228ED2fmVWedqT/eB9EIB3KhffoTgm5aMYlEEudETWmJgzlKjKlrJZv4htKIIHfPuxJW3lyZ0HZIb3YaGXT/PGib0iJKooR/AS4CK+q5PFjsIYCNgPqEtZ6seE4R8kaOEn59LZcTYJIQEFAWTeb8QBwGdBQYyOkIKSMpytMhjgNO1PAxMb6CHR8KesOnce0v18p114x50RGiRYsGXKG9n6tWWvRJUBPKUKD67v1t2Zm4U2odjKA/sVO5TDnkwC23TOWVFFB9pky8/avLr30sVLNrc450wRgYsViiEpe+2118KKKvypi10DH5+I7y54ArSe3fygWKOPcDwFsqZ+zgNlOJHRpEIs6YYLfIccMSmG0EWy8RnfPSiQQTHH5ETCzGfiFnk0DiATCc5Gs2TD1Rm36VC4/otkFTlOnTxlF65esDvzd+zRM4+GZHdtw21UzPxMO6Je4Jh8LGIf/NGfk4zfvfU7e/+t962xmK3+cOlGxf/GimM2NjQWZL567arduHkjs+1Gw06cnLqXlGAvIL7YU1R0m9a73vcSEXv5EzvlgbJxO0WvynlZscNJiO8PCSCTVcHq6/AghryfcdMXN3c58Rzb9fWNsHqqLcljpTxsQ56UDdXGbGTIk1RPZrOH/2/FA0S7W7GTJarLK/NWb6zcG6foP/QNymy3u39ve/LpSWE/iWqhSqLq9tssJ4JvHpAtpXj84XuAZ/It+sIGL6bg+lRPrt1ev/zlb+3jjz8Lz/Utdqo2Whi3iRGP3XEexL/5aLH6eniKw/TkdOjjd9fuhphemFsIJzWPf+0xa7ayy7GIecZgzScxkAk9sBnEd2yAjNgPO0pX6tOHVI/ycaIqXpSjX2n/fgJ+GpvwJe3JDxovkYNxhv6LvOiOHhqfNc4gP1u+Q+gt3fuByiMH7cJP/QLAR7yQCfTDW2Vj5NmS77RH2zFhD2SKAU9kxW4xEUthnLnXN7ZWy3dDLCM2pbzsCMEbP91PX/igA/r1A+nRL/Laj2XfDbIDNk0xiAz9IiSqOAOi8djBGBXnYFi27FMwy/H3I5SRAQkSttrfD5AHon1k1ASKjOqIMu4gfAcB/GlHQaMOzD5AuxwDyImOyKry2EzBRh3K6Bh8KI9eIiB+MVK7K1BkI+pA7KP9fkHdmK94StaY4M+xGL0SVckj+UK9gvPsM1FV3KhtAA8GWGTUgBLq+uGmm45iKk99bRmcWYX77MJntrK2Eu6Chg82ffnllwPxHZ+o3Yx/3W7evuwJWzawcJxBH9tLphgcD3o64BP7OwXHAMfxF+3RLjwUG8SOJjzxoDx1Vf9BgZwkogzI8EZeZGAf9qId7EyyQ1x22i5LbdZ1r4Q6PBaIRwFRru52WlpZCtcGsiI7PjNqzQI32WQ360HYDKJd2gKyEe3G8QJP2ZlLNnib2LvvvWsLtxesW/cJub0Wft6dHJu0ibGJ8HMvq2/8pHvz9k1bXlxx25Xt0cdP2fjEmJ/AlIIM8h/toFtoz+XAk42Cx0oSl+oPIPZnsIdvkRUe0gvbcVKk8bS+Vrf2WstGqqxcz4Zkc3lp3ebnljx5WrOlhVW7c/uuXb92y65eueknUlftwoWrdtG3ly5eC985PjI84XLwoPgJt+9sWHkl5rkpjLbU35EFGdETmfjMZR0brTUbHavZsWPH7j00X+VT4m1kpWJmIwhI9xRc09tywhYxYR/ZKib2paR4l51DfPDIsFVeqoCPKra0uBrs8uM33rDF+RUbdTsUOjwXwY3gY8r4WMWefOqJ8MxfeF25fiXE5MzUTHgKwsryit2+e8fjesVOP3EyPEqNXwDQiz4m/bCZfM7n2Ab0TeyMfCqnY+jGd3jwGVBOOkp/7Ve87Dfgiz4psZ8+hl9oF91J0qVHTJKLreRGd/ToR2Z4KP4Yw4g1ttSVnTXOUJZfbtjGscZ3trSr7/DLkxfKk4t9KYG0Lu3iV/lKBOT/mKiTB/hzTPGMzhB1gOJHfbWXLiIdl9z3g3RM+eQRMikeY+xm45h2kw099xulf/Nv/k1IVGmQxglqAotJm30KbsB+KE8ROTAleKTBrvr9AL7woK6CG3n0kzm8CAp1RoJ6vwFP5Ie/kgfswz5kg9SppCMyYSvKSk7KYGvxogxl0UtEfWzD8RTsU3sQfKnDBAxf6qojDGKH2F8i6msyjkkyxOiVqKrDb6NOc6CbqfC39ktnbA84K4V45WK3yx3s8MkGQpFsAZ9PP/00PGsROxXKBRsZyt4g9gd/8AfhjVQ8v5dj2Qri5qN2fJInsR4ayh4hw8/kup4p76wYfuyjTXhBsts2uErwYrLA3uilOIEUYxCTCoCX+MrPyJGC9vMoBfuIH/RQv5Ksil/inXYWFhat0B226ckzXo8JueXJ1XX74NMPPIlYCiuanY2Ozc3N2cz0jJ198oy1K63wk/qi1yV5Qyf0RU/0kI9ol+tL2ccx2kMm7M0+3iT205/+NNzENVxxn3WGwg1CI+URO3HsRHijHX0Amw7XhsMNRDwTtVZzHUaKdurkibByhI4aw9CTtgBPCmh1/CS66H5LzIRvsEXsTwi7sU/HRciNDbAtyfPy4rJ5izZcHgvXfpJ4/vpXb9rPf/Yr+81v37Z33/3Q3nn7A3vHt++/94lvP7D33vvIPvrwU/vk4wv2yScX7eKFKyFZnbuzGHiUSzzrdiSsGq/5SRf2QibsCKEXtsZ37F9aWnQdG56cuf+mp4MP2F9fr9+Lv21EklrI4hjIV3kx5L0rvOtfvhRhH7YaNyD45PEgvrEdxygTynl8DZcKHkuznpSO240bd8Jq6jsfvG9l7OnxtuInATz5YWZq0v7+d79hf/zH/9T+6I/+yGZnZkM83Z2/G05msEfoq95WuVqyubU5O/XIifBYKfo49kNvyqW2kFzYi3KxHipPGbY6DijDd/lGdVT+oIA/IY0dELGAL+gj+IV+9cgjj4TyfM8D8lIH+SmDXnm+S0E99FO7GkMYUxQP8CNOsT3HuSZevGVflad98RQf+UY0CNK6EH7ER8gQU15ZqBfgg3zIqXGGfciPHow/6Mx3jqV8ZeOYqM+2H1Auzz55JJ1jIBc+Uzzfj3rJlfLdD5T+7b/9t+Gnf4DwMSE4x3RcRsgTEOEUiKL4O7wg+MKnX+PHoA7tEwgY80F4PAhkh9Q+BB77JQdbUQp0xg5yomwpG93PPhzTQCOis9MBqK8BBZkgbJQnxyBAFgVlTCnfXomqbLGdfCAvckbZX6KaF/ToBtBXfuHa1HDXv21fwcWWxAo//ZGk8jB/9jdaDWs1ebxRNfzsz2Ns+DmMywOwK7Kga8UntjNnj9vUzOS9gQeZZHt4xaA9gE+kk+TYBq8Gf0A5EfUA7cSkGAHSDUK3FPJTHo8Y1Cem0oSbcpQHtIm+XX5mL43b6NAxT7CzZ0Z++tmndv6z81w1GR7Ev9JaCfW4FnBkcthmTk9bbbgW/EQ7tEGSj2zSFxtiS46rTcUx5UjGPv74Y3vnnXeCDwvtolVa3ve7rr//MSmfPXvWzp45G5KTi9cuhpu5uDzh6o3LrtuCyzseypCYgLyYcuFsw13kbHcAe1BHhNzIqtiC+AzJ3yTG7F9dXrXj46ds4c5KSE7/5r/9nf3iF7+1jz/5zK7dvmkLd1esvuJ92PViJXORk6P1hrUbfoKPmN2yLa2s2e8+fNeuXrhpN67fCXTp0lW3U92TjuyZniQf+BEb8RkgZ6arjyslbijKYhogJzro+zZwGULyCtU4PmLwrNi2J5TYjzIxiT/EZyZBklL6L59FHEMe5MXWIU5d7lG3H0knj0z75S9+Yz9z+/Eo2lp1NLsUwGPn3MnH7Xvf/X37X//zP3Ifnwm6w//0qdNBd35B4fplrbzfuus2XLxmo+NjIUGiPPKpb6XAp+gSH5desf/zeMS2OExgP/UvEX0MIDP2QV6Nn7vJ9yDywzvPHvRxfMJ+CDsqsZacyM4x6msf7at/HQRoL+snewNyolNMQDEt3SiXZx8uF8RP+AXSPEQf2W/k6Sy5BvV3iv2wZYrMkvsAhJOBY9KEjmHo0BqY+gX1IOqQKDDQMQns1ZhHAeg1iH2wcUzUo5PzjFB+zsMuOpPdK5CBAS2lL5LdZVMGOGKRiZx9sg8P+1ds8ZYm4gv7EWMkVNj02Gz2U+nE+EQ4Lp9BR9EWyMdgg46x37BDCsoSP6xIMmnHhE2IL1YAiDUmdPRnH8cUd+dOnwuvTu0WPNHwP25S44kA7777Xhh4+U5Z7KqYQjZNRBqM4RW3z3f8xuTGSjcrsqDl2Vu90wiXbuA/eJw+fdq++c1v2pNPPBl+4mdCWF9fs1uLt+yd996xt99+O5yEoAN2oE6/oGw8nonUV2VbthrksRPHWu1WWG0+/8kFe/utDwJdvXrbSoWanTn1uL3wxKv21LnnPal63JPoEzYy7DE3ctKOjT3iSdUxG6rxc/+wVYqjNl6dtQ3PNS5euG5vvPFr+4v/z/9i77/3gSdsy0FOdNMKPcCuinfGhTFPzJAP2bEpUD84CMgmItkKGZR0iPL6kadHoTzHeMzUO2+/4yceV8OlHYVCdrI4XBsJP/V/85vfCCuErKJzgoP9n332WXv9tddDwkpMhJurnB/+RH89Yg3bEP/q2zFomzqpLinp+FEYD+ifcZxCGq+wPfGBvOzHFocpM20iH/0TWYgJZHmIDPHcLsJWD5GzokoAQXwGHMNgoNfAwncGCAIRw1JHRGAyAMBPHZrv6aDQCypHu9TVJEBbhwVkQJfYPhCdn/39dHbKYxvZElvATz8FxPYBaYDSBjzkA4jvrBIxQQHqYG9kyvPTIEAeZJGuoryO02tFNRc8fH0fV1Q5zqOLuBO6tcHq0PYknwQJu3IzzieffBImJyb19ca6DVWGPBmo2ddffNHOnjkTYngkvEaUy0icl9uPm0u6xoCfXWeJzzc2skHeC2SNRMDuQP1A9tL+GPIRZUTYgH1ZrGVn5WyzB9jvnEjzBnr1kdR3yJ6C+tiIOmz1mbiMJ7iwQlgat/UVLhfInvuKvPzMz7NYeUlAu7Fhk2NTIQaX60t27OysTc1MBZvyAPYJ58EJADrhO3go/jkZUEKLXRR/HOenfy7boNzE6IR1veuPVket2W6G8v/ge/8gXGNMvaW7S+H1mmv1dauVytZoLQcv8dB3Elp4oFPaN7r+lfBhGwMdNcGKiLlgj83+CmlM4npayiA/CfYnH5+33/3sPfvsg0t2Z+6u72eV8LhNT826XTmJ8hPTguvr5FHs/XnW7TAerj9dW2vY3eXFcB3mE488FZ75yqOpFteW7U5z3jobdauvLoVXshJr+EkJFzoiD9cTT05O+Nb14AY330csIS/2zutfYTU1WVHtBV2jmgKb4I84/oDsJ5KtgPoALyTg8VSTwzVbW1mz//7f/9Z+9OOfWrHrPD3J52Y0fvo/eeIRe+3Vb9hLr7zgbTmvlusWbh7LxlvFMo+n4jIA4q024snROKvUSzY0PGSPPf6YnfG+jxxcChHHBZ+xEfLxWcR3dIv9z/e8/nXYkF2JBxG6IRu6QNiG7xyL9d0vxP6OwckibWI/bAfhH+zHfvmf+KW+5EdG7AsdhLy0h832CsWG9E/jWiR9UnBMeoqwDXbab/TSmTYl94NiP2yZYm8SRcDICiyROgzHgJzIFkP1A8pB1MGIDLAE95cBCpbUPgRyah/2sdIXkxJUPWGAJIzr45gs8+xLF49fqyniGY8p8WB57nhXpxMdxEBxkEBm7IqdmaTDPteLh6KPjI9aoeKDtk9wiyvLturJjUesrXoSO8cjmXic1eVLdu3mLbt1Z94Wllc8wd3wBInVQ08e3UbbyPdld3b3SQH43g0e4LYNx8iY+Hm75nuGnYh33p2/VTe8ZjT6HhMJT3iEUUJ5ZTc86SR+RPzUHlZCN2MzS2yyx9tUa26rDU+S5q7a4tJtm54dt2/+3mt27tFHPHEbtVFPHsbHiclCSNJuXLlljRVPJsvDNjsxbcdnjoXXuFYYqAuekHf8hKXtiX8j+8k6lYE2Oalgq/7Pdxc8xKEP+8ad//QDbhLiOuOvv/h1T5xaVrd1Oz57whPaKZufW7VLF2/Y4gJvA3K93T4e5UFOeAXiWatyQwTsoDEsHtvK3kmqziajgpOfxG20bGVx2RqrnuA7Lc+v2J1r8/bOe+/b+UsXPZlf9mSoYQueTN+dX3Te3Bg45onSoy77y/atb/09+8M//EP73vd+3157/dVwc9CpY+gw7PbxRKu+5nU8yfREbaIwbp9dOG//9W/+yv7zf/7P9rd/+7d28eLFkJRgG7b4jks2GDNrteGQDPMILJ5Jig144QGxktkjJuLZI7NPyjHbjnED32E3+TcmjX/34Dbn2bFcJ3vnzqJ9+P55m1tdCJcB4NuNjYZNTU/4iccJ9/uUzweeJLbrVh4q2eikJ2MT3mcqBZs9NWvf+e537JVvvmL1zrrNr83ZzOyM1SpjdsXj4Zc//Y198v5nwU+c/JR4va4rw+uHi8jgmpUTPXajo4A0TmOiD6kvUS5vjjhIKB+gXc11bPPkiPcdtpyfFxjb4vmdk2H67ldF/91Q+v73v/8DBhFInU3BzqDCgMcxzk6zAW/rhgjKcGbGShQ/MwE6AuUVlBic72Ficb7s1+orn0WUpVwK1YU/FNfrF7SHHnF7OD9vcKENyqpTa4WH8pJPelAuDSKO0V7cFuV09s0WG8KLNiDpSF3KYgu+p2B/zBfCHrRHXfRBXmxOMq+z1uqm3yZrIzY7NGoTvo2p6rPNsE8MI57MiMCa+zZtL6/T7MeKKnyJK663QwfiivhL7cB3dNbqhWzK24XGx475/uzmEcpwTD5iNfUXv/1FuAlnvVm39lDFbizetbNPPm7f+YPv2fSpE9bwxKdbLdvYrMswNWHtcsFWPImt+zy61uJO84zq7aKtNruBCkPjVh725Kwyaq1CxTpNH3ibrDxXwkRbKo44kWzyLEiSTREP0V+xZosVRSZ2TwTLo36CMOYyDtvpk8/aUO2EbdRHbKh80rodYqQUfh4uFtw+611r1Ls+eZ9y3UfvUbk0YsNDk2G74bKsr7VtZbnp5AlMSHa3E+YtFLNEQfGnmFI8abBE3pYtuLAuc8HJk8ENTxDOnn0knCRx3SQPsueO7Lq32/Eh4ZXnXrVj48esubRuBee9vrBgH779G7tz/YI9emrKzhwfd97eRzola7W34p+2SV65jICnNbDFz7NTs9ZY8Phxm612V902Q/bKS6/cW+HkcUb81H93/a6NlKZsYuQxa9Y9UZ551J564ut2bPa061nwcvQxZ1L0eCx4XHuGUhwesqLzoD+K6J/IonGPyWRy3JOh4ppV26uuU926fmLTXq1bodG1s8fP2qmJ0/b2L9+3//z//i/20VsXbGpkNlw3m7261Nvxk5pytRLuSB8ZHbk3to2OjdjLrz5pz71wxl56+Wn71rdftr//vW/Ya68+Z8NjBRuf9H5Z4lKJVefhSSgvEnAH3pq/ZR988oE115t27ty57FIVT97xGYmgK+i6eD8pu9zD0+6faY+z4XBN9/T0yZC4mZ8U8TaqjaYnuT4WbPgJHCvMXmRXYkW1UMpWyLAR8YKd8Bf9l36KTxk7+IyebPExYxQr7HxWPw1jovObGJq2SmvMfvbT39m773xi60uMfd7f/OSq3d7whHPSvvu9b9mrrz1nNe9+jdqq1QvrHhMr3kdXreGf+d6pbNjd+rx9fPkju+uJas1PDEY7Z2y4PWsrtxq2cmfdHpk+Yycmj9toqeZDk48ft29apd2yR04ct3nXob6pA/0DGQHbtL/o2OcJYjWMhxHhFx7Bx2fpQGyD/ZZZ81g6b0DEJGMybVIOeZCXY8SECHtShlggnujbEHWI55TvIKQ5NwZ8sRH7iUXaZ/Wd/bKTgFzIiI6Ul43Ri7LoAzRX0weUf7CP+r3sQ33aTKlfwB/Z8ninRNk8aMyLgcxpTgMhW54t4SG73I/gjY+1ICH7pAiPp+plEJRhP8aHEEqOghBenyUgZcRLjox5SxC27I+J+jHYB2+ttmiQw+ko1S80CMZANgVVjF465xkPZ6V8VTbWC0KG2F4QHULBuR+Aj/RiUOAzsvCu7/W1dZ9Qm1byhLLl25iYr1Nqdzvhbl7/eF/sR6LK5IYtsAt2Qm58nAY2pEEBffEBdmzUfXBrEz9ZzKF7mEQ2mjY8MmyXL1629z58L9PNS/G6zOX6up0684i9/PprNjUzbU2eHlByG/KWItKwpsviPMwnbqhb2KJWtxBe+1gd8kS0OuT7+KkK1bw+q5VhxY6buzLi8zbC50XvN0VOuFip5mSIZ8H6MU8aeOvQrRvLduHT63b71qKt13kGZtf9Ou3JxawP3JPhbmjqqY1AfHfqeEKdvcLWTzq9CZIzVtR2yuF+cxnSGMR27MPOPKszxJKn8m1PAjxltU5363EuY2MTdvPGLbtx43Zmg4KfIDQ7NlQZtmeefMamXFbuDILD2sqC69a24Zrbb2Pdyt721MwxG544bqVyJfifvk7iy8/+XJvKTXCsFtYbdat4gj9dnQ43xrTq3PE9Y9/+1rfDG7GYjHn9Ky8nWJlfsWNTp63dHPF2PCHzBPeR0494sucJHJdRuPwhFj1JdeHC30K9YetR/4Toz/QnbHGvf3kQ1TxZLHXjvuPjhLNa9xOCC59esZ/9+Ff24Xufeky6DYusXvqJr8dV00985tZu2+3lW3b3zrwtLty169ev2fz8nfBEjOe+5onmLI9N84SjxqTa8fit2mOPnbHTZ074ydiwx/S63Zm7aUvri4geVpW5DKLYyfo+Az+XBDH440covAijWA0xQHwQn+FJGetch0wCyWKD6+/ULpesO1zNXT1NyVls2cXbJl4gfuaV7bIYyrb0Tbb0Ya0g0X+3ja/Os+aJdGetaB+8/7F9ev6Cn2h5cu5/GZ+SnTp1zF5++QU/STpthZrPSWU/WfBY4q/jPu0U3KPu37L3c16TfNPtdePOdVtd9BPY+qx1GkWre/8uu82Ozx6z01znPz1pQ1VPVvxEtuzdl5OIlYbHeTLGS1/FhJDOBZ8HJFNK2BxgZ8kZfz4MIANtao7lu+TSWCLimmNiA2hMYP7H7nsB8QPQOyZAu8gnuyBbXnvMOYp3keIhBbHdL+gbeTz6BTIj217QS2fGkBi72Ucx1w9ha/igO0B+/JAiJKqbn3dAzpAwMMXwOkvgsxgz6NCYnM1AxBmzgiCG+KaE4ClkfHhynDaUwPSLPOdJhhSpztInTw/4pvuRMU8/HYuplwx7BbxZqQD4CX+R7Ld4P7gnlOyLCTnQEV1FXBfHO7yZNO6HvSaq2FDycukCCQpnuCTb2Ad/x6TrmpAZ+Xk24irPq2wxSWc3lWADkh18xPfLly/b+x+/7425lH6MldN1T3y4bvGVl18OK7mKEzplvPJTq5EYb/mSjsVPqtmxrRsCOv691OqGnw/vD+8jQ95JqRpWiTzOPbljVatcHgoPNH/n7fftN7960z799DO7PXfZE5SVoIuu50SWvIEQ+UnquJmHx0hha1c52GQHCiRsO/sHtqC8dOY6WT8F8/2sLPkA427kTvWuJ9a835+H13MH+/LiqsuU9VfqzM7OeCI64ZM+jztqu58WQpIxPj7iCdoVTyzNTpw+60kX11Bmvz4oBrmpioSLzySsyDE1Nm2d9a6NDI2Gh7pjf26oeeyxx4JtiCWSpNUVrtv0iaLusvo+XoXLT8S8777mW2QJerN1vTi38FSPASDoLaJvaCwQnKNVzPuNb5XwFwq+Z20jvDHpb//2p/bLX//GFhpLNlIedbu1bJmHztcXXaYNOz4zG37SnxrnRh509O2p467Hk/b4E6c8Mc1WmugivO6U9rmOkicXsGWsZd/K0oqfoDVCORJtTkZv37od4pG41jW5rEIRs9VqCDZUuAdihGtWATy5qbBYq1iXTK1PyE6KFb7Th/lMP0UeiH6L7OzXd/xHH8bH1Av8/K/ocbW+ULePPvwovE0u6OCJPnqQiD/22OPhtcen0LHkp1Dh5RIe52EUyvhQVqvgXEd988YNu375tp9NDHtRT9K76yHp77hPpqbGnNesTUy6bf2EkJdEsFK81vbY2JRL0MQqfUXocFSh8Z2tPufNaQcJ2UhjC3aEgOQSKUmVzIJi5EEh/vBNif3YhDbk07z2kD+Odz73kitN8HYDMbUX/ZAdPfYC/IE+KTQ3xuhVdhAgr+IA+WknT4ddE1V1RownZ2J4TY4cowyDERMKQrNkToMMDhCTfQrqIZgcLYoDUmAgY2DiOJ/5CYAgHsQheUZWoKVIdZbhejkv7ezUyxvE0AFicBahT55sewUyYF/8hD/wAZ/LbrIK0+tmZxVRnq18HPT2Qb/d52S1Hyuq2AMZmLTYyobIgo1Togw6QcGGXbd7mecx8gipQraKvPnzDTETEtWP3g8TlO/cnqj6hEeiSlvwZZKFiHX5Lo5XPqt95EZWMEii6lrY8Ch+YvBkQGt74oXtiZ+R8NzMN3/zlr39zjt25868Xb9xwRrN5bBqiKzYgGQa/WLwnf3Ijz6A2O05oAyUqNIfWP1CV4i4Kdix2VMu87AtLqzYlcvXPKlALpJv3spWthMnZm32GG+I2rBKtWiTUyRvG34CtWhDwx6RXvezK7dDooqc2JsTF8YVwIkW/iMBbXmcrS/XrVqs2WqDB9lvhGepxk8qoPylSxeNh+aXizzUnUt6eN5oPfxkPOtUrmA313szUSUmhiYmrZb0UXhix9jOeYlqqVD1E6Nl+/nPfm28h/760i3zUyqrloasXPVksXHXa6zZmZOn7Z/9T39s/+yf/U/2jW++Zn/v7/2evfDC8/bSSy/Yd7/39zxR9H7Y2Xo+Lm0rxhlPOUnhiQiPPvpoeLRao9nwWPc49T9icmF1IXzmEgDuZidO4IEtidsUjEEcw+aMq9idJHXdk7c0tnqBcthJscJnnQDDG0IfyYCPIORCPj5vA13Uz5IXby3aJ574s5rOq1DFh/7MXf08Vo5rkzc6zXBNclja3gR81Tch9CTZvXNjwZqLfnI1OhX8uOp9amWR1d8NG58Y8Tjimld+Imcl1ccjZxknqvBFDnhv9Y2M8NNRBDITP9g7JvzWr4/3A9iIdjW2EAuKSWJXhLyMYYohTjbIL/Bh3pg3CFIbiJCJdmkPmdT/2JeCsmm895JpR2zvAtrci27Iii57AbqjTwp0TtGr7CBAXsVBHKcpdm1FnRzjwUQDJh2VgY0BgwBisGCAI5BkLMowsFJXJCCUBh0R+/IALxItEcF7kAOCBm4coGQEnfsNIMrFeolSPaCD0gMfcEMVK4q0gS74a9g7/NBQdjNaTMiGjqIwibS2giXPh/sFeCIfkwjtEk9MxuiA/KwEi0hAIBIWvqMbAwUTLHVmPIEjWUT3JS8XdHZSGzHYRxv4WKAM+xgMaQcfUY421Jkg/Mk+1We7G+JyKoslK2Um74wXdyujT4gJL1Ovr7v+Cza/ftfWN7JrGBsM3C4P8Qny4gd5kZtElb6CP0Gq/wNhU34ROiE3fYbHAHFnPe3XuW7Tj3OicO3a9eAr7MZP1KwKIhOPbeIkgVVQ/IwPq9XscUnIj/0VuxobePnC0uKy1cpDod7YiJ+YFD2pcL7EDvpSlgSN8Wityc1TfvJQLNn8wrydv3A+vE0r8zk6sM1iWnaD4KPP9A2OpUC/eD8+ZHWT62nnFuas5n8zo7NejotIGvboIyfte69/y/74n/6hPf/CE3bm7DF79dXn7ZnnHrNTj0zbyJhPehX63PaVLn3GFvzawE1qxB+ryP/8f/PP7Tvf+U7oMxA+mBqZCvHP620pzwkbx5js4SV+imklBPBvuQ3jOFXZBwG8NcazhWRj2iQm6MfISpsckz39k7Xc7ry2l18GqOORFo4jN/HG3IOPwy8LIT52ysrYhl70Beaol15+2V742gs2VB2yY8eP2bEZP7lxnnfW7tjPfvkz+9nP3gh2I5440eqlPTGpcT2mXojtuVe7Pghoj/6RUtYPDg9xf9nNBhzDr8G37m/6IGMJcbpXwCu1AzES4t/HJdqmTeKVbZ6c7BMNgget9xA+Xu22oqrBhYDGiTgZMPkzEIlwKMcZgAgoQMelHgOSBj8BPuyjniZQvrOffQoQvitp0GCq4II/dSkrGakTdwZBk3UM1U0BD8rTBlv4wjMdiNgXBtDN4+InfeAjAgyW6KJOIV12G+D6AW3nEX5Afojr9vDlaKVqQ1yrtmljkZJE2TAQq6mVLLnAD7IJ5eEfIzw9gFVV/6MufHoRP4MWi95WxBfCPtQdHWVwyiZQ/K5kGmAz7AsfPm/nW7RadcLrrQd9Ml7Zsz/h8+6774bnMZYLHlsuft0TCN7vzsoMjzZi4oOn9KS+JlhW65gcaVv6KVYZTCkT3m7U3Air1umKKn0E/pQH1OVROhNTXDzOY3HQy/0SHlVUsfW1Dfvwg/P20YefuB8bITGr1br2xFNn7WV+7vSEcDegB22obyI3PtPnmFhRZXUzDyojfxddsUqVPo9dkMlPfGqjNjoyaWOjU7ayvG6ffPJpeEA710TyCsuSN3Hi5LGwqsr1lpVqwebmb7q/l2xicsxj05PyZsfGjz3icmzdrc6W69RIMNADu+PL8ZEJK65zScExO/PImUA8I5Okn4QMXyEv17Veu3LTquVJ57dhy81Ft23XZqenbPbYpJ08dcyGhvnVYc1ltXCD3TqXX2z6FxnoQ3xO+2ix0LGxmifHDY7zvRJWU7O3TL3vujVsqOJ2GR63dqdlzz5/1r717VfsD//hd91/L/j4WbHGxqrL6WPmuidsi3dsZXXBx7hl1zX7lSruZ3xmHzZhHCRGkYtxGDmJd/mcOuov2IyTU2zIMYg4ZktCxrNESRRJGGmDk4WG82m4zOXhbMUQwBNe+CGOnZhieQFtUEf9RTwYM9FDOlBOW45TDn5cizx3bd7ee+c9u7twN6wcj45klzwQF6+++mpYNeZEabWxYp2qO8L9q/ZiXWmLzyMjfuJaHrcrH8+H68i5DIPV9EZ7zRbrc9ZttkJcPPnkozY9OxXqsaJacN1iXdWvpJ8oTaTYx9iAn/Af9bRFxhSUR14gO9AOW9mWMtRly/4U4qt64smWduVDvivOOE49PkuvgwD2lH60jU/QS7EgsE9jLseYC7j0h/6I/CkkN3qJ4JGnB/tk27gs4LP4sE92i8F+zQsqC5C/F6kddIbgwf4U4gX4LP6D+kPt7UbIkMdX+2P582wmm7N/L4B3LI/ag2LsmqgiSCwwgCHGhhGOZOChgzLYEVBShP0kqRxT41KQpITj6jgcEx++K4AZ0KirfQzAChCAHHyPy+pYDII9hWRJEa9EIRe8KZeWZT/6Ug5e0oVy6IJtUlK9mKizF8g3KcGXNrELD13n+1DBZdzZP8IqTSi36SOoQJJaKdqG82ASRCcGCtmfskK5W7CaJ4AsQdA2NoFfqj/EHd6lChNJVgZbQ/DP2s8GTr7DhwFLyQe+UWLIMcpRl/3rax47pZHNu7m3BhMmCa5x+8UvfmHrK9lAh+QLjVWbmZ0NE95zzz0X4gv9kInPtMMWW7ByA08lLyQG6MmqXnzWz+pV2W1dcnsI6ETc8nMtvKRbfX0trKItLc+FxxWNjIyFpK++3nZ5L9tPf/ILu3T5akh4eN95odi0p545Z889+9w9/dkiRwr6BXrTLp+DP11+9FEsB+KmGfMEp8PK8WblTXBc9dABucsVkhnsAm/uIJ8ICeqyJ6hjY9OeLA7Z7VvzNndnIdiJ6x+5iag2VA3XqE5MjdqNm1f8mCdknrC2Wvi8bZWhMau3PXnzhJJ2sCnJlfREhvCz9NSkjQ+N2+rcuifDy9lJxisv33tzFScD/CQOuKGK9+g3G6XwSKiC6zAxNhqeUlCuFu3V1170xHbUk8Q5b6dsC0uLVpuYtGFvR4kefgLIEYOf/Mf8xKG+thJuUHJr2Zu/fdt+9Hdv2PwcNzj5SbrnQDw+jOToX/xv/6m99PJTnrDPeHI+bKNjnri4DKuri26jutsTu3KJAL98eHxXsvEPwn/ELLGnfdgE+9JvOYbenIzx1jWOEWskoBA+JE6Ja+py8sak/8tf/tJ+9KMfhWSVyyrYf+7sOW/HT779JHVsJruUC+B/iPihvW0xtEnwVll8yHfaRE5kZz/74El56cV3rZ5TRseHSsN25fxV+9kbPw8xvlb3/uK2AV/72tfsW9/6VuDB81E3uk0bnq6FVdd4/KE9fEc7gLg6dfycXfvkrn326YXg+6nJcSt4na6XbzTW3P5l+9Z3vmlPPP2EnzyshESVE1rpCS94M/Zr7BIhfwpshm2pF9sOHml5ZJfcakt2Yh/l0Q2iLPtTUB8bauySLfjMmIAN+IyP4A1fjbW0yT6OHQSwEcAntEN70lm2kP+Ri5iAkI8yIO2LIC8upXsK8Y+JuvDlM+2mMsWgPpdfUZ7PijcIu6UE4Et5xhV8AF/15xgqD1/5njLafz9QNtZrN+plH/SJ5YfYh+wpj1T+BwFyANqAxBPZYv47T8kGBMwgOZutjMx3tvoukpKxIDhPyS7GIfhYISFJYJKKSZcUHAQk137zR2fZJqa9ABlxKDZjQogpr5P1Quyb2Echo2OdK7IJvqETq3NCvCHoQSG+ahPeGpSwjwYqtrSlLfoR5NRj8B31uJDssi0/CYo/ZX26DXwB3oUHnSMGZdkvAvycy3Vy/GyslV/sQMKKrWN5vLVQJ0ZcNhsAveO5rtzws+QJFwO4Eg1WAi94Yn1n/o65J2296YlxYyW8kQnx0UE6Sb4U9B2SFxGJCrQX0B62p4+S6Ij4zgkpPqKvnj13NqxwIjNvj8If2Ixy2Jr+y93UXF8ZYszB6noM2Z5EjGSLdhngOWF5/vnn7Tvf/nZom0eO0S7+v3jlov3kpz+xDz74IPjh0ccetdOPnLa11bXwYPfjx44HHosu67JTiFv3C/5CRmyGNdX2buAwcvGyCG4W48kS165ft9t3bruf3aeegDY2GmFwP37iuJ08NW3TsyMuhydvrRVPkK7b4vJNK5R8svITEE95PcXilygSY07mQjMBefLI//gWe3LNMnbhNcB8xjZhtdHt/ZOf/MR+/etfhzGC78QhcUwiz+tF/+7Hf2dv/OwN+9nPfma/e+t3YUUVvSh7Pzv0C8kLAekkYp7QxM93TnCWXU5eZ7zqWy6paHQbtrS+FI4TN+r7YTXdt757B9SegE48Gux5PzHFPvh/bn4u+H56atr5FsMlQ7e8H64sLFrbYyQFPKlHnyX2YkpBWWKfl42wgk084xv6OrJ8Hoj9ih7pWA4dFIhN4hX/0aexBfGYB8mCrPI1Y7pk32+kfNPYiUFZ0SB4kDoPkWHPiaoQBo3NASclBgK2KpMXBDiQzq4khWCmHsHKREjnFhHcXzSH08lim8ge+wHsmdIgiGULPmJQ2EwiYsAX/zDIiJjYeHblYC3uBG3jc2KAhA7g/7gtUTyAkQxw4jLuA6B0ENU2ee4H4ANP2iIh4zOxeC/5ZBIsuhUSQ2Az5KUsyQJlswnTE6QqN4Z4ojEzHRLJgutDOVaAF5bvhvpMrGGlyP/6AXaRrPhShI/3CuRG/pRok2tqaYPrJHkTkk8zWSy5jouepDJZMzGi79joWEgeM9/44J0zaWM3+jn2oF3szkrhE088Ya++9mrgoVVDUG/X7a1337Kf//znYd/szIydPHkq+ANbkKRyCQyJz/JKtoLHdZDsQ05irf8Yzq5jHnKeXFdL4nfxwsVwrS0nbRv8alAuhWtlv/a158NTDqZnRmx4xPUtbHif4af6FW/bx7pCczsN4Gf0og8QO6wyvvDCC+HknpjEXtibWOKyF04UiEMSLOzKd+Rdbq150rwYTsY4ScJf8DvM8VXzA7ogM75Bxvm5ufCZu/1LhezyMq43VvmM+n8NJxrxhrTn3VbPP/d8SPTXm2shBkL/876GL1lhnvcElvZSYBdiiRV/VtZiSsddvmNvrhUmKSNp1fh1FIAcjLfIJKI/HxTkM+xCn5YtUrsByUU5xgn5/CG+mti3RJVg0qSYEhNY/J2y6UBIsDK4hgnDP9NhGHDzVguhLxry7LPX5AEbkqiRODHQxpTX+XuB1a1KTD74sxrpKcRmiS0wsMRJCj93M+G7B7MCD4B40mVwin8i2tbWJjGZAcoTL5ylM+lkemBbbTdXhvcI3pNObJJYsvrH9XLEJSdQ3ODDihrTIEmlnyZklSJgM8pSB/3Ql6Q0yD+UrX4Oe+KGXouLC9lNMO2WDRWHbWpsysaqY+FO7n5wr++srRuvhBSFxxjtEdiSeEuJlZJ6ndXWxfCd1cuRYvZzJ4kPSRGJKitl42Os8mY/r2fjACuqO+Ms2Mh1oQx88DMJAjQ7cyxcq1urDYXXq2LXk5MnbXV91X7yxk/szTffDGMEdkU2khsSHxIFeLbb7kOfCLnxju/ECTcZDhLCyEMdXi7xsctw/ca14E9Wd0dKwzYzOWPPPvNsWP0dGx/2Y1yf6/WG/ORq2O1SK3jEkJySrIpIYPpLVJGbE0RWjP2LnT17Ltyohn2wGYkR8nCTIbF3585tj0NOKrKfjLkWnH4zUR6x8ZHxkLRiy7vz84H3YYJ+Ffrq5mU/2RjgJ4AuLyc0M34iNz0yZcMVLpnQ+JmNVfR5XhNL/7svPKY4meR5ulyX/tSTTwUbERvw4ditWzft4sUL3gfnQ7ympiAu8X065hJreXbTyR1QHBMjh23jPGDreFwVHRTop4zt2ARbEKvYA5umIAaQRYkqcwF+f4ivJnZNVOlM/XYoTSi9KBtcMkp5EqgMGHR+dWImEiY4PjPZsFIQ0xcNveyzF2C3YZ/wZ6emfWKc2kYln3W5qYcntrDNbvDhPybC7eTzgyemDKSF8NgexGKfFfw4FMqRHLbDo3NabZLTLWJf110qih8IDsX72eYBWxADDFAQfmdfy5M8EQMXWwZYxQxllMRUKkXXI5O/VPZjFV2MTqOEOkpBXAaw9RM/6BXnIfFse3LT6Njq4prduXHHrly4Yreu3bJ2s2Nd3k7VwtZl5yx/wnOT3PA8k5HXX3L9H5Nf1+1Iczxz9O7cqm/rtnB3zW457xvXPaHYaJv3FJvwBIJ35WfvauenaZedh/m7/HiEx+Z0uYEE8kSoW3C7OHG5wNLq8g6KfRFMErbYxYkHicYU7LVF2LBa4W77GZ+UJzfJJ2ifpPlJnsdW3blz0/Vr2OSUJ0CejPIazFKpZmueKC8urngAsALOyShv0SJRZeJxHVAmx/5MTiS0bOk/mJMEptVp2Kuvvmizs1P26Wef2PLKkj399NM2Oe7fr1+wd9/9wObnlwJ/Vr7A3N05W/SkEl78YkCM8aYo2q+E53NmsvSHgifcM67DmM3PrdiFC9dsZbnuyZ8nLdhlbMKmpqfCZRBf+/oLbj4fzzzp4qacquszNjFuI6Nj/Mi/2QO3KPilT9Sba7awNOcnIas2NspTPbJV46GhYbt183bw17PPfs3lHLblJZ4z7P2j6O2PToU3mp06cdamJk7YUG3cbnli9vY779v777k9ebi+95v9hveS8JpS/bnVw/fhykhIQsseLwWPkY73qfZG18olZJ308f+40zGbnMh+yeAnevp5hbHK3Vbkbs4+wTXR1SGzRx8/bY8/wY14JVuqZy8n4HKcpZU1T9ZXbX3V+2l4gch2hzBOEDv6ZU/ESZDGkhiUZ85TLHNywDx3EPYdFCSBabLK94NCOLF3O9EGNiHBZ77Ps5vkCX5xW1GesT6v7EN8+dHzZio6mB4PxJkQiSME6HApmEjSyZ6OQCcm4DiTgo9+yqN8y5MO9ok/gQhxjDIcZ0twxgT4WQ3An/qUizs/n+EDMbCk0PEUdByt3EB8pxxt0MGQSYS+yAsv5EKGXh1dx+L67CPJgg/12ackLdalF7B2zQf/Wsv1abac2veo29gIN0+NV2o25knBkE8CFfPJsrhO4W00NlYJP0tWhzwVKrtvym1rdlZtseEDuPEg7YYP4u1wE1Q5oUrV/eGJ0kq9aas+Ga93PKH05JaXBdS4q7tWCa8m5ZmsZZ9MqyNla6wuhrcDAfTEhoDBiEFcAzkxw8kKn1nR5AQFf3CcAR97UobYqTd80l68YRut1fCTKuZjhXN1dd3Of3zJPvjwM1te27BSh3oVa1Vb9sJLvNnmbIghJhJ44gO2YQXV5Sn63/qthp1/+1P78M2P7PqnN+zTdz6zD37nnz+7YXevL1hnrWuzI8fs3MlznryuOP81b9zTDrdDwXXP7pZnVcAHXOzgkywxNVQ95kWmfZI+4a2M29u/O28//elvfMIe8WO8DrXqvFhVaNlSo2XLnhCPzZywp1540WZOnbTlDY/JCh7yPtRZsmZ53Qojbet4W22vy7NiReZ+wP68FparItc9TVpz3ug3XGH1kzeDbVF7ww3Y8SxAr1p1Cq9kXe1Yp+VytXg6gcu0tOJJKNd8Nj1xHQpxtLx8Kzz8f2XJ+0Wn6kla2+ZX7trXn3nRnnvuhbDCe/v2vC158uo9yIrefsMTFlaZ1f/xrVZdg3/dzxwfcT1OTI/6CZrZO++9ae998q6dmD1pU5Mz1mq4Nu0hl69mI0Oz9sipJ7zcmL397lt2d33Ojk1O2/zSbZuYHbEXnn/OE+wpT6JX7NbtGzY8OuKZcS28hYg+yJgF6JfEH/2UeGBFvdVo21jpuK0tluyd312wX//ifbtxbcl9X7bFFa4PL9h3f/979k/+yT+ykfFhu9tcspWW95FmwdbchvV21VrFYT87G/eg36JCddyt4T3a68fQ2LAd9FX3d5lXr1a8b1r4mf/99z7wE545H7ebxutST514wpPn03bnltuvO2HnzjxvpcKEXb+67CdJzfB5fcXjavSUnTn1nN25vW6rfqJz/OxssD8r0/QPdIdS4B/5CBllK43TfOfzhh+rL9RtY97jc9Xs7rUFu3NlzppLG3bn0px/v2uNBR/7GiWrddzWrTE/GSS5roRE9cNPPgzXPU9633zplefsmefOeaLudTbmbXjCY5O+5m0ho5LC0K77Ebky8rY36jY+3LbZ4z6mN277ScZHdnvuhs0tL9qjp5+2Ee+TFz69a0+ce91OnX7Kxk+MWbnmc4WfuWt+IzbzaKePsrmShRbGLeQClCXGZCOB2NevimHscX1oU7bVHCebS54YHIfiuUjlaY99HKMtLpEhcSRh5GSTcRUZU7kA5WkPuZEFfsipNmJwHLtTnnLyCWWlE21QDt2kX0zYjToqq6SVNpElpu0+zoi28vTIA23QXso3j9BH+UrcDseQNy1PGemKnNTD/nllKcd+ZEEmylIHm+0FGs9km1jufoAseX3/oKDYpV1hVwuoAgrdTykCnqQiJgY4jE5w4QCUVQeEtwwmxO0gpAxE/ZQ4RlnqwwueBFHcEdgPDQIcimNFCpaYn0gyCrH8KfLqs28QHjvh9VrOp+7yeSITE3f3hyS24AOKJ2yVLusZJE/6mXGLmi3veJ5g1Ru819pPTNYXfBJY8amw4UQZT8qLPgl5srqTfNCqekefGrdhp5FpP0ue9kRydson/rI1fQK5R56weTSFyV46ojs+w48QPoQ4TnwAxQidGZC0MIFShn38BMhjfXhvfrvLKz75SdXtUHCebmfe+hTeouRpAIlTSLzcGlznyKOeWHUjzpAl/jmKE7Url6/a//iv/8P+8i/+q/23v/ob+/F//4n9/Oe/sPc//MAufXjZ3vvt+/arn/zGfvo3P7O/++sfeSK3Fla2xsZ4lE4hXOt26/atIB/vMC+U3N++P/jdRqxSnHF5Rm11mRVWP6FremJU4GdQBgZs0Awrsm3341Kj4xOq694peMJZ8WTU7VZ2D7kPmgVPAkp1a5W5a9v19YQ4pba33XLiHe4bfnLhnK3jfIuFIbfGdlKCGhO2a3uSyvvgG3WfmDeIYw9BT3h5zBYnOJy48DSDsQlP/DolL+t+c36s5rFqvLbqA7bXD6+K9QgtBPJkdTMO1IdF2El9HLAi1vATqJrneSdOTdnoUNVu3Ljukwc/9U9ZpTBic7eW7J23P7b33v3EfTlsoyNjNjk0aeMT48HP3MTGCTM+pg1+Qge0xT5RvE+fAXfzW8eT69Wq+6wTEr32hiexrtOGJ7ElP0FkFXx8fNT3ub5uh6ZVre6J/7oTn1tu83bJTwhi8uSVV/H2A5fQhvykAFvTT+uexPEiA56CcOLk6bASiR95Fe/05ClrNWt24+qSzd8mYR2z2elH7fjs42H/et1PDOqe2DWG7M6NNbt65XZ4qgL9VD6Q7ini/bKTwDHVD9chtz32Vtp27dPr9v5vP7Bf/fjX9rd/9SP7v/1f/5P9P/7v/y/7xY9+Zct3Vuzk5Gk7PnPG6qv87jHksUb/LXsMZf5iFbQU3h7lJ91+Ek3cYRHJSRmNIemYy0snugU/+S0v2+R00W01bqM1b6PFT9J+olQct7Xloif27rfGsNuv5n1xKxalVx6loH3kUFJCGfYRz6mtQMyH45Jfn4Ve7YG0Pkj5CvQFEmMSVJJVTtAZ//KQxzcPlOO45NY+iH2M6cyrGsPZR46QEnZTPbUJ4YeU1F5K/YI28vjmEWU1HkGSqxcPoDKU15yWjnOQ9NXnQfXoBfFJ6YuEnokqhqVzxQmmOhzHUsgZMWFsOkJMdAaO6cwCp8CX5CAF5WhXK1wizk6pT8BTRnLCI5aRBJMOwed+Qech6Y4JHkcSPnbwHEGu5UoJoLVoN3CGmOnKNqNGg5XdPs/kXA51spjo0PhAxAPFWVnJhrztIBY0iKk89eEjXyInJz9cw8mJECAWuN6O6wUpG4TpA/CkTVYSeHg615jRHvFDTNIWd/r/9s3f2oWLF+wWd3SvswLo6WVtxGrFmm14gsadvB9//JH99I2f2F/+5V/ar3/9O7t88Wr4KZgErFAgweNna0+yYzJPDlqZfuh87drVcCOHz6SZgPe8lunDZImv17HB8lK4Nhg5t9C/7vmIo0Vtb0fWz7LnecYrA9y0hh4bmwkftpycnAonCbykgJ90uZTh9p07wXfoy8kF1+XCE7krzkPjjGi7fpl2+GjeTyD4qZ6f+594/AmPhbt26fKlcPPN0tpSeDvT9WvX7Pz586Hvhrc5HTsRJuHJsUlrrjbDXdhN14PLABg3OIkYBCTWG56FE49cp8yLBbABf8ND2VueatWau3NzLAx/qYdSm+fbPR+sLg3ZiOvESiF6PnLmjP3RP/yH9vWvvxDiOjshyvxRc79xwkQsc63qmTOP2OOPPxY+N9uN8CxSHtG1sLjgcXgrrLbxxiv8oD6xF3BtLGM3CRFPtzj/6Xn7wE/2fvLGj8Pd/cj24Ucf2htvvGH/v//l/2s//Ou/Dtf/YmOumx0b9n7Oo9rcT/ieyzWy61Q3fxLebKcfZPHLLwATboPHw413vKCB6325GQ6ed+7cCjGeOGwgaOyin/QzB1FOY19M/dQdFPAkLugbbOkbmjsPCpr/Y4rn9ZiysfwhHiLDrqOPBqmY2JcHBX1MnKnRIWICOqNi0lGiyllUL6Q8IOqrE8ODyYbOprMxwPEHSTLDhJPQUQRScc0jA2pKgyBPX6i/0T9LUEgSSNpi0k8k+Dv43D/jk0zyLfCNBDaWn/e46z3ngHrwYyWMpBq/42sSVcAJRp8CB3BDDQkOPBkwdfLDd7XFDUAfvP9+eIQND+jnLUgz0zN27vQ5O3fqXLgLnbgHy8srPrnN2f/4mx/bf/kv/91+9sZv7Ma1eRsfnbHTpx7zZNX7TbJCyXV4rLoSo+EB9Z5cpY9qErAD/YXH5/BTO/bca/IwCLA3kxj9X/ZBHnygFWhONJCJSzSY/HnY/erGWpZMeLJ6/Vr2mB7sTMKL3TmGDdJxBiIG4RuD7yQv1HnyyafsG6+/Ht5/f+PWTfvs2me22lo17hBHVuS5efNGkI/HlyEv+4khHs8UEubNtrhMZBCgJ/XD44ZWllmbzg64uKNj2WUqjEep/PsJ9OOud/Qj/kmeH3vsMXv6qadDPPPoM94A5r3ZxjxO8RlxRll+RSB+Q4JScv39D/vg2/D4Ko/FzE/ZAkAYD/aAjp+AjbpM9BeSYWKeG5jaXY+hio/ZxVL4BeO9996zH/3ox+EZr3xnHOCxX9TDroztnADEcdJrTuoFxhXaZ47iJPW422G0NmqrK2t+Mpj9qkN8NBp+srk3tQcCiarGv5jYfxDAbiH2PZZpA5tk4+j+g/jBh+QEMamPpPQQDxFj19GZDkswx6QkMIVWw2Kik7HiEBOTBAMmx6lDADN50GFAHKwcgwd1Uj7UZ1ClnOpr0uQ7+zlOfT7H0Blu3uDL2Vx8xgfBN+VxVMDAysoQusbkAm+WuD9SnRlQWKF0L2yW2B3hUUub8aHJAz9gZ3ysAZefWLMnBCTw+jyzkLJMlmxZFealAAyi8iUDKb4Hkhlfk7gyufbyUXpXefC77yIR5VmcxBd84E8iBT/aI05ZASRRXWmv2EY3W2GamJwIpLhjX/hp35Odubkle/ftT+zv/vYX9otfvO38lj1x8mS66ydiHbdp28m3fG55skx/Qucb12+EZ6eGuNxM5PmsSYqVJMoxkayvk0xntmHVLEbQbWdY7wuQFZ2xDXIgD7orkVF/DnHkMdTiZ/ouL/Hwep6oknCE5MPrw4d+xRaBFTdx/KBfDLyIHTiObY7N8sKG18LD30+dPBWSjcnapNUqtfBkhjtzd+zy5StBXn56XvKkEp/eXbobjhFzFW8fHXqNazHQLdiXz253xqAVP0FZa65Zi8tjNo9pRRX9QK+47AfYANkg8Qd8Jm5J2IlFVthveuxyTwEvRuDGPZJ0xTNJAXZjpRTfZTFbDgn19OS0TYxxYwvX5Q+FPpatOLPyvfu43w+kP3644TJxLS2yI+exyWPBsaxkUk4xhv945i3jxcLdBe/vfjI5nN1oy+OqtJoaVuLDjXD9AzkYj1hR5Xmq2Ia3XpGYcgLLo8Vu374TyoU+Ftl9r4BXL370ddpMaS/xsxs0NtMniBsWF+if/UK6SB/k1HiVgmOc1ME/Jj1LNaWD0vkhjjaIJXwv/yu2iuzgiwbDlOioKeWBST77+XiL6AB5HY+BSD81iJ8CnMFHCSfHduu8HJeMlFMiQ+fjO/vhB/gM0Ta81fb99NW+foFcTOD9EAMFckLyA23JOSlUDnDjAK8azeTbeX2MMwnl+gE20YQk4ue12C4iym6n7JFFPEdQNzthX8oCtvgaoqwrEPanQDf8liVi6+Ez9kHf1DZKZPgsO5K4cakCZULbrn5InPyPskxmfiQkk9TjObGsgPLzPgO0fEK7IQHxOCJ+sfNwbdgmS5P2xCNPhMfavP76a2HLMz1JSLK6Ldev6hP+rCfkFed7w3732w/t7d99ZBcv3LRuq2qloicvnkhVy+NW8MS1VBoKbZBkr3nyyd37nYLHQzeLCWyJTTlhIGng5+U7XpafSvkpFT1YceKSAGxEHfoGlxQEA0TQcQiEOHEbwMOPhn0x5O+YZFviAx/gf/bRJnw4RjvETjjZqWWJGn6hLLZlQkQGYobyfjDUlWwpgSCrk8RkRQ1/c2kBq2L/f/b+88mu5ErwBM+T8d4LrRHQWieAREqkZJJJspgs0dXFnu6qru4aa+vuNdsP8x+Mbf0Ba2v7ZW1nzXbWbGrMZrqrutqKLLJIJjPJ1BIJIJEJrWVoHfG02PPzFwfwuLgv8CIBJJPdPIGD++69Lo7y48f9+vW7d+8+2a/Itljxljh7U0gun5PJ2Qn3GJt9XJ0/UrtCt1qyGwhBDwEndKBD5MFvH6HN6jffAy/wiU07Xan8k6p7AF1xHf4JtpwNOhk3C6zfrfNOHQR0t27eXJrhKzg69LIrk3YCX3x5Dtq5T/o+lcOaoSFn9wR5PFYnPTKHT/JwxHZZo006bI82wu96e4m7tgO/yAyk7jD5QKfJyc7rdNYVRr3Ycj5fkMuXL8v4WH1QSdnIDxp4qRFbpx4XvGQX3B6ni4vqz8s60FXfTlrqhM66n2IZTd3fhkEYvW7HAD0mlUc+bICc8F00lzIveOoR+dP+kaX5A+ownTQC7vlo9gvwmzIoizLDyjEZBvGur72LXKe8IIaV2wiMRvJBF/0nGAbGk9EEreQjvfEDXX6/DgLUAbJcKxiomi2aXEzWYXxwjXtBfFRgsvGRa0GbMn2EQVhaayNB4Dpg8uLcrn1dAB9BmsEHhTBZgkFALrRt7Ijf+AiOsb/8y7/8a4SHc+LoIwWFCTQMYCaYvxHitJgRo04EAxM4dH5DINdREERyrAdOy8ugPq6bEEmL4dsaOPKZg4QPyqYB2TXqCNJMeTQmOgBrtKCV1wwgLxqcr4yVkHLhH4BG6OAYBMqFLjNgo53wC/T5AEOBfRp5gSoA0IH8lyFRgXb67Kfql0vd0GdIEJJMaCCa6tB8lTujc+RIejpsggnWphFYS4XPjGqAsFQ3QJnoDzRa4JfroAWm9c6pHiTBv6UFeJTMVlmka0my5UlUsot07Enh2/lXr9yU3HxB8yVcp1xO1Nfl8fiTjdKxCeSLXUI3j0j5NGe1og46J9KR7pR9+/bJ888/79ZGMhNDoIo91fXFkwGCBR0gRVok09LuXsSYmebt6jmVQ7fSnnYvubDtDi8isYXT5cuX5NixY65TrJbrgy1mH+GP8pkpvDl6S4bnpiSu+aemxqW9o1WOHHnavVAyOT2qHXhR60djOHxkqzRF7n0pAnmZrZkN8dA37LO6wbYBcs3y0U5BftPuuM+5teV8NiKXz42577R3KZ+VKrqJy7r1g7Jx01q3CX6pRPvK6kiJl40ibvYMGk2vtDvKow4QiOg91aDUVC+FPDsiRKWnu1+DjlbV2S25eOuKaxFr+tZKa6rN7SebzS26XSEiUcqqSYsGOBs3DsmOHVuko5M18yo3DVzjqnu2kDK7o05ogTfsAx0RAHe1qw5LDEo63Fefrl6+6n6TNl/Oy87tO+Wll15yfoAvVFUSGlS7PVJX9iHcVa8kpVx9WRTA5vN8/pdZSAI6gjnuMTitsttDblZtqSKdHd1ODkm1/VRLmw6KkjJ8e0yuXr+ucipqIJ1SedfLpC3a8iza6penvpSRqRFpT+sAihna/pTsOrjV1UddBG0cqdu3B5B2Srs1HSE3dEY7xBfQNggEuZfX9nfr8m33otaQBogMuAhKyYN8OWJLQKcO+PKL4upOJGJqG3nlLab6apXHHtsju3Zvcza16LZdi0hB3RXbtflAnUF645qmvSXpvkTFS5adnb1y8cJVOX78C+HT/xmVQSFfH3Tu3rdTutelJF9avOOTVgLzzb5/NDR7tr7FZOUD5/fQq2j9nJXFb+qyIM9HS9cMUC5yt8CS/JSLTwsC1+Hf6gdIj/64Tlm0f8qzsowO8nJOuUG0/p77AL/xwZQZlDfnpAtiMN1qweQeBL9PMjT5BHXUSObBdCul9eVKPWZLDwrN2K4BtoAufXqNrq8K8AENYXER5fvtADrNJvBNyJ9zJwVuUlAQH9QAGgHlGhqgEATC7BajbmYQjJFG4OeHWfJbIOMLOSgIEEMI8otQSBuGzQJpre5msFmAZhw/jg5kdohZOEfzUpqvA3COGJCP89qZ8DiXmQj4R+bm/EzWoK8vH7iOc6JDsw4UpGO0RkOZpl/Th6+bsLLv3tO6+QsISnPfKYP80EtdHLnG40gaF5vUu8aydB1akTu2eujQIfnRj34kL774ogajnVKrxrWT7XPrUlszPTI5sSAnTpyR37z5vrz/7ifyxcnzMjYyo7bNCyBx1xFj67xgQtndbd1OdgTQPJJ0fGkgqV2Uo9naCfwAzF769uTko8HGowRoMgRMfnauKdzLXywfaeGtaaWLNHfW32qyu2lXB5RDR0GH2KHycXbS2aXBy2Pyyre+JXs27JHWuHZ01fpWNppB/6nevFZisqMsg/rvleVGGivHfSZWdec6asdQvUNOaoDIjJ/ZKjoh36q4dTTX0fRt5Rggv472DrfWtEuDrozaJHIhDcHtCJ/tnNCBQmlarty84pZAMHPPo39opt1CPzJiqUIyknR2Q35s8fKly66tc592iJzxx0GfyTWfLgOuA9wjMKPu22rnzG6jG+iHL176wtapg7q4ns0uyvzigtpLfZYXPvnKGJ/FhUffdig/pPoVAT0VGUQosnTKAib0zyw9+oQW2h9PVOp13L8SBuUMAnyk3Hvpba48A3SFrzFkMoZB02rKaAQ+basF6mfrLfhGl+iZCQr3JCqENupqhD6EXfs9/PcB2A32w4DV7It26Ho/13B1tBfEr9tYcMoEYTRGGif1N9sYSUtjsRGBfwwDHOmj4Bl6qbMZhL7Vwp2AT/Hr1g+8EaDh4JfJbcnp224D8IXzR5/NAHyQHofn1jcuIQEhZZkeTWbo+VHwTrnQQR2Uz1vP8MWAAJvkZSfWtfKbtDbDRbDAbOurr74qP/zBn8j27ftlcaEsN4fHVTY6oq3F5OgXX8gnH5+UY599KRcv3JApDWBnZuZcB87MEg4eefEdfDrJjRs3ug5cpbMsUF0OEeGNe9+mQF5M+W0CqmEdIR8DSLfcnbFZabDSDJAVuXd1dTodEUihkzNnz7j7e/bsdZ/G5N741LhMTU+56w8f6tuY4aP4kECNr2mom9Lh2J3H0k4Xibo+mvVhqwFt/Y4G2gxH6rR6sAnaTyczv/pXrNafNlmQitxot/hA8rtZtfjSRxUUeDTPEwU6DOinLNLQ9pe1+6UywsC/bno6dfq0nD7Ny4n1YAubx9bd7g1btjh7p/2Zb3afJWZNsg4K8AV0WATs8P5VwVTh2rXyh02ar2GWmp1JuMaa2N7evjvpm4E7el9CeDOZflVAp9BJYMrAwpB+8psA5i+hk4ELcuX4e/g9fBXwYwzaD/6JY5Qb34RAlbqgA6dLx+9Gs0u0NQt0hjiIoMOgnCBQLsJ42DxTl1/3SgidzQLlojRG6RwJAvhNp/Qgjns1gGygG+eE8YD8xhkzmjYHRWfC9WYDVcD0z9EQCMoMXE25qwH48DsXc7xupiA7I8OjI262iW1zoGNgoN91GAQsg9rJfuc7r8qP/sW/kicOP6tBSqssat5kslV6ugalXI3K5MScBqnX5cyZi3Lu7CU5f+6C3LpdX3tInfCMDSI7AlU+aoHewbBAFbMOygas0//1td17ob5OtUPtlDe92QIKHlbTlkNB+YUrlpjw8hBbdRF4TU1Nu6CHGfnDTxyWTZs2C7thTKvOHgXASzqdcXXyghiBKn/VaP2RNzqgbfO5T9u661EAxdJMGCAiC+yQoAY5DK1dK+vXrZeOlg5JaLDK0wE6AHRgdk7wiS8hSOM8ujTAyZfyMsdOBprHrQNVCPOVYKNA1V6ahHdo4qnBhfMXXMDKem7zFQz2Dh8+LI8//rh7Ax+bb2ur73fLbKb73G2+/lIuwTY8aItweb8aMPt/dz08s7ZuYKyBKfxDN+2QLe/6+npXVRfyoFxD3yc+CLgnAiH4TQBkCN/YFTqzwPX38Hv4KkDbwz/hm5gEoq9noOus3TpInAANy9CChUcN5sgxdpzstm3b3OJ6CG7kCMMApmgkBEqg/Q4C9cGbz+vD4pmyrf5msFmAN6bBQfdoXI9u/z8N7Nl6s0anZajpl52HoZdGhyt3EdlwDQwRBZ2a/2iLN475HnepyLq6kuYjSGHAwKNKAk7VX0QDFFB4rKaoZRsNXOF3vliQxVx2GbKdFetaWS+WWEICoHqHiumqw146OvQ//+l+6887PNRrM3R6hscl4Nzsx4JGN4Pk9lvskkxSO/y4BuipVuns6tUgJC3Ts/MST6akp29AevoHdPDQqcHroOzauVOD1Sdkx7odKo6I5BdysrZzSGmPuT0hr1295nYbYJ9PtvUisCFgoE6CDeyi/ki3q/7okT/3WFYJXWor2FmYrbmXYNDjHb5Xhju6aAKtbh+s7fqAaOEVW6l3XHe3mjI0+oGwMsKAVOjk9siILOaz0trRLlu3b5Wnn31KOrrapW+gW158+Xl58pnHpb+vRxKUG+HRNPZn+te6+V8ZqmPdVjj6NAXBrhOQAgTfbqYrz5v39bWDmB06MDtidpXz1YB7oU7rMETu/m87h4uSBnx5bXeLBOwaWE7OTMuUIml4uSquNCjhsihZUe/mZnjRB4GZDXiZGOBanW6VhzoT/AmfBE7G0sIq5lK+LPMzC1IplqVaqihy1KBX+4ya+ueY1kGLvNMqVb/cj6g/57yqfnV2ekrm5mecntZvWi8bHG6QfY/tk8cOPSa79uyUjZs3qg57pKO7Q1rbWGrDmkRewJuVsbERuXHjunt6Q/t37X5Jd/Va6/q5P6BzvlbIenANIlVYmTRfOqM+XhBS3ngxUgP0jg7VnbOb5oBZT9qvjwSrzdp3KKgs0y0Jacu0SGs6eQdTSZWB+tZ7UC3DB2tvzcJq0zJ4YBBB381gB5+FTa2mnEcFK7XnbxL8rtD5dQH9IXEOtlRW38GEQOyv/uqv/hoDI/hxj4A0EU7LolocLkZHBoJZjmHO12YRuGfYKNBEKZTJPRt5Gto5R4yfNMEAuhENBpYPekHAOhPq5b6VGTQQZBHkYzUIz2FGR31BPqBxNQ3aZAZPyIcOijdVK+rQ+RxmvqqBdkI7XHVkKj0pq//2Ucf5UowW9b52YOr8+OxgtlySUb6DnluUxVJBctWSplK9MAOj5fn0goygqdvHonaWpYoGqjW+w56VUpm1swsSS7C4Hx6VmhqfYtWOLaqdazmvdKqs1Pkm27WT0M6roE42x0yL0snXO90XPCNRSce6tNOLSz7Hi1q8pFORst6slutfPSrklc+i2lMloZ1NlwYH7dptMZvLm8vM9ia0kxvVwPCsLCxOaweuHWy0IKnOFimqzNiD8+DBg26tnHXabj3d7duugSjLUil3SiypwWlrt9Tire5TmGMzWZmY0U4o2S6ZzgFJZnqkGmuRC+e+kMWFcWnvTEoyVdVgVoOq3JSs29CngVtMUhm1jajaemFGLl89J5MTE3fshZEjfe5TTz7l9sNki6ATJ064fTojiRaZzi4o/TXZunWzrF03qAMEZp14+51BpuqlyPrlRe1omcFsvC+xD/TzFa0+aCthyL6oxWz9RR+/HUE/crOAhzYwPVWQ37z5qZy7fk4KBHQLvFwnsmfvTjn4+D7NW3TXUqmkLKhNRTRQCLYEygm2Lx4FZwmQeMTOMokODYY7M6Iql2x1QUqxnKR71DYSCzI1e1NmpsdkoTAp8WhFMm1J1cWsBrmLsmv7TnnuyIvS1zOk/PC4PiPTi7OSLagNq9LhEf7gDeQa4GjQv4GOQTl36py8/eHbGhwo/4mUCxojKkxsirXLDDJ4mSpbXdQwsYmZQL2dSLVIWttEPJOWedXn6Iy2TV4404Ff95oB6Rrok5b2NimrHVwbuSw3J5RHlV+urO0iGtdaYppP/YAO6k5fvCQnL55Th6+DqEyXRCsaQCfrs13MXO7evdvZ+pkzZ9yjfnTKk6z2dLeM3pqRgcwGeemZ74g2aakslqVNZZSKJhSV31gdk+pnSmqfs+NjMj85QYOUFuVjQAPhQe1ocrPT8tkHH8qZz0+4T9Vmq3xBraR035BUV0qefOEJWbtljXvhrKVT9dCekGvDV+TS9QvSmmxRGZZU58qP+o6is++cbNq8RXZs36OBd7vaug6C4i1a7v035ye8T2i76IgNSq2Ulp7OdRr4xuXz46fl/U8/llsTI9KRapfHDuyTF154Vtas65VYuw4LoopLvhd7B9zAJADYCTbrI/nIgy0B5OM6bcXKMN8a7B/Aijq5tmRJ2uJFycTVhj1MxcuS9jCl16K8sKrywE6pw3waAH3QYXXZNVeP8sZv+r4w3uAjDIgR4If8IGC/Ka8ZsHZGOZanUX1hEIw9LGaxGXiTPUBai3EM/Xp9QA5+OsNm+WoE5Kds5E7/id8HiT2CZSNHi7uCCI+khyZ4Nj0EwdI2A8iKMoJ1haHx4QP1wFMwra8DH8wefaQMkAEQfTDlRRlZY8g+cRbgWcDIPYRgSg4DDMLyGVpj8AECqI96bW0Qxo6SqJs6URpH0qIEq9fHRmBMQrPRFBQowiFN0CgAS/sgSPnN4mrA5wn5gEUNKMtx7RA16MwrFpVNPpN551OZHvIJ00JEBx3syal5SpqmQJCrwSmYq2nD0TIKlKHpeLEgSG+YETPfk0rHpCXFhxe082rRDleRT6yKdjRK2Z1AVXtLF4QWocfoUjrA5fRq/cycRNh7VINqTVxSwsoatHJOMOauKVbK6pxrrGNpU+Wm3b1aRQOKiDldZnWZ7dXOTIPEiAaqTMoSOMATtoB98xuZYl+sl1uzZlBa29plar4gEwtFDRpycuH6iBw/fVG+OHdVf4/Klxevy9Evzsl7R0/Kr9/7WGbmpzSPyNr1XbJ3/xZ5+tnHZNfujRogTWgwP6s4J7n8lMzOjcjc3LSTHzRSP51Kb3evCyKggRk72gJ6oB3Yy2qk59G3Mu3sws2CLemGl9o4hph2KGCBy+Uejs6etA4eqSMvl1fPsUc7vwNaNzNTvBSTLWXdo1tocjNhShjbS1GO7QXLvTAIa4sR7YijGtRW1V8UtJ4sAW95QW0/K3PlKVmoTknXupTsOLhOtuxdI/EEHRWf1uUNdGinE6WDUF+jgx9sJa52E5VWlZ3att6DHuOJOoG6TOudKXyjtxYNKlOx1J2Xg/gjHe0Tv8nsH2lXAzkNTHJqr8i8ktCApqtD+jeslZ61gxJvS2tb17aigdO8Dkw41lrU9nVgGm1N6aAvo4GeBu0t6iM12G3p7pBYS1r1RmdFG6j7R2b6mP0D3GNvRewNXvHHXZkBDU7TMn59UQrTWrxoH1HTAUFNByPCB3GVLi0srQFrSTuTqZERqWRz0tGSks1Da2Xf9h1SUtvNaiczNTImtzUInhtn39qCTGYn5erYFammKrLtsS06qFA9apssRHMSb49J34Ye6VzbocGn6iCS03ZalJgGYZEIOqlPbExNaLmT884PxKNtKn/6gyYNnnnfWlrSLX06sO2WibFZOXfuohS0jbdGU24XBT4jzUAz3ar+Q+3ePgaB7NAnR2whCNhGEEnn25PZNPfMtgDK5Z71b4Z8UayFJSXqv4KYuge1PWmLhjLKBglgLPj0aTY+ONpvSx8GXMc/hSG+ify0CfyB8dIMkA80uXAk/2rAePURgB4ri3JNJ43SB8FoaibtagGbMNnzGwwDX0dhaABdzcp8JbhffYa+TQchLP1q02JHDEo5Am4fVU5wXIZEshxt4T0KxxjNqYUBHTz5fKSjDQOIMeX4BCJoHwECWKvXx2bAL+frAvhAnkHk+sMAXz5B3prhNJiGc5yQOUb3W5EGHQZ+WkMGHjxGDOoIm6kDtdRrhmYaFS9K8OKCsxu1NX4H+fGBW4YG/nndjhkc1QdIIAFDmAMgoODrNL5+QHsbmscOLD9hVrO/v09biTrgYtbNyE5Ojcro6E25eeuqXLl6QU6d+lzef/9t+dnP/kH+9m//D/nFL34uv3rjTXnrrbfl8xOfy62bt1yZ01PTbi0lo3y2bJqerW/fhX0jawKEtWvXytatW12QzODN2ZLyYF/LQS98Rch0wDEITob6r4FfeADQAj3ZG1CfdVB3UGVrb91r1+AegTvUTpf0tges6S604AZAPnhnH1x+o1+WZ1CnfZKWt8TR38FDh9yTolQ8rekILnlMDUUxp5ObN286P1dfC8meu1DSHC3YLTbe1dGlg7C6c03owIj83KNc9lGt89k8fwRiiwuLzkmjXwYt2ARrlpntxCbwyQuapqOj023z1N/b63Y+4Otb2I0N/ocG17j7bKnFLiG0O/NPlI9/drsmdHW59kueuk3VJBPPaD0Lcv3aNbcBvhsoKY+YlSEDqL6+ATl08AnZuZPPtq7VsmsyPDzutmDjEfvc7KJMTsy6D2EUi/WBLQOXvXv2yssvveyWetWhLifo4LOmYJjPRM60IV5qRM4Eka6NNyFidFPlqUBZg+JEVeZ0UHn+wik5e/YLmZod0wRllXGrDK7pVb46pbOrTXM89IbUEJDxPX5Uz6MRAkFmZzmuhPjs5YEU8gKbhbC0XKMth/n4YPrV2PqjBOiw/gmbBpHvN4E+2oDfN0Eb8v2myO6bAMjCl0eUBs/06tclJJwlnQT18rYzyG8eQf23ADRcjDCIDytQfRRgDdpHGnWY0+J6s2kbgdkacmFAgz3QeB8UgjIHwwJVgIDWHIaPXIMn1ogSIOzZs0dxp2zftVE2bBjQjrVdWtuT7pHkjHZuY+M35Nr1C3Lm3En54vRn8savfyX/+JOfyE8U33jjDbfPJh8VuFMXn4YtFyVfzbu3mdkUH0fFEwY6Z/Z0ZY9WOgVoZ50ueZExzsw++QnWg4rfPhD4+DIkQMPeoZdtj9xx6bOXrAN8EMB/MDCiLADZENxxhA5+Y1986nbTxk0u0LOg3+RI0Mxb52yDh+2xCbybKXYl3h+wdfZnJcAbHBiUaFWDA83M1lQ65HZBKj6VNKv1q+iUPPACYAfwwNIU5AgP2AVrkS2QSS3NalGT43Mp7/oN62X37l0qr7TLR7nkRUY2mWCy5J6TpQaRBPTtre1uPfX5CxfcAIn1rvUwdTnw1CLd0qmB8oBiv8SiaeW7Ipl0p9LTooFqXgNVPuWak3yurPwl3QCQ7cR4259A2QbFHAlc9+3dJzt37LzHZ5os6TPYV5ZgG3uA7mah/iLVgszroPPsuS/k6GcfyvjEsMyXpyTWUpVvv/qS/A//6k9l32O7pKQB7Z0t1X5rAM+082aQNvFwZvx+1wG7qPudu/6Sc67/NsFvg9gt9EAb7fD30BiiCA1h4RANcYAcGcEzOscJIlRzbgDO2hBA0P5IC6SDCAMcEPWC/LbzYJmA71R9/CYCRgjtdNZuZsnDoNP9JoHrvLUjAq1Rcy0MLJ2PQJiO0GkQkBH2hpywKZt9QkbWEX0VoDzK8AMmEBqsXGZU3C81L/coVIH7roNWOzPnZvrixahDjx+U72jn9a1Xnpdnn3tCDh7eI/v375ANmwY0QIhIpi0hbR28DJXQtpKU7q4O12YoC6QNEIRSrnOcGpy2xPW3/qWSGqQm6zKkvRCQsE0PR8qABr5IVa6VXSdOOvvOuS/73zaY3Dk6ZHZTaXcvwkXq67r4IAP00rRp3fV2Xs+/GkCX+BqzT9Md5aFLAk+CRDfbpvIn8EHuvPXOfeQIMnvOm+jYKelYVtE8QRqo5nPOR7JxfNS90FNvG8pVfQYzm71jU2AzAA/M5lMufMIb1ygXmqEf5KUo44snE3wKNq91wgv8s31aTvkf6B+QXbt2ubfXkRdlkh9d2bIS9IWs+I1MCOD5zXf157U8XmAiuGQG2ynOA2Yzp2fm3ZfXFueZrW6V1nSvtGZ65Z23PpY3f/WeHDt6WkaGp3VA1uU+CsKexEeOHHEzxMgHu3d8KJ/wSFvZsmWzbNi4wfEFzSD3AdoENBKswofJpXnPQZtakNGxaxqkvi8nTn6sEXJB9u/cId/9zkvy0svPyM5dmzQwL8vUNF+A+wpG+hUBfeMLfR8KVsvKXVUDmVpLHZc+wcxnmfnC3d1rSbWHum81MPn5wP3V8EV+64exDUPOv4kAb9CMzYPmK8GgLH4bYP0edgvU/eOD7w7yTeAtDMzegujfWwm4H8Up0pmasHAadAQg60+4Zs4Ax4DBAiidtBwBy++j3fOBSqmPkTROmWAY5wRavZRrRoZjok7q9jEMKBs6LSikg4B2jr4S/ftBDFM25ZLnfkjd9xN6EPw6rZ7VlEFa0Oj3rwWBengjnFkFq8ddW0LA+GiE1IFefLmSh46PGQ4f0RN5jBYrA6Cx0kna+cMA6oEubM9sh/KhkevKtXtBrJ62bgM4DOggDfxgs9AOP9jh0JpB2f/YTjl4aJcGrXv0uFseO7hTNm5aI4mWqkTjJdeptXdp2qEe6e2pP4I1GiiPN4gpn/JoU9g/j2qxde4TjAI8pmUml+vkBXgLHIAX1aB7YQe58lY3W+nw2Np0/1XQ9B4E5LUMlR5bqxcEeLBynJyXHoW3qxxaU631a9W6bghM1NpcsMV35eu6aZ42ysUfIA/S+LZoR2yLjnRmdmkh/tI9gDLJg455WQ09s+8s5YW1OtKTfznWBw3MzDKgoE0RCHMN3VH2tevX6va3ZOf8DkNrG1aPK1eR39yHF3igDH5zjRfKsKW6LPDJRTfzTnAKP3NLAz9kzWCLgBWeqYOZWOzHOkoCIxe05hZlLsvHO+obyaPq2YX61l9sf4XNwiM2aDJnMJKIpaS9tU/L5YtOIpcu3pJ3fvOx/O9/81/kP/+nn8jRT7+QYj4qHa39Kpv6V+p4asDyFmj0+Qcplw8YrGNrLe0beBmN9mH6o25o5qMG7AtrthAG8IfMOJqs1cNKqbIoIxqo3rh1QcrVRdmydUj+9V/8mfzrv/wz2bB5QBaykxqk3laZ8tWlu2uyTUcc7dpXBejx6aZcykQ3PqJbXozUIa8GrEmH7vPLkYwW0qIDLM7TOpCgXanfiNX9jtFoftZoR47cxz9xHgZcDyIyxK4tSMVmfNlbOifjB5QNAL2gwUrlmix9BGhH8Gq0AZQRln41+KAAXz5dhmG03U+WpDE7b+RnVgNmJ0FcLfj2hh7o9/BH+Eu/f7M4kXTk8WXAb65xz731z0WMEMMzZwjwGyQDlVK4Kd+2SeKcBmWO1EcEGATKwsmCJgRjhqCV65RvhFu9QQwCaaHfZlJIY0GvLwToglbA6vKRdEFAHiab+yFpTUY+QlMQuAYN1Ek+8iNL47sZIJ/px/hE7mF88HITSNBguiGP6ZsjsjEnSbk+cM7ABn58eq2BUKeP2BTXSU9edMM1+01e7lEmBhuEWC0uaXXINSWVcgyDdBnAEx0q5SEP6iA9urt967YMjw+7HQeY0VQXKzVeKtM8Tz75pHsMyYwS8uAavDlZFOhMWe+kQVZ7Wrq72qS7h0FVXDtR1v7Ny+jYbe3QxySfW5BYSTubLEFD/e1x5MBsHec2IIQ2bN3pP9kiF29dlExLRl77wWuuQVMv+Xg0zd6TlbLqRbuhnAYMEzO3pU/b3bPPPKXyW1Sa2NkA/RPAYFPa+BPt0qJIXSshdoosw+zFb4cgv6NltZ1c3T59YHaPcigPR8RLVLNTGgxlE+5b8+VKQaZnxqWnt1P+4A++Iz19OjjtVD11ZJSHvNSU6ERbuwuGffqCuqZeZMMyIWRHXTaY5pz6oQWcnZuVc1+ek1///C21n5pbYkF+yoM3ZoNYosBayZ07d0pZjWyhpIFJ9G59xpM5VsOk2s/G/k0yPTnjlnXcuH7D2TV1sBxgbHJMg6Ab8u2Xv608RWVycULLb+wfkS/1wIcFjtBqbRP7tfYIkhcZ82IgLwm6yWAtyq1RrCm9LW06YBrQe3EZHh5THJXxm6PSmsy4pQLMOCMj9i4l2Dt96rRcvnZZg7aStKc7pL9/UPU1K+NzozLY0yvrNvBVqLUq00mtm71BwYLWq3wUEpJdiGqQqr6gUJMzpy/IL3/xhly8cEUW5nQQEFeZdPK5XJV7a1IeP3JItm3f5tYQMznB7C86hVcAXhno9Hf2S6QQk08//1QWtF2t7V/r0tDZQT/LxdA/SyIyHbxkpvLxtpJCfiY3ZGgyZ0utqeEbcuPmZS2vJk8/c1hee+17sm//brc+VccemrcssYTqviUueaWlrPkBbAz9c2wWqDusfXHN7JvyrI0FkS35ulKdwjZhZR3Psq2WsiG5bFGuXxuWkeEJtb2SpmPXjJi0dndIsrX++WT4tX6d8s2msDPaAED9PpCGNhVGC2mRJ+VyTjnmqygXPsxGHxSMXsDkBIbJ3vy1j6Sl3Vp60wOygOZg+maRMmirDwLkpy9AB8Yn9NJfBeuD7kZAHuiBH/LCWyNZNAvQhF59vUMj5QSBe430YXZmEzO0dXwO7RUfSV7o4jp1IgPTEUfTOeU4Gv7tv/23f03hJDTDuB8Y8RRkSl9JoD5QBwJFsEaICYdAwQRuaQDqaxYonzJBflOHHU0AoKVrBsiLAB82QIMpzKcNusIMIAyMNj8/10Lz871x7diCYAF9ENEJ93yEZuqwRmANg2tB4Bq8mP5IB200VKPTOugwesMCVeojrcnIkHPKZ7TvHn2qg6ZcglZ+E1Awg+ZmvtT5s7tBRTsh+HzmmWfclkIEL+RZBq5JaENHdhouqsVrR1rUICstu/fyRZ0NMrSWb6xHpFzKS6KidFXr9gZNlEfDpGO2pTTQyyNax4sGy7w809nReafzRibI+cKFC3L27FkpKV8lbFjlyGP19euH5IknDkmmVXWUoi4GCtoh19BDWfjOfyzkW/9BoA5oAPntg3VwPlY1aI9q0Bf0EiZ78wuTkxMavE3IuTO3nNyZlWILrXXr18jTTx12QSr7m3KtrL0v22PVEi1sabkMoAs5+sA5doAtIlvO8UF0oCB8IF9s4MaVG3Lxy0uiFrKUu56fPTOZJaR81kvyeLy7t0smFsakqnQtKd0B/IA+sDduLat+KVofpLu19qMjks1n3aAku5h1X4V6bP9j0tvfK0UCyni9TRpCJ7Tw2+rgNzSFAfL1AXXFE8yoo3NtH7QRFWQ81iLrhnh0nVY9zMjZM+fl1BdnZGx0TEnQenQ0Q73YO8tMCIzPnz/vXvbrbOPxfFp1rwPIWFIyWsZClr1AF91WaPv27VJZ52Rmli3VqrJmaFA2bditcuhWPd+W06fPyaefHJPjn5+UGR3A9XQMKD8RGZ7SgLd3rbzy/W/JwWf2qay7nY0D5gsMnB2qyts02G7XwdaV81ckO5917ZhlMrQPAnnaKp0euhvaOCSLlYVlgSqAjdC+AeyXGeeF2Sm5eeWcBvMx2bR5vezes0O279isZWu/VGSAoIJcwio7pETVPwfaxmrAfFawfTUL2FqiooFllCcTSfdy2pXL1+WTj4/pgOBNOfrZcdXxRR0kVFQf66Wtp1Oqsbt9gdVPX2ptxNozdhCki3PTTRAoBzskH20dbGSvDwpGOwBN1j6aBfJYv+MD9EL/V4WV5POgEGzjqwHoQj7wzNHH1fBr+YMQRttKabluOuNIe8VP28ub0GsBtsWQZlvcA324E6g2Cyga5wYysqXDxXFAUBjRQYAAI470dDbmUDBMjMCQezDZLFCeLzxrWFxDAGb8IHQ0WzZ5H0WDhIYw2pptlOSHP5wP+aDRkHKDym4UqAZH0MieMtAx5aMrQ8rknn+NusOAdPBCmYAZIvrmCJj+Abtm0GhG1eyDsg2RF86XBgHdXLNGYYHq6MioFCs8RoxLke23lgLVp59+2n1gIjRQBbRTrsuu3oFFosxyLWrHtyBr1w7IHu3s9h/YI4cfPyhDXUOyYe1G92IUs7TsVXngwIE7e7USGPE0gnYDnfDj1p0mkq4T5kUqaELOdwPVituyKKl60vBGunu65PDhx6Svv0sDXWYaHn6gShtFX3YfJEhN1O7tcM1+oZvfN2/ekvPnbsiZUzdkdG5UA56Umz3du3eXPP7EAWlJacBdzrmZ1khUgzXVZQl7D9BAnUGbgE6QurAraIRWdMzR7vPFqOvaoV89e21ZoAoQ8GC32As7BLDkor2rXWaLM255iA9mXz4QPJTnK9LT1evaDmtdL166KNlyVmplDW5UBwSq6HntuiGJt2l+DVStLBAanUyVb7vG7zCeOYfP5aDBQqJ8T6AajSR10NMrExMEqRfkyy9Oy+VLVzXYW5SWGi8+paWnt8cFqXwVii+tEahCz8aNG7Qu0bzTblu2zs52uX37htwcvqZlF2Xnrm1ucNTf362DjValqSTXr0zJB++ekjffeFc+++yEXLxwVUbmxt0eyENd69U+EzKn/cPjjz0lf/ov/ki27d/glhUw4AJo+/Dm88zvdDwjOjR2H8dggLmYre+EQHtGd0xqkJdAdYsGmvPMhnuBqitDdYOfMBthAFEuZEXHmLJJg9tt2zZrG+rW1Cxry6lE77ZxUNUsZZVnrcGSl2aAdoFOke9XAWw3UtA+raZyKlXlxo1hOf7ZSfnok0/lszMn5PbEiIwOT0h3e7+8/K1vS8dAu+QrPMm626dQP/xzNEQmtB/szgfoRGZhYPmQrfUVXHsUQNuEdtoE9eCXrX00A/BBviCQ37e11cJK8nlQQLYPAugSv2j+xHA1PCMz5ByEMNpWSst1q5/ftFX8Ie0XvbJP+fXr1+/EEGZXyDesraw6UKUwHIYFBFQCISagZgBCSAuj/KZMiIcZDNLQOj4EHUZ8ECiTfKQlD8yDlANYwwWNhmbAaHjYAA3IwPg3NOXeD8hvI2TyQaMhsrxHZg0CVcDPz28GH3QG6NdG4iC0cd+ucyRPGL1cNz0DZuw8CqAM8nCvkZ4bBaromMeszA5RvpOXdiasr+M3jwetUfAb+fCW8O3h2+5xbzQSc3u5NheoagO/E6QSsBLI8PiHx/es7+ZNfOUxwf6gSdm1aY/s3LJbtmzd4h4p79u3z31/nuCAuniJBNpoqDy+RIYEsNZQSU8HixwsUOUe+9+mlBfWc6YzSXn88QOybv2gUscM78MPVAGTraG21tAZVXRC/kwm7WasL1+6JOfO3JBrt6YkXyrIUO+A0jokzz77pOzYudXRnNcgnxnVZELLVrnk8aMBGqALmfhAPbzcY+0c+eGPDLlGMRPjGqheuSG3Lt1eFqhy32yXsjln66qsBjBtfWpr3qN/wHj3gUA1WU1Jf8+Ay88Xxs5fOO9eemuJsJ+v6kh1yOz+0Lq10reuR7363bKszdvaS0PaQxjPnFvbuQsEqjpwZJ9iF6jiQ9hnuOYeCZ8+dVY+P/6lXL12XQO0gtKbkExcg1QdvNkAit98IY0lJsz2Y6/4dGZiM+k2DTJVviXWvc7K2PiwnD1/SkbHbrrzcxfOyD/9/Gfys5+8Le+8/bmcOPuFzE7Nuy9a1TRgppX0dQxIX++gbFq7VY48+4Lse3yXJNrVd7BsgPUKCnX5L/etXKsVa7I4mXXB5cLigpvxnZyd0jaUEtYGu+3PUi1uQLhxywbJ61/w0T+A3NC3ta90S0z27VindHVp/oTaYVampjWwrpZcm6ZtWztnJrXMPs6/xUBVW5zUsjHJz5dlbHRCLpy/5PDGLfVluaL0pPskoTSu18Hxd777qqS7WmSxuOB4NX/Jb+r3bQ0b5Biki/NvQqBK/wPt1j/Qn9E+8OXNyJI05A1CWPtaDawknweFe9t482A6oW8N6tn66GbkRvqwvjyMtpXSct1ooF58DT6GmIKPi+Az6f+4bzohDxhG56pbIEbDrI994pFOls4Xx4xhNQMIE6LpbCAS58jeeMwy+QhTdCjNCNgURZkmHMpGSQ9imL8NgFsUg9+9HyJzDMNH+A6HOyUvQ/ZknJvj8391nJ1lu6iKm+HjkZuPyBKZmvNHP43ruxfQCzZEY7eGZEHHcrBzZZLgAWZZV6pRK1scxTXA8ZG1gNCCTfLNcLaWgl7qspkVAlvKc/tBUpzKgo6AqZO7JsIPQ+x56bcFqXRg2pnFtVOjuJHRYblw8bw2ultSrhQlpYFrujWtwWRqCbXuloQsZHVgtzDn6Gxtb9XOmhdg6i+cQSfAI2QAWSBnZ7eKGnpxVeJRDdyTGgwWtcMo6WBEf7sZF0PlA3QkB8WpQLmGgLUL/7rdgyb0b0h7TWtg4EYNTi5LstEysAMq5Ctg7PnIo2PadKXGjGlFA/N29RHrZPeenVpOhyZlrVvBbdXF9BqfxW0WIM8GBvxm/1PKqs+q8va6BjdZHm1qgOJ2dsDe0XH9GNFBygKf51W5t6j8Jien5aMPP5Zfvf6G3qNjYwcAZK7ptYK6jJbQbFCxvbPN6dmKb2lJSmdrp7RxXfWuIYKcOndKA4rromqTmNIbi2O3yu+S7dyV4xK6Rs11r07DJVtYhmyLVdHhQ1U7DGlxnzxlHeMH734o77/zgRw/dkLGRsalNZ2Rns4et+yEQRKzqbQPfjM4IyhA3+zja+2R7bpmZmbdtaHBtXJz/Ja88+678nf/+b/K//K//K/y//tf/0b+6R9/KZ8ePSZXxq5JUdN3tndJn/YHHWmVg7SrDkqyRvP+4Wt/JI8fOuzqGtbBIr6D9ohseSrn+w/sj86KdlGqlGT/wf1y5PkjGoxulIwGK1NTEyrvmvQN9tXX/05PygTXnJzq+Q2pj/IpC1/T1s4Atkv1lnFbxE3PTEk2v6gBa9LNsruXAAN/XzdAtw+c061OqZ1evHRZrl2/rn6jKJmk6rStT3Zs2yWDA2vctfGxSeW1vi7eB3j327LhagIuygyW+ygBneFX6N+wB+wSfFTg+8KHCZRr6MOjkCflmZx8/Dr11gho8/Rvn3/+uUNiO/pq9Mzgg/voupFcYv/xP/7Hv+ZGWJBJIWYoIIYNwrwZj0XEYflXAiMQBTJawonWO7zl0IhwAhBfGdAFszgmkI6S8qCTRmk8WoDFeVhDtQYCT4bQaHx/FSQv5VIOnQDXKBdajC4z5HhMR5DaebdUlD4V6UoY1yy89R1nyyOVh48MBiibcu/wXYIvDbPK0WXI3odR3ixdQt4y5XF0e3vG6cZHAJnCB+fUw9HswUcDo8F+M/NlusZ+yMs17MFk7t5or1Yko/d5aYgtZfjKVTqt6eN6v5qTyjIsKk1p6ezocjQBdMAgvFM+L+EwIIpEkpLMDEi2gHxi8uwzz7nZpKz7RKnSGSWA4itWufqR6bCa2op7WUUHQaI2r+QTkJU0aIyw9i+WdEGa/icaxgufiazGNViKFyVb0SC1NCeJtpiku9Myk5+Wyzd52WRBWmIt0qUBAwMz+LZ1qjRi3mw+fvKEzObntd6kbF+7V8mJyOL0nDy2c690ZzokqXVGijpI074+UY25fUvRZy1yr20TzBmaLSJ7zqmfGUCuYz8AOvMxWs1LIpbVQIuZDpUKQZcGmVOTs9Le2qNlZeTcmWty5vQVuXnrluptWvbsZA1vpwyt69RAdbN74zqbm9N8Ebf/ZzqVcY+JZ7KLqtO7bQ40m1kGER53L2hQUV86wAwYe7Rms3ktq122btmjAU23nPz8grz3m8+kMpeQZLRD21Wre2O6mFP5aZAvkpK2lAY7klF/kZOrwyMSbUnJwQNPysYN2zSgGlVVsr0VG/qrPpXusmI0XnBfXlOXKguFrOSqi4o5uTV5U26OXZeC5ITJ7EhKg3G1geHJG7L38Y2ybmO3BqtlmZ4dVhtjjXNSCsUZdy2i5xJhz86syh/aaNjKu4fuy5ga7N7BWFT6WzdLb3KrxPKdMn4tJ6c+vSJH3/1Cjn54UmZGFtw6Wh6fJ6oJ2bR+k/R297i2ysQCR+yLWXvaBm/h20cFCOZZC7kwz9ZdrD8WWVRb79A2w5ffcgsRKeTUH0Z71dZa1eZi0q2BbjqdcF92ml2ckI72tBw4tFd+8Nqr8tyLz0hPb7uUIkpTS1HiyXq/ge2ZH+aIT8AWabM86seEBzcOSu/aHveJ1fninEwsjLv2FGuNyqadG+WxJ/bJpl0bpbWzVYO1+kdnsB3KxL45UperD3+oWKlFJF+Kaitt0easfrKlXSrRlJs99bESVXTtqLmO3vdfK9pwCMA/fgreTS5OHqqbhekpbWO35fbty3L9xnm5PXxZcoUZ6e1jwLvgbOnwU/vkmSOH1E1UZFHtknYMUBZotAQxDLge5AMbQTfQhX/AfvDx5jO4joxNl2FlW9/nY6O0XOM+eSiXOqwegN/QhcxMXj5wTv4gUJZfPwjNIPzBD8CTOMqgjmDZYfIhDXT4wDUGg8jLeCAvsQB1oV/OuQ6E0bYaJH+QNuqw2KMZoJwgHwDl+ABvpoMgWpsjjaXjpU38DXEZNJpesXfOyWN2RR7q42gQ+zf/5t+4t/7DGMEIADKYIIJG7xqTCp3rYQyGAfkQnhkZgQWBKoQy+2XIdegKEg3AKNcMKceUQrnkIw3lwDzAfaOb9PAUBPJyn/yGlI8gjcevgtAFUA7lIUPo4R51AHU+1BFUI6L+RmJ6eUWkfcc1eFLHb8ZqCO8AZVNPXWd6rsFMEJOJVu1weGRJsKUGBMY1gNWARElydBlSDkdsAaQujiZTH4NyNHpwen4ZpLWGa2lAAvFW5a9cIijBxnjcpzrTYKWiQQprM+8i+0u2Cd/3B8wZcIQOHBANhZdKJKoNKdWvgaragqZ94vEnZcf2rdoZz2nQoDS4IFX1FeWoitDOWTWniH3fRTp0XsyKK3LOJzjj0Nei9MeVd5VfNVaRov6VFFvadUDRmpSZxSm5fvu6zI7NSq1Uf8uWQJHHmTt27nBPK9ifk0cjp0+fdtsEsWfi+p6tUsoWZV7T7ti4VQZ7+qQz06YBpAYyyki8pgMIDaoJUssqUx+QJzIwGSNzdAcgI3TCPeyT9oLMghiTvAZ92pFqZdgpQQzBeSFf0cCkT3KLFQ0Qz8mlCzdkcmpEA4JJ2bFjvfQPdsj6DQOyddsG98IKL1BhnwyGCHT5NOscLyIxh7Wke/BeUKdHKFgYU1mzB2g9MKgp3wy42HS+r3edTE4syHvvHpXjx09Jm3RrcJ1R20grctTOXVWKGGIVlpzE1b50UKMymMvl3Qsp69Zt0GCQganqN0lgk1UZMZDIapsg0IrI7Hxe5vPaqWnQGm2JyPjMmNwauymFmg4C1HCzSl9WB1hXblyWgbUZWbO2w+12UK0VnC3zyL6sgX8U+4qo/aqFuDWS2h6ZZa7PrtZRm4oLlbjMy3dxbZu8yNWb2CTVmQ65en5UPvvwS/n43eNy5suLGoxXJFZWPcbS0kK7Vn8S08zsz/vCCy/KkSPPaIehMnrvPfcYDp/HG7msWeUR3cYNm3UQkXHrQ2+PD2t5ZfU3Kenu7FedtasMdYCU6JaUohIs2fyU6m9Cg8tZF9jv3btT/vCP/kC+9a3nZP9ju7XTZyAxp5qbl1gbfsQp0/kAs0HsC/uDFpAZz2Kt3mZauzLSoYHuoNpQ//p+Gdq4RjZt3yj7D++TfYpD69c4e6G92+SH2bH5W8rHViraxrSRSjWa1CC1flSrZzGPBqXJZajdJ1Q6+pqBsL4DbAagEf5pi7QN5MJgvVQsuE/V1io5mZ0bl+HR6xqoXpW5hSk3YGIXl+07Nsrzzz+lA4M9sljOyaLmcfaiZYKA+UFD6KLNEyhwzxAekFmQfu4hP+tbOFI2PoWj9QUgeayf8IF8fv8Akha+g2mh0e8fDCwP950+l2gK5ufc0vpIXeTxZWHlAFYn+bkXBsEySUdd5POBMpAlZTubVhnaYIZ7Ps2UAx+U81WR8oK0gfDMsRkwGoJAGUEI1mN1oGfjz67RNpEBbZK4jjTIC3lQJ9eJ/7hOnqBNxH70ox+5QDUoZMASQzj3TSCAKRmkYLvfLFg+8kAcCuVaEMywfKIB8pqBGcKwNQbKQyAg93xlcR96g2UCfjoD0lP2VwXqwUgByuHcaA7KHYo0xqkHoU1ARUWuffQ9YM4GmVKPyTsMEm6fz6UTA+086VSNTkMMy3TiY1jZYdeNJtOB2Y3p/s41xWQsrk46rkEIddTzwBfAy4LMLmQAAP/0SURBVAJ1adVRLUkDDs2nwSPyhUZkbvXbl4jGxkY1uQbWUQ1YeOGgVpY9u3e4N4CLpXoQVl+TyhGatHwXqN5f/9TL5yapk7WahqYDlh7QGOfm5+TK5asycm1UioslyWhQwKMQ0u7fv9+93JNprV9jwfnU+LQGSyqLeIfypKP+/LwM9PfI5i0bpae3Q2uGXgIeaNZGrnKqKAaB2SZzCmYf0AV9yNzaIXIO6g2Ia7AdV5twMtGw1clE6WpJtroBwsjIhHxx8pQOCG5r0DKj5ZRkaO0a95iZdZGsA7b2RR3Ii7qL1bJkK8wqBo0wCKTXcGdhzDk9ZrPZroetkTLpDg3u+922PbzU8+EHH8no2Jh0Jzvd7COPd7u6OmTtujWSUD1kFxY1GCpIoZx13PBN9YmFCZmcHZd+le3+/XuUxqpMz0y4GVVetrGXvxigzM9yjR0E7u6Fy4z97Vv1T3tmc/UAgD1W5+YnNPBLyaZNWzSQG5DFhaxMT8+pzJi5Rk/IcgnZ2D0wKGJ7tHIZX6v6KrO2tSxlrXvi5qKcOnFePvjwA/n000/l9uhttemStGowboN+JgDwgQSgTz31lLz22h/Ixo1D8vnnX8qvf/1r9xlZbIIlXASqzADt27tXfw/K2PiIBjMMCHQgw2yyUsPgoI4MArXzKTMTvigJ3qLfsEFe+dbL8oM/+J788R//UNatX6t0F2VmZkoWFjXQ18EfM838+WD+xHwAtgH9PFmgzUAfgzdenDrw2AG3jpvlPexc0Nfb5+TvD3SxK2zM97WUDXLdfMjDBqv/qwK0QS+8Q7u7pjT3ZNp1UMBguN4Xt7XVl3CgM77wxRr7Pbt3S2dXlxvwFSr1J3UGlBukjfsmdz8tv/EDQeC6+WZ+UyZ5sXFosnsgcg6WCyD34LVGaaHNr5M6QMB0aWh6DgI0+uk4t5lh6DakTwNpKzxRoB4mDqzsZsDoDIItrbFADUS+1EU90A1dYCM+HhSQJeU3A9BgcvahWduG/rD2Rbk2AUn/Y0fKRR7YPPka2U/sz//8z92j/zCFmLFA+P2Mxe43C5aPPBBJft5AZYRmaNPEYQYAbTBjyLnRx29TvDkx0gCUZQIJU57l9YEyw+TTLCBDGgRAOZwb3UHeUM3XH6je60CY4SnrKN7oNAwLVCk3mB+wez5wznVkCu8gvwF+Ix9DAtVkTWW1VB/poBWAn2Wg6Qo56sKR1vWI3gHKZbsiXqgiUNVhlRQjKYknUu673+vXrdWgb4ObneAt+q8aqALIgS2KTDag0Qod2DqB6lUNVG9fHpbCQtFtCTQzP6PBqAaq+/a7NeA0ZPIRYN+6ddttml4pEqhVJFda0ICcF692yZqhfqer+wWqyJ1lD5TLYy3ka44aunAaIL/vke0SNApU4xqkEiCeP3dJTmoANDMzp4F2Qrp6UsrLOg36HnNLK3BIyAMZOTlpPei2UFFkbvteEwoATl2DpsJ0/ZR1pzXacUxaM50uWL15c0R+9fqbcuL4F+7Tpl3pNqW0Jq1tafdC1569OzUI61NbYoZ5VuaLMxLXYtraW2VycVJu3L6pckhocL1RZVHTAGtGA1XWEy/oQEh5VxlHIupjigys62+zIk9skxn7k1+cdG2E2XGWb6xbO+RefCkWstLV2Ss93f2Sz5VcsJpKtdZ5cLI0eaqt1QgU7Jqi8qdiczKenpoVtzfqrQn54I2j8tG7R91b+3SsbZk26e2q72lLkEfgyeN87Om1116TV155xd17772P5Je//KV7oYGXC4fWDLlBBI//SctOBbzdv2ZNv+zYvkWSLXGtd9wFp+5teB0YgcilrT2hMt0q39YA9Y/+6Ify4kvPyZatm7QdiQ60pmRickyDdh0gsZa8Ve0yUffDPthsPoD9gcgOWrARbBS6sVkCVoIJ2hE2RF76Cu6TjzT8pu1jb2bPhtwzH/KwwXh4EIB+bAranU9VO4rogAxfyGCDdvTEE0/KM888q8cn5LnnnnOBOzIpFPIyX8hJiVn4pfIAeA6jjQEMdoL9GnItLC10gdi5a7dqkARd/PZ9ucnb2rkPYf1Mo7TQwDUrkzpAgDw+Qlcwv/FM2T5yjXs+cE45+EbsinQEl5RJ2c2A0ekD5VKO8WJyIki15Yikob5GfDwMCOO5EZiOg0AZzQD0h7Uv+OY65fsIYOvWVslvevUh9u///b//a8sQhKCAVzIWu98sWD7yYBzQQEfql4kCuR7GOM7LT2vIdYyDzoJzFOQ6Dj2asMwJGH8+hCkVGhvJqBmgDugCKIdzazjQ5APUfN2BKvIIAp1QqbR4R66G8GHlGZpsg0C6YJ2ccx2ZksfsxtCugXENCOJuTW1zgWo2q2lYs7kkX/RuZRLwWaDKmshipEU74w5ZzM1Lf1+PbNu+SVpSWmcCDWij9ALVWiWl5VOuq2lFMJkH5WN00AnNz83L5UtX5ObFW1IkUFUHOTtf317nwP4Dbgsr2gS8st6a763nFqqyUCk4mRSq2rFr0PjkoUOyYeNaLZ9lCgQAWpdiRaOEYKAKHawTwkkSBEALHTwyQv+8TAMd0EonjwyDbSM0UFXkG+6Tk7Ny5vR5uXDhstPBunUDsmZtlwwNrXGzPsx+MVigTPiCHtqam2XQAJ1dGJb1rqGgCSK86c46UXVuOtDgkX5CUUt1y1guXrwqr7/+hoxqgLS2by2rEPVeWTuGVg2gNspjB/a4vTP5UMLY6LAGUiMqC5GOznaJZlpkZmFGZudYx1zVPBm3fyhbaRWKLJtQe9LgNRaNS3vbgPLJ4+X6uir4gD8G1wD2h1yZ/WL9NC9tLcznNKDo0XK7hY3wo1FsuS5D7EtbrY4zCFTrSxK4phavtGg6/T0zsyDXrtyUs6cvyqmTZ+X0ifMyMzrv6iFQQYfoFZ3yKJ/1zmyNdvjwYacD9PvZZ8fkb//2b90LDeRjZo4dAAho6TyxPbZsiqice/s6ZOeu7bJ5M+uMB3VQ1Od2bTDcvmOLHH5ynzz/4hOy/7FdbrDHi3OJZFRGRm/JQlZtWmWfcC+SqR9gKUzAlWMPzDphC7QR/CN08RuZYosWjNIW4A10dqPIPc4tH0hZlEkb4hxd+G3RfMjDBup9EEAW8GF0O8+pNJcWcu59UgJJBhO84MbAgjZFWyYPPPKlMJ5MsIjEb0rwHKSNaxYQm28CocH6KgPSks76FOpC9lamnx9EzqShLB/IH7zWKC1lc83KpA4QMF0aWp/qA3RCYzAtfBgvhpwjC+iwQRPXKbdZMDp9gCbqpCzaHoMAC1I5B6jLZAkdQT4eBlA28mgG4Nnk7ANlNAPQD79BQLaUwdFH5E6dyM54N135ECVhWMEABJMZhFGQAuw3YPetkmaB9Fa+leuP7EAcL8qzuu4HKNym2XFeGB1oNBsYrSaQIAbTgmHpGuFqwJcj4E6Xqje5VJeU6qcldT3pUuIAkI/0oPGAvK1B+YgBkd7SmKHi+IwnQ6OhGfDL89HoAYxHICytJnRHo3UlIB3FUqY1BGyCc5w/+aHePtlJA2H/UmwFm+Exo9V7BzUwpH3w6UnOg3SbPIxXX06WxmgBqYu3iwlgmElFkTzyJy/3sVeAc+olAOHxMrSzAbmWIrFITEramUxOTmn59cEOwTz1sbZSf9yhw0fA8axtiqNdIz/n5jBA49MHyscmfJ6RGbJj79Th4RENWvMq66R7+5tOtaOjPvsF2OxCmGwMwuq9CwSJvL3dfqeTpWx8BVsWsXaXbb8Y8MY1uMtk1LcltZPVcUYyVZN0a1R6els1yNroPoe7fdcG6WjTDqqW1c49q/e6paerR27evilvvvGmW7/JshijlxcXOdKR09FAAzyYjfE2/be//W33WJr7BFY3btyStky3ZBercvzYGfnk4y9kajIr6ZYubaRK2NJ32/ksZlTSUi6xvZPyFlffp1jTe6WC6rsQlamJRbl6ZUTOnbkqp05dcgOEru4uN3OKnWA7o+OjTi7MPDL7xlISglRk/8UXX7jZV76aNa8DNPTMMhOQ2bpMplUDc+QZU3kpX2U2+o/Ik8/slb/6H38kf/lv/gf513/5ozv4l//mR/Iv/+WfyPMvHJZ0huD0qtZ/TYplDZ5bCPSxgzbp6NKBsA4u+FhAmHat7dgRO4QXaGVwZZ0kckamzB7zm7Ton/RmQ1yzsgysXLPtMLD0pmvApwuwe3Y/CFa3jz4d9wPSQh/5AI6csyMBR3iGd2RiL4byJjVPIrMayOMv8Ff0F9bmwTB6qQsZs7yIMg0J8H36g2j8WNn+Neqx+sL4tjw+NkrLNf+6lW15AEsTpNEwCOTDXggWCRoNOae9YmcMNPFnnJtd+fSCwXrQTRgPAPXhJzhSJvVZvOXT3ij/asHkZHSvBD4PhquBRrIPA+jBbwaR9L78oN/060PsL/7iL/7a7yh8oAArhMykQ5kW2ABUhEJXI2jSUq51jJRrwQK/DanH0gaBvEE0wDAwCtdwlT4zDsqCbho89SEo48cQGswYKdNGOaQPpg1D8vq0GJjwjTeAOqAF2jBkrUiKWg9vcDOjWtZ7fMM7qw4Fp4IcrHOGJuhn9Fzj2WUAqCOoI+RC8G/yMcTpQR9y4pz0lQrrz3j84Yq4AyZrH8P0A5iOw9JSBwCN0Mp1u2bALEKSF4RUPtAM76TzeTNgbWpvz1o3y8Y9dIGMcL7kZT0Xgcc1xfaOHqlEWoX9Edta09Ld3SG7dm+XbTs2a0l8uz+iqDJbequ9s2ONyrz+eJeyQWSPrQDwZTIlIKBedASt0IHtgOgQeqB/44ZNEivFZHx4wuVtTbfK4vyiK4vAghdfCLpwnDc12JkcX5BMtFODmIqkVQ7tqquJyVF55tkn3CPam7euaX3ivhbES0HzS23J7JLf2JntZwcPlA1P6N34wQ5IR3of4KlaXJBSdkaDDQ2i4zhgdfjpdpmdWZT/+vc/cZ/NjMXYdSIjGzYOSWc3m8P3OVlQH
[...]
